<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>费用管理</title>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/layui/css/layui.css" media="all" />
    <script type="text/javascript" src="/plugins/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/plugins/upLoadTree/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/plugins/fileUpload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/plugins/fileUpload/jquery.fileupload.js"></script>
    <script src="/build/js/appToken.js"></script>
    <style type="text/css">
        .layui-form-item {
            border-bottom: 2px solid #DBDBDB;
            /*下边框线*/
        }

        .layui-form-item .layui-form-label {
            width: 30%
        }

        .layui-form-item .layui-input-block {
            margin-left: 35%;
            width: 60%;
        }

        .input-border-none {
            border: none;
            font-size: 14px;
            width: 100%;
        }

        .input-border-input {
            font-size: 14px;
            width: 100%;
        }

        .layui-row .grid-demo {
            margin-left: 1%;
            width: 90%;
        }

        .td_label {
            font-weight: bolder;
        }

        .input_label {
            color: #FF3030;
        }

        .selectFile {
            padding: 4px 10px;
            height: 20px;
            line-height: 20px;
            position: relative;
            border: 1px solid #999;
            text-decoration: none;
            color: #666;
        }

        .uploadFile {
            position: absolute;
            overflow: hidden;
            right: 0;
            top: 0;
            opacity: 0;
        }
    </style>

</head>

<body>
    <div id="app" v-cloak>
        <Row style="padding:10px">
            <i-col span="24">
                <Card>
                    <p slot="title">
                        <Icon type="ios-search" />搜索条件</p>

                    <div class="layui-btn-group" slot="extra">
                        <button class="layui-btn layui-btn-sm" @click="search" ht-auth="search">
                            <span v-if="!loading"> <i class="layui-icon">&#xe615;</i>查询</span>
                            <span v-else><i
                                    class="layui-icon layui-anim layui-anim-rotate layui-anim-loop">&#xe63e;</i>查询中...</span>
                        </button>
                        <button class="layui-btn layui-btn-sm" @click="daochu">
                            <span v-if="!loading"> <i class="layui-icon">&#xe615;</i>导出</span>
                            <span v-else><i
                                    class="layui-icon layui-anim layui-anim-rotate layui-anim-loop">&#xe63e;</i>导出中...</span>
                        </button>
                        <button class="layui-btn layui-btn-sm"
                            @click="editForm.accountId=null;editModal=true;">导入</button>
                        <button class="layui-btn layui-btn-sm" @click="deleteAll">删除</button>
                    </div>
                    <i-form ref="searchForm" :model="searchForm" label-position="right" label-width="100">
                        <Row :gutter="1">
                            <i-col span="5">
                                <form-item label="开票日期：从" prop="openDate">
                                    <date-picker type="date" v-model="searchForm.condition.GE_ping_zheng_ri_qi"
                                        placement="bottom-end" placeholder="开始日期" style="width: 200px"></date-picker>

                                    <!--<date-picker  v-model="searchForm.showRepayDateBegin" type="date" placeholder="Select date"   style="width: 200px"></date-picker>-->
                                </form-item>
                            </i-col>
                            <i-col span="1">
                                <form-item label="至">
                                </form-item>
                            </i-col>
                            <i-col span="2">
                                <form-item label="" prop="openDate">
                                    <date-picker type="date" v-model="searchForm.condition.LE_ping_zheng_ri_qi"
                                        placement="bottom-end" placeholder="结束日期" style="width: 200px"></date-picker>

                                    <!--<date-picker  v-model="searchForm.showRepayDateBegin" type="date" placeholder="Select date"   style="width: 200px"></date-picker>-->
                                </form-item>
                            </i-col>
                        </Row>

                    </i-form>
                </Card>
            </i-col>
        </Row>

        <Row style="padding:10px">
            <i-col span="24">
                <table id="main_table" lay-filter="main_table"></table>
                <!--                     <script type="text/html" id="bar_tools"> 
                        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>&ndash;&gt;
                        <a class="layui-btn layui-btn-xs layui-btn-danger " lay-event="del">删除</a>
                    </script>-->
                <i-table ref="selection" :columns="table.col" :data="table.data" :loading="table.loading"
                    @on-selection-change="requires" stripe></i-table>
                <p style="text-align: center; margin-top: 20px;">
                    <Page :total="table.total" :page-size="searchForm.size" @on-change="paging"
                        :current="searchForm.current" show-total></Page>
                </p>
            </i-col>
        </Row>


        <Modal :title="editModalTitle" v-model="editModal" :loading="editModalLoading" @on-ok="hideEditModal"
            :styles="{top: '150px'}" width="70" height="100">
            <i-form ref="editForm" :model="editForm" :rules="ruleValidate" label-position="right" label-width="50">
                <i-col span="6">
                    <form-item label="开票日期" prop="openDate">
                        <date-picker type="date" v-model="editForm.openDate" placement="bottom-end" placeholder="开票日期日期"
                            style="width: 200px"></date-picker>

                        <i-input v-model="editForm.feeType" value="3" style="visibility:hidden; display:none"></i-input>
                    </form-item>
                </i-col>
           


                <i-col span="6">

                    <Upload ref="upload" :action="upload.url" :multiple=false :with-credentials=true
                        :on-success="uploadSuccess" :format="['xls','xlsx']" :before-upload="beforeUpLoadFile"
                        :show-upload-list=false :data="editForm" style="float: left;margin-left: 10px">
                        <i-button type="info" icon="ios-cloud-upload-outline">导入</i-button>
                    </Upload>

                    <Upload ref="uploadCertify" :action="uploadCertify.url" :multiple=false :with-credentials=true
                        :on-success="uploadSuccess" :format="['xls','xlsx']" :before-upload="beforeUpLoadFile"
                        :show-upload-list=false :data="editForm" style="float: left;margin-left: 10px">
                        <i-button type="info" icon="ios-cloud-upload-outline">采购认证导入</i-button>
                    </Upload>


                </i-col>

            </i-form>
        </Modal>



        <Modal title="設置科目" v-model="subjectModal" :closable="false" :mask-closable="false" @on-ok="submitSubjectForm">
            <i-form ref="editForm" :model="editForm" :rules="ruleValidate" label-position="right" label-width="100">

                <Row :gutter="16" style="margin-top: 15px;">
                    <i-col span="20">
                        <!--                                  <Form-item label="科目大类名称:" prop="id"> -->
                        <!--                                      <i-select v-model="subjectForm.id"  @on-change="getSmallSubject" clearable filterable> -->
                        <!--                                          <i-option v-for="item in companyList" :value="item.areaId" :key="item.areaId">{{item.areaName}}</i-option> -->
                        <!--                                          <i-option v-for="item in bigSubjects" :value="item.id" :key="item.id">{{item.subjectName}}</i-option> -->
                        <!--                                      </i-select> -->
                        <!--                                  </Form-item> -->
                        <Form-item label="科目名称:" prop="smallId">
                            <i-select v-model="subjectForm.smallId" clearable filterable>
                                <!--<i-option v-for="item in companyList" :value="item.areaId" :key="item.areaId">{{item.areaName}}</i-option>-->
                                <i-option v-for="item in smallSubjects" :value="item.id" :key="item.id">
                                    {{item.id}}----{{item.subjectName}}</i-option>
                            </i-select>
                        </Form-item>
                    </i-col>
                </Row>
            </i-form>
        </Modal>
       <Modal title="修改" v-model="updateModal" :closable="false" :mask-closable="false"  @on-ok="submitUpdateForm">
                 <i-form ref="updateForm" :model="updateForm" :rules="ruleValidate" label-position="right" label-width="150">
                     
                        <Form-item label="凭证号：" prop="pingZhengHao">
                            <i-input v-model="updateForm.pingZhengHao"></i-input>
                        </Form-item>
                        <Form-item label="发票号码：" prop="invoiceNumber">
                           <i-input v-model="updateForm.invoiceNumber" ></i-input>
                       </Form-item>
                       <Form-item label="摘要：" prop="zhaiYao">
                           <i-input v-model="updateForm.zhaiYao" ></i-input>
                       </Form-item>
                       <Form-item label="科目代码：" prop="keMuDaiMa">
                           <i-input v-model="updateForm.keMuDaiMa" ></i-input>
                       </Form-item>
                       <Form-item label="原币金额：" prop="localAmount">
                           <i-input v-model="updateForm.localAmount" ></i-input>
                       </Form-item>
                </i-form>
           
            </Modal>


    </div>
    <script src="/plugins/vue/vue.min.js"></script>
    <script src="/plugins/iview/js/iview.js"></script>
    <script src="/plugins/layui/layui.js"></script>
    <script src="/plugins/axios/axios.min.js"></script>
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <script src="/properties/config.js"></script>
    <script src="/build/js/appToken.js"></script>
    <script src="/src/js/comm.js"></script>
    <script src="/src/js/finance/pay.js"></script>
</body>

</html>