<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.assets.car.mapper.CarMapper">

	<resultMap id="getMaxOfferPriceResult" type="HashMap">
		<result property="regTel" column="reg_tel" />
		<result property="offerAmount" column="offer_amount" />

	</resultMap>
	<select id="selectCarPage" resultType="com.hongte.alms.base.assets.car.vo.CarVo"
		parameterType="com.hongte.alms.base.assets.car.vo.CarReq">
		select
		car.business_id,<!--业务编号 -->
		bus.district_name,<!-- 地区 -->
		bus.company_name,<!-- 分公司名称 -->
		bus.customer_name,<!-- 客户姓名 -->
		pl.borrow_money,<!-- 借款金额 -->

		(select
		ifnull(sum(ifnull(detail.fact_amount,0)),0) from
		tb_repayment_biz_plan_list li join tb_repayment_biz_plan_list_detail detail on li.plan_list_id=detail.plan_list_id
		where li.current_status='已还款' and
		li.plan_id=pl.plan_id) repaid_amount, <!-- 已还金额 -->
		car.license_plate_number,<!-- 车牌号 -->
		car.model,<!-- 车辆型号 -->
		det.evaluation_amount,<!-- 评估金额 -->
		date_format(det.create_time,'%Y-%m-%d') evaluation_date,<!-- 评估日期 -->
		date_format(drag.drag_date,'%Y-%m-%d') trailer_date,<!-- 拖车日期 -->
		drag.id  drag_id,<!-- 拖车id -->
		case
		when car.status='01' then '待处置'
		when car.status='02' then '拍卖中'<!-- 状态 -->
		when car.status='03' then '已拍卖'
		when car.status='04' then '已结清'
		when
		car.status='05' then '已转公车'
		when car.status='06' then '已移交法务'
		when
		car.status='07' then '已撤销'
		when car.status='08' then '转公车申请中'
		when car.status='09' then '拍卖审核中'
		when car.status='10' then '转公车审核中'
		when car.status='11' then '已归还'
		else ''
		end status
		from tb_car_basic car
		join tb_basic_business bus on
		car.business_id=bus.business_id
		<!-- join tb_basic_company com on bus.asset_id=com.asset_side_id -->
		join tb_repayment_biz_plan pl on pl.business_id=bus.business_id
		 join
		tb_car_drag drag on drag.business_id=bus.business_id
		left
		join tb_car_detection det on IFNULL(car.last_detection_id,0)=det.id
		<!-- JOIN tb_sys_user_permission as permission  ON  permission.business_id = bus.business_id -->

		<where>
			not EXISTS (select * from tb_car_return_reg reg where drag.id=reg.drag_id)
			<if test="businessId !=null and businessId !=''">
				and bus.business_id LIKE "%"#{businessId}"%"
			</if>
			<if test="areaId !=null and areaId !=''">
				and bus.district_id = #{areaId}
			</if>
			<if test="companyId !=null and companyId !=''">
				and bus.company_id = #{companyId}
			</if>
			<if test="customerName !=null and customerName !=''">
				and bus.customer_name LIKE "%"#{customerName}"%"
			</if>
			<if test="licensePlateNumber !=null and licensePlateNumber !=''">
				and car.license_plate_number LIKE "%"#{licensePlateNumber}"%"
			</if>
		
			<if test="model !=null and model !=''">
				and car.model LIKE "%"#{model}"%"
			</if>
			<if test="status !=null and status !=''">
				and car.status= #{status}
			</if>
			<if test="trailerStartDate != null">
            and drag.drag_date &gt;=#{trailerStartDate}
			</if>
			<if test="trailerEndDate != null ">
            and drag.drag_date &lt;=#{trailerEndDate}
			</if>
<!-- 			<if test="userId !=null and userId !=''">
				and permission.user_id = #{userId}
			</if> -->
			<if test="userId !=null and userId !='' and needPermission == 1">
                and bus.business_id in (
					select business_id from tb_sys_user_permission where user_id = #{userId} and page_type = 2   	
                )
            </if>
		</where>
		order by bus.update_time desc
		limit ${(page-1) * limit},
		#{limit,jdbcType=DECIMAL}
	</select>

	<select id="selectCarPageCount" resultType="int"
		parameterType="com.hongte.alms.base.assets.car.vo.CarReq">
		select
		count(1)
		from tb_car_basic car
		join tb_basic_business bus on
		car.business_id=bus.business_id
		<!-- join tb_basic_company com on bus.asset_id=com.asset_side_id -->
		join tb_repayment_biz_plan pl on pl.business_id=bus.business_id
		left
		join tb_car_detection det on det.business_id=bus.business_id
		 join
		tb_car_drag drag on drag.business_id=bus.business_id
		<!-- JOIN tb_sys_user_permission as permission  ON  permission.business_id = bus.business_id -->
		<where>
			<if test="businessId !=null and businessId !=''">
				and bus.business_id LIKE "%"#{businessId}"%"
			</if>
			<if test="areaId !=null and areaId !=''">
				and bus.district_id = #{areaId}
			</if>
			<if test="companyId !=null and companyId !=''">
				and bus.company_id = #{companyId}
			</if>
			<if test="customerName !=null and customerName !=''">
				and bus.customer_name LIKE "%"#{customerName}"%"
			</if>
			<if test="licensePlateNumber !=null and licensePlateNumber !=''">
				and car.license_plate_number LIKE "%"#{licensePlateNumber}"%"
			</if>
			<if test="model !=null and model !=''">
				and car.model LIKE "%"#{model}"%"
			</if>
			<if test="status !=null and status !=''">
				and car.status= #{status}
			</if>
			<if test="trailerStartDate != null ">
            and drag.drag_date &gt;=#{trailerStartDate}
			</if>
			<if test="trailerEndDate != null ">
            and drag.drag_date &lt;=#{trailerEndDate}
			</if>
			<if test="userId !=null and userId !='' and needPermission == 1 ">
				and bus.business_id in (
					select business_id from tb_sys_user_permission where user_id = #{userId} and page_type = 2	
                )
			</if>
		</where>
	</select>





	<!-- 查询车辆拍卖信息返回app端 -->

	<select id="selectAuctionsPageForApp" resultType="com.hongte.alms.base.assets.car.vo.AuctionRespVo">


		select
		tca.auction_id auctionId,					<!-- 拍卖ID -->
		tca.business_id,<!-- 业务编号id -->
		tca.starting_price startPrice,					<!-- 起拍价 -->
		tca.auction_start_time startPriceDate,							<!-- 活动开始时间 -->
		tca.auction_end_time endPriceDate,						<!-- 活动结束时间 -->
		tca.consultant contacts,				<!-- 咨询联系人 -->
		tca.consultant_tel telephone,					<!-- 咨询联系人 -->
		tca.payment_method paymentMethod,<!-- 支付方式 -->
		tca.auction_position auctionPosition,<!--交易地点-->
		tca.remark   remark,<!-- 拍卖备注-->
		(case when tca.auction_start_time&lt;=DATE_FORMAT(now(),'%Y-%m-%d') then  tca.bidder_count
		else 0 end) bidderCount,<!-- 出价人数量-->
		tcb.brand_name vehicleBrand ,		<!--车辆品牌 -->
		case
		when tcb.origin_place=0 then '国产'
		when tcb.origin_place=1 then '进口'
		else ''
		end carproduction ,					<!--汽车产地 -->
		tcb.color carColour ,<!--车辆颜色 -->
		tcb.model carModel ,<!--车辆型号 -->
		tcb.license_location vehicleTerritory,<!-- 汽车属地 -->
		concat(tcb.displacement,tcb.displacement_unit) displacement ,	<!--排量 -->
		tcb.engine_model engineNumber ,<!--发动机号 -->
		tcb.vin frameNumber ,<!--车架号 -->
		det.user_nature useProperty ,														<!--使用性质 -->
		det.insurance_expiration_date insuranceDate ,<!--保险到期日 -->
		det.annual_verification_expiration_date inspectionDate ,         <!--年检到期日 -->
		det.odometer mileage ,<!--车显里程 -->
		det.vehicle_license_registration_date registerDate ,             <!--首次登记年月 -->
		case
		when det.is_mortgage=false then '未抵押'
		when det.is_mortgage=true
		then '抵押'
		else ''
		end mortgageState ,<!--车辆抵押状态 -->
		det.traffic_violation_situation illegal ,<!--违章未处理记录 -->
		det.tool_with_car tools ,<!--随车工具 -->
		det.transaction_mode transactionMode ,<!-- 交易方式 -->
		det.car_position position , <!-- 车辆位置 -->
		det.related_docs file  , <!--提供文件 -->
		det.remark remarks,
		(select trans_price  from tb_car_auction_reg a where a.auction_id=tca.auction_id and a.is_auction_success=true) tranPrice <!--成交价 -->
		from tb_car_auction tca
		join tb_car_basic tcb on
		tca.business_id=tcb.business_id
		join tb_car_detection det on tcb.last_detection_id=det.id
		join tb_process tp on
		tcb.business_id=tp.business_id and
		tp.process_result=1
		join
		tb_process_type tpt on tpt.type_id=tp.process_typeid and
		tpt.type_code='carAuctionAply'
		<where>
			tca.status in ('04','05')
			<if test="type !=null  and type!=''">
				and tca.status =#{type}
			</if>
			<if test="vehicleBrand !=null and vehicleBrand !='' and  carModel !=null and carModel !=''">
				and (tcb.brand_name LIKE "%"#{vehicleBrand}"%" or tcb.model LIKE "%"#{carModel}"%")
			</if>
			<choose>
				<when test="auctionId !=null  and auctionId !=''">
					and tca.auction_id  =#{auctionId}
				</when>
				<otherwise>
					and tca.auction_end_time>=DATE_FORMAT(now(),'%Y-%m-%d')
				</otherwise>
			</choose>
		</where>
		order BY tca.auction_end_time DESC
		limit ${(page-1) * limit},   #{limit}
	</select>

	<select id="selectAuctionsCountForApp" resultType="int">

		select
		count(1)

		from tb_car_auction tca
		join tb_car_basic tcb on
		tca.business_id=tcb.business_id
		join tb_car_detection det on tcb.last_detection_id=det.id
		join tb_basic_business bus on
		tcb.business_id=bus.business_id
		
		join tb_process tp on
		tcb.business_id=tp.business_id and
		tp.process_result=1
		join
		tb_process_type tpt on tpt.type_id=tp.process_typeid and
		tpt.type_code='carAuctionAply'
		<where>
			tca.status in ('04','05')
			<if test="type !=null  and type!=''">
				and tca.status =#{type}
			</if>
			<if test="vehicleBrand !=null and vehicleBrand !='' and  carModel !=null and carModel !=''">
				and (tcb.brand_name LIKE "%"#{vehicleBrand}"%" or tcb.model LIKE "%"#{carModel}"%")
			</if>
			<choose>
				<when test="auctionId !=null  and auctionId !=''">
					and tca.auction_id  =#{auctionId}
				</when>
				<otherwise>
					and tca.auction_end_time>=DATE_FORMAT(now(),'%Y-%m-%d')
				</otherwise>
			</choose>
		</where>
	</select>
	<select id="selectBiddersPageForApp" resultType="com.hongte.alms.base.assets.car.vo.AuctionBidderVo">
		select
		tcab.bidder_name bidderName,  <!-- 用户姓名 -->
		tcab.bidder_cert_id bidderCertId, <!-- 身份证号码 -->
		tcab.bidder_tel bidderTel, <!-- 联系方式 -->
		tcab.trans_account_name transAccountName, <!-- 转账账户 -->
		tcab.trans_account_num transAccountNum,  <!-- 转账卡号 -->
		tcab.trans_account_num transAccountNum,  <!-- 转账银行 -->
		tcar.reg_id regId,   <!-- 拍卖登记id -->
		tcar.business_id businessId,  <!-- 资产端业务编号 -->
		tcar.is_pay_deposit isPayDeposit,  <!-- 是否缴纳保证金 -->
		case
		  when tcar.is_pay_deposit=0 then '否'
		   when tcar.is_pay_deposit=1 then '是'
		else ''
		end payDepositStr,
		
		tcar.offer_amount offerAmount,  <!-- 出价金额 -->
		tcar.is_auction_success isAuctionSuccess,  <!-- 是否竞拍成功 -->
		case 
			when tcar.is_auction_success=0 then '否'
			when tcar.is_auction_success=1 then '是'
		else ''
		end auctionSuccessStr,
		tcar.trans_price transPrice,   <!-- 成交价格 -->
		tcar.auction_id auctionId,  <!-- 竞拍id -->
		tcar.update_user updateUser,  <!-- 更新人 -->
		tcar.update_time updateTime  <!-- 更新人 -->
		from
		tb_car_auction_bidder tcab
		join tb_car_auction_reg tcar on
		tcar.reg_tel=tcab.bidder_tel
		join tb_car_auction tca on
		tca.auction_id=tcar.auction_id
		<where>
			<!--<if test="type=='1'.toString()"> 
				and tcar.is_pay_deposit= #{isPayDeposit}
			</if>已报名 -->

			<if test="priceID !=null and priceID !=''">
				and tcar.auction_id= #{priceID}
			</if>
			<if test="telephone !=null and telephone !=''">
				and tcar.reg_tel= #{telephone}
			</if>
		</where>
		order BY tcar.update_time
		limit ${(page-1) * limit},
		#{limit}

	</select>
	<select id="selectBiddersCountForApp" resultType="int">
		select count(*)
		from
		tb_car_auction_bidder tcab
		join tb_car_auction_reg tcar on
		tcar.reg_cert_id=tcab.bidder_cert_id
		join tb_car_auction tca on
		tca.auction_id=tcar.auction_id

			<if test="priceID !=null and priceID !=''">
				and tcar.auction_id= #{priceID}
			</if>
			<if test="telephone !=null and telephone !=''">
				and tcar.reg_tel= #{telephone}
			</if>

	</select>
	<select id="selectMaxOfferPriceByAuctionId" resultMap="getMaxOfferPriceResult">

		select tcar.reg_tel,ifnull(max(tcar.offer_amount),tca.starting_price) offer_amount FROM
		tb_car_auction tca 
		left join  tb_car_auction_reg tcar on
		tca.auction_id=tcar.auction_id
		<where>

			<if test="auctionId !=null and auctionId !=''">
				and tca.auction_id= #{auctionId}
			</if>
		</where>
	</select>
	<select id="selectMyBidCarsForApp" resultType="com.hongte.alms.base.assets.car.vo.MyBadeCarVo">
		select
		tcb.brand_name vehicleBrand,		<!--车辆品牌 -->
		tcb.model carModel,<!--车辆型号 -->
		tca.auction_id auctionId,					<!-- 拍卖ID -->
		tca.business_id businessId,<!-- 业务编号id -->
		tca.auction_start_time startPriceDate,							<!-- 活动开始时间 -->
		tca.auction_end_time endPriceDate,						<!-- 活动结束时间 -->
		det.car_position `position`,<!-- 车辆位置 -->
		tcr.offer_amount myPrice
		from tb_car_auction tca
		inner join tb_car_basic tcb on tca.business_id=tcb.business_id
		inner join tb_car_detection det on tcb.last_detection_id=det.id
		inner join tb_car_auction_reg tcr on tca.auction_id=tcr.auction_id
		<where>
			<if test="userId !=null  and userId!=''">
				and tcr.user_id =#{userId}
			</if>
			<if test="vehicleBrand !=null and vehicleBrand !='' and  carModel !=null and carModel !=''">
				and (tcb.brand_name LIKE "%"#{vehicleBrand}"%" or tcb.model LIKE "%"#{carModel}"%")
			</if>
			order BY tca.auction_end_time asc
		</where>
	</select>

		<select id="selectAuctionsRegPageForApp" resultType="com.hongte.alms.base.assets.car.vo.AuctionRespVo">

		select
		tca.auction_id auctionId,					<!-- 拍卖ID -->
		tca.business_id,<!-- 业务编号id -->
		tca.starting_price startPrice,					<!-- 起拍价 -->
		tca.auction_start_time startPriceDate,							<!-- 活动开始时间 -->
		tca.auction_end_time etartPriceDate,						<!-- 活动结束时间 -->
		tca.consultant contacts,				<!-- 咨询联系人 -->
		tca.consultant_tel telephone,					<!-- 咨询联系人 -->
			case
			when tca.pay_way='01' then '竞买成功后，尾款线下支付'
			when tca.pay_way='02'
			then '竞买成功后，尾款线上支付'
			else ''
			end paymentMethod,<!-- 支付方式 -->
		case
        tca.car_position auctionPosition,<!-- 车辆位置 -->
		tca.remark   remark,<!-- 拍卖备注-->

		tcb.brand_name vehicleBrand ,		<!--车辆品牌 -->
		case
		when tcb.origin_place=0 then '国产'
		when tcb.origin_place=1 then '进口'
		else ''
		end carproduction ,					<!--汽车产地 -->
		tcb.color carColour ,<!--车辆颜色 -->
		tcb.model carModel ,<!--车辆型号 -->
		tcb.license_location vehicleTerritory,<!-- 汽车属地 -->
		concat(tcb.displacement,tcb.displacement_unit) displacement ,	<!--排量 -->
		tcb.engine_model engineNumber ,<!--发动机号 -->
		tcb.vin frameNumber ,<!--车架号 -->
		det.user_nature useProperty ,														<!--使用性质 -->
		det.insurance_expiration_date insuranceDate ,<!--保险到期日 -->
		det.annual_verification_expiration_date inspectionDate ,         <!--年检到期日 -->
		det.odometer mileage ,<!--车显里程 -->
		det.vehicle_license_registration_date registerDate ,             <!--首次登记年月 -->
		case
		when det.is_mortgage=false then '未抵押'
		when det.is_mortgage=true
		then '抵押'
		else ''
		end mortgageState ,<!--车辆抵押状态 -->
		det.traffic_violation_situation illegal ,<!--违章未处理记录 -->
		det.tool_with_car tools ,<!--随车工具 -->
		det.transaction_mode transactionMode ,<!-- 交易方式 -->
		det.car_position position , <!-- 车辆位置 -->
		det.related_docs file  , <!--提供文件 -->
	    det.remark remarks
		from tb_car_auction tca
		join tb_car_basic tcb on
		tca.business_id=tcb.business_id
		join tb_car_detection det on tcb.last_detection_id=det.id
		join tb_process tp on
		tcb.business_id=tp.business_id and
		tp.process_result=1
		join
		tb_process_type tpt on tpt.type_id=tp.process_typeid and
		tpt.type_code='carAuctionAply'
		<where>
			tca.status in ('04','05')
			<if test="type !=null  and type!=''">
				and tca.status =#{type}
			</if>
			<if test="auctionId !=null  and auctionId !=''">
				and tca.auction_id  =#{auctionId}
			</if>
			<if test="vehicleBrand !=null and vehicleBrand !='' and  carModel !=null and carModel !=''">
				and (tcb.brand_name LIKE "%"#{vehicleBrand}"%" or tcb.model LIKE "%"#{carModel}"%")
			</if>

		</where>
		order BY tca.auction_end_time asc
		limit ${(page-1) * limit},
		#{limit}
		
		</select>

		
		<select id="selectAuctionsRegCountForApp" resultType="int">

		select
		count(*)
		
		from tb_car_auction tca
		join tb_car_basic tcb on
		tca.business_id=tcb.business_id
		join tb_car_detection det on tcb.last_detection_id=det.id
		join tb_process tp on
		tcb.business_id=tp.business_id and
		tp.process_result=1
		join
		tb_process_type tpt on tpt.type_id=tp.process_typeid and
		tpt.type_code='carAuctionAply'
		join tb_car_auction_reg tcar on	tca.auction_id=tcar.auction_id
		join tb_car_auction_bidder tcab on tcar.reg_tel=tcab.bidder_tel
		<where>
			<!--<if test="type=='1'.toString()"> 
				and tcar.is_pay_deposit= #{isPayDeposit}
			</if>已报名 -->
			<if test="type=='2'.toString()"><!-- 已竞买 -->
				and tcar.is_auction_success= ${1}
			</if>
			<if test="priceID !=null and priceID !=''">
				and tcar.auction_id= #{priceID}
			</if>
			<if test="telephone !=null and telephone !=''">
				and tcar.reg_tel= #{telephone}
			</if>
			<if test="vehicleBrand !=null and vehicleBrand !='' and carModel !=null and carModel !=''">
			
			    and (tcb.brand_name LIKE "%"#{vehicleBrand}"%" or tcb.model LIKE "%"#{carModel}"%")
			</if>

		</where>	
	</select>

     <select id="selectBusinessBids" resultType="com.hongte.alms.base.assets.car.vo.BusinessBidsVo">
		SELECT
			c.reg_id id,
			c.rowNum seqNum,
			c.username userName,
			c.reg_cert_id idCard,
			c.reg_tel telephone,
			c.offer_time bidTime,
			c.offer_amount bidPrice,
			c.remark remark,
			c.is_auction_success isAuctionSuccess
		FROM
			(
				SELECT
					* ,@i :=@i + 1 rowNum
				FROM
					tb_car_auction_reg a,
					(SELECT @i := 0) AS b

					<where>
						a.business_id=#{businessId}
						<if test="keyword!=null and keyword!=''">
							AND (
							a.username LIKE "%"#{keyword}"%"
							OR a.reg_cert_id LIKE "%"#{keyword}"%"
							OR a.reg_tel LIKE "%"#{keyword}"%"
							)
						</if>
					</where>
				 ORDER BY
				 a.offer_time DESC
			) AS c

	 </select>
</mapper>
