.table {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.tr {

}

.td {
    width: 33.3%;
    margin-right: 0.03%;
    float: left;
}
.td_2 {
    width: 25%;
    margin-right: 1;
    float: left;
}

.td_2 .td-box {
    float:left;
    text-align: center;
    width: 50%;
    height: 50px;
    line-height: 50px;
    /*font-size:16px;*/
    padding:1px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow:ellipsis;
    text-overflow: ellipsis;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}

.td .td-box {
    float:left;
    text-align: center;
    width: 50%;
    height: 50px;
    line-height: 50px;
    /*font-size:16px;*/
    padding:1px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow:ellipsis;
    text-overflow: ellipsis;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}