<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>宝付代扣流水</title>
    <script src="/properties/config.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css"/>
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/2.13.1/css/iview.css" />
    <!--@import url("//unpkg.com/iview/dist/styles/iview.css");-->
    <!--<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>

    <!--   <script src="//unpkg.com/vue/dist/vue.js"></script>
       <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/2.13.1/js/iview.min.js"></script>
    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>
    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>


</head>
<body>
<!--隐藏元素-->
<!--<p id="staffType"  th:attr="value=${staffType}"  hidden />-->
<!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
<div id="app" v-cloak>

    <!-- 搜索工具框 开始-->
    <row style="padding: 10px">
        <i-col span="24">
            <Card>
                <p slot="title">
                    <Icon type="ios-search"></Icon>
                    搜索条件
                </p>

<!--                 <div class="layui-btn-group" slot="extra"> -->
<!--                     <i-button type="primary" slot="extra" @click="toLoading" v-if="authValid('search')" style="margin-right:10px"> -->
<!--                         <span v-if="!loading">查询</span> -->
<!--                         <span v-else>查询中...</span> -->
<!--                     </i-button> -->
<!--                     <i-button type="primary" slot="extra" v-if="authValid('reset')" @click="handleReset('searchForm')" style="margin-right:10px"> -->
<!--                         <span>重置</span> -->
<!--                     </i-button> -->
<!--                 </div> -->


                <row :gutter="16">
                    <i-form ref="searchForm" :model="searchForm" label-position="right"
                            :label-width="100">
                        <i-col span="16">
                            <form-item label="清算日期：" prop="startTime">
                                <date-picker type="date" v-model="searchForm.startTime" @on-change="startTime"
                                             placeholder="选择日期"
                                             format="yyyy-MM-dd"
                                             style="width: 200px"></date-picker>
                                <span>至</span>
                                <date-picker type="date" v-model="searchForm.endTime"  @on-change="endTime"
                                             placeholder="选择日期"
                                             format="yyyy-MM-dd"
                                             style="width: 200px"></date-picker>
                                </span>
                            </form-item>
                            
                            
                        </i-col>

                    </i-form>
                </row>
                     <div style="text-align: left;">
                    <button class="layui-btn layui-btn-sm" @click="toLoading" v-if="authValid('search')">
                        <span v-if="!loading"><i class="layui-icon">&#xe615;</i>查询</span>
                        <span v-else><i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop">&#xe63e;</i>查询中...</span>
                    </button>
                    <button class="layui-btn layui-btn-sm" v-if="authValid('reset')" @click="handleReset('searchForm')">
                        <span>重置</span>
                    </button>
<!--                     <button class="layui-btn layui-btn-sm" id="exportBtn" v-if="authValid('export')" -->
<!--                             @click="clickExport"> -->
<!--                         <span v-if="!exporting">导出</span> -->
<!--                         <span v-else><i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop">&#xe63e;</i>导出中...</span> -->
<!--                     </button> -->
    <button class="layui-btn layui-btn-sm" id="exportBtn" 
                            @click="clickExport">
                        <span>导出</span>
                    </button>
                </div>
            </Card>
        </i-col>
    </row>
    <!-- 搜索工具框 结束-->



    <!-- 表单Grid，使用layerUI的表格组件 开始 -->
    <row style="padding: 10px">
        <i-col span="24">
            <!-- 使用方法渲染模式 -->
            <p>交易总笔数：{{summary.totalNumber}}, &nbsp;&nbsp;交易总金额（元）：{{numeral(summary.totalAmount).format('0,0.00')}},  &nbsp;&nbsp;手续费合计（元）：{{numeral(summary.totalServiceCharge).format('0,0.00')}}</p>
            <table id="listTable" lay-filter="listTable"></table>
        </i-col>
    </row>
    <!-- 表单Grid，使用layerUI的表格组件 结束 -->

    <!--导出Excel隐藏表单-->
    <iframe id="frame" name="iframe" style="display:none;"></iframe>
    <!--导出Excel隐藏表单-->


</div>
<script src="/src/js/numeral.min.js"></script>
<script src="/src/js/finance/bfWithholdRepayFlowList.js"></script>
<script>

</script>
</body>
</html>