<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/iview/2.13.1/css/iview.css" />
    <title>财务管理</title>
    <style>
    .menuItem{
        margin-top: 10px
    }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <layout>
            <Header>
                <i-form ref="form" show-message label-width="90" label-position="right" inline autocomplete="off" model="form" style="text-align: right;">
                    <form-item label="客户姓名">
                        <i-input v-model="form.customer"></i-input>
                    </form-item>
                    <form-item label="业务编号">
                        <i-input v-model="form.businessId"></i-input>
                    </form-item>
                    <form-item label="是否本金到期">
                        <i-select v-model="form.principalDeadLine" placeholder="请选择">
                            <i-option value="1">是</i-option>
                            <i-option value="0">否</i-option>
                        </i-select>
                    </form-item>
                    <form-item label="会计确认状态">
                        <i-select v-model="form.accountantConfirmStatus" placeholder="请选择" style="width: 100px">
                            <i-option v-for="item in accountingConfirmStatus" :value="item.paramValue" >{{item.paramName}}</i-option>
                        </i-select>
                    </form-item>
                    <form-item label="分公司">
                        <i-select v-model="form.companyId" placeholder="请选择" filterable style="width: 180px">
                            <i-option v-for="item in companys" :value="item.areaId" >{{item.areaName}}</i-option>
                        </i-select>
                    </form-item>
                    <form-item label="业务类型">
                        <i-select v-model="form.businessType" placeholder="请选择" filterable>
                            <i-option v-for="item in businessTypes" :value="item.businessTypeId" >{{item.businessTypeName}}</i-option>
                        </i-select>
                    </form-item>
                    <form-item label="还款日期">
                        <date-picker format="yyyy-MM-dd" v-model="form.repayDate" placeholder="还款日期"></date-picker>
                    </form-item>
                    <form-item label="还款登记日期">
                        <date-picker type="daterange" split-panels format="yyyy-MM-dd" v-model="form.regDate" placeholder="还款登记日期"></date-picker>
                    </form-item>
                    <form-item label="贷后状态">
                        <i-select v-model="form.status" placeholder="请选择" filterable>
                            <i-option v-for="item in collectionStatus" :value="item.paramValue" >{{item.paramName}}</i-option>
                        </i-select>
                    </form-item>
                    <form-item>
                        <i-button type="primary" @click="paging(1)
                        ">
                            查询
                        </i-button>
                    </form-item>
                </i-form>
            </Header>
            <Content>
                <i-table :columns="table.col" :data="table.data" stripe></i-table>
            </Content>
            <Footer style="text-align: center;width: 100%" >
                <Page :total="table.total" show-total @on-change="paging" ></Page>
            </Footer>
        </layout>

    </div>
    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/2.13.1/js/iview.min.js"></script>
    <script type="text/javascript" src="/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
    <script type="text/javascript" src="/src/js/comm.js"></script>
    <script type="text/javascript" src="/properties/config.js"></script>
    <script type="text/javascript" src="/build/js/appToken.js"></script>
    <script type="text/javascript" src="/src/js/finance/index.js"></script>
</body>

</html>