<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>结清试算</title>
    <!-- 默认主题样式 -->
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css" />
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css" />
    <!--<link rel="stylesheet" type="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />

    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!--iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--    <script src="//unpkg.com/vue/dist/vue.js"></script>
        <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->

    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <script src="/properties/config.js"></script>


    <!--表格样式-->
    <link rel="stylesheet" href="/Components/Table/Table.css">

    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>

    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>
</head>

<body>
    <!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
    <div id="app" v-cloak>

    <script src="/src/js/ExpenseSettle/houseLoan.js"></script>
</body>

</html>