<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" type="text/css" href="/src/css/themes/default.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/iview/2.13.1/css/iview.css" />
	<!-- 引入layui样式 -->
	<link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />
	<style>
		.layui-table th, .layui-table td.td {
			padding:0 !important;
		}
		.layui-table th, .layui-table td .receive-inner-div{
			line-height: 40px;
			border-bottom:1px solid #ccc;
			text-align:center;
		}
		.layui-table th, .layui-table td .receive-inner-div:last-child {
			border-bottom:none;
		}
		.ivu-table .demo-table-info-row-ying td{
	        background-color: #2db7f52e;
	    }
	    .ivu-table .demo-table-info-row-shi td{
	        background-color: #19be6b1f;
	    }
	    .ivu-table .demo-table-info-row-cha td{
	        background-color: #2db7f52e;
	    }
	    .ivu-table td.demo-table-info-column-yuqi{
	        color: #FF0000;
	    }
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<Card> 
			<row> 
				<i-col span="4">合同编号：{{ baseInfo.businessId }}</i-col>
				<i-col span="4">客户姓名：{{ baseInfo.customer }}</i-col> 
				<i-col span="4">手机号码：{{ baseInfo.phoneNumber }}</i-col>
				<i-col span="3">还款方式：{{ baseInfo.repaymentType }}</i-col> 
				<i-col span="3">借款金额：{{baseInfo.borrowMoney?numeral(baseInfo.borrowMoney).format('0,0.00'):0}}</i-col>
				<i-col span="3">借款期限：{{ baseInfo.borrowLimit }}</i-col> 
				<i-col span="3">结余：{{businessSurplus?numeral(businessSurplus).format('0,0.00'):0}}</i-col> 
			</row>
		</Card>
		
		<Card>
			<tabs value="repaymentPlan" :animated="true" @on-click="initFunction($event)">
		        <tab-pane label="还款计划" name="repaymentPlan" :style="paneHeight">
		        	<i-table :height="tableHeight" highlight-row border :columns="repayBizPlanColumns" :data="bizRepaymentPlanList" :row-class-name="rowClassName"></i-table>
		        	
		        	<Modal v-model="repayPlanFlag" title="计划还款" width="100%">
		        		<i-table :height="tableHeight" highlight-row border :columns="repayPlanColumns" :data="repayPlanColumnsData"></i-table>
					</Modal>
					
		        	<Modal v-model="repayActualFlag" title="实际还款" width="100%">
		        		<i-table :height="tableHeight" highlight-row border :columns="repayPlanColumns" :data="repayActualColumnsData"></i-table>
					</Modal>
					
		        	<Modal v-model="repayDifferenceFlag" title="差额" width="100%">
		        		<i-table :height="tableHeight" highlight-row border :columns="repayPlanColumns" :data="repayDifferenceColumnsData"></i-table>
					</Modal>
					
		        	<Modal v-model="repayOtherFeeFlag" title="其他费用" width="30%">
		        		<p v-for="item in bizOtherFeeList">
		        			<span>
		        				{{ item }}
		        			</span>
		        		</p>
					</Modal>
		        	<Modal v-model="repayProjOtherFeeFlag" title="其他费用" width="30%">
		        		<p v-for="item in projOtherFeeList">
		        			<span>
		        				{{ item }}
		        			</span>
		        		</p>
					</Modal>
				</tab-pane>
				
		        <tab-pane label="实还流水" name="realRepaymentRecord" v-if="plateTypeFlag != 2" :style="paneHeight">
		        	<table class="layui-table">
				        <thead>
				            <tr>
				                <th>期数</th>
				                <th>实收合计</th>
				                <th>账户名称</th>
				                <th>交易时间</th>
				                <th>收支类型</th>
				                <th>交易金额</th>
				                <th>交易方式</th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr v-for='(item, index) in actualPaymentRecordList' :key='index'>
				                <td style="text-align:center">{{ item.afterId }}</td>
				                <td style="text-align:center">{{item.receivedTotal?numeral(item.receivedTotal).format('0,0.00'):0}}</td>
				                <td class="td">
				                    <div class="receive-inner-div" v-for = '(subItem, subIndex) in item.actualPaymentSingleRecordList' :key='subIndex'>{{ subItem.accountName }}</div>
				                </td>
				                <td class="td">
				                    <div class="receive-inner-div" v-for = '(subItem, subIndex) in item.actualPaymentSingleRecordList' :key='subIndex'>{{ subItem.tradeTime }}</div>
				                </td>
				                <td class="td">
				                    <div  class="receive-inner-div" v-for = '(subItem, subIndex) in item.actualPaymentSingleRecordList' :key='subIndex'>{{ subItem.incomeType }}</div>
				                </td>
				                <td class="td">
				                    <div class="receive-inner-div" v-for = '(subItem, subIndex) in item.actualPaymentSingleRecordList' :key='subIndex'>{{subItem.currentAmount?numeral(subItem.currentAmount).format('0,0.00'):0}}</div>
				                </td>
				                <td class="td">
				                    <div class="receive-inner-div" v-for = '(subItem, subIndex) in item.actualPaymentSingleRecordList' :key='subIndex'>{{ subItem.tradeType }}</div>
				                </td>
				            </tr>
				            <tr v-for='(item, index) in actualPaymentRecordAfterIdNullList' :key='index'>
				                <td></td>
				                <td></td>
				                <td>
				                    <div>{{ item.accountName }}</div>
				                </td>
				                <td>
				                    <div>{{ item.tradeTime }}</div>
				                </td>
				                <td>
				                    <div>{{ item.incomeType }}</div>
				                </td>
				                <td>
				                    <div>{{ item.currentAmount }}</div>
				                </td>
				                <td>
				                    <div>{{ item.tradeType }}</div>
				                </td>
				            </tr>
				        </tbody>
				    </table>
		        </tab-pane>
		        
		        <tab-pane label="平台实还" name="platformRealRepayment" v-if="plateTypeFlag != 2 && plateTypeFlag != 0 && plateTypeFlag != 3" :style="paneHeight">
		        	<row style="margin-top:0.5rem">
						<p slot="title">
				            <h3 style="color:red">Tips：数据均来源于团贷网后台接口，非鸿特本地数据</h3>
				        </p>
				    </row>
		        	<tabs :animated="true" @on-click="initProjectFunction($event)" >
						<tab-pane v-for="item in projectInfoList" :key="item.projectId" :label="item.realName" :name="item.projectId" >
							<row>
								<i-col span='6'>标的号：{{ item.projectId }}</i-col>
								<i-col span='4'>上标金额：{{ item.fullBorrowMoney?numeral(item.fullBorrowMoney).format('0,0.00'):0 }}</i-col>
								<i-col span='4'>账户余额：{{ platformRepaymentInfoaviMoney?numeral(platformRepaymentInfoaviMoney).format('0,0.00'):0 }}</i-col>
								<i-col span='10' >
									今天结清应还本息平台费：{{ platformPrincipalAndInterestAndPlatformCharge?numeral(platformPrincipalAndInterestAndPlatformCharge).format('0,0.00'):0 }}，
									本息：{{ platformPrincipalAndInterest?numeral(platformPrincipalAndInterest).format('0,0.00'):0 }}，
									平台费：{{ platformRepaymentInfoPlatformCharge?numeral(platformRepaymentInfoPlatformCharge).format('0,0.00'):0 }}
								</i-col>
							</row>
							
							<row style="margin-top:1rem">
								<p slot="title">
						            <h3>标的应还计划</h3>
						        </p>
						    </row>
							<i-table highlight-row border :columns="platformRepaymentInfoColumns" :data="platformRepaymentInfoData" style="margin-top:1rem"></i-table>
							
							<row style="margin-top:1rem">
								<p slot="title">
						            <h3>标的实还计划</h3>
						        </p>
						    </row>
							<i-table highlight-row border :columns="platformActualRepaymentInfoColumns" :data="platformActualRepaymentInfoData" style="margin-top:1rem"></i-table>
						</tab-pane>
					</tabs>
		        </tab-pane>
		        
		        <tab-pane label="垫付记录" name="advancesRecord" v-if="plateTypeFlag != 2 && plateTypeFlag != 0 && plateTypeFlag != 3" :style="paneHeight">
		        	<row style="margin-top:0.5rem">
						<p slot="title">
				            <h3 style="color:red">Tips：数据均来源于团贷网后台接口，非鸿特本地数据</h3>
				        </p>
				    </row>
		        	<tabs :animated="true" @on-click="initAdvancePaymentFunction($event)">
						<tab-pane v-for="item in projectInfoList" :key="item.projectId" :label="item.realName" :name="item.projectId">
							<row>
								<i-col span='6'>标的号：{{ item.projectId }}</i-col>
								<i-col span='4'>上标金额：{{ item.fullBorrowMoney?numeral(item.fullBorrowMoney).format('0,0.00'):0 }}</i-col>
							</row>
							<row style="margin-top:1rem">
								<p slot="title">
						            <h3>还垫付记录</h3>
						        </p>
						    </row>
							<row style="margin-top:1rem">
								<i-table highlight-row border :columns="advancePaymentInfoColumns" :data="advancePaymentInfoData" style="margin-top:1rem"></i-table>
							</row>
							
							<row style="margin-top:1rem">
								<p slot="title">
						            <h3>担保公司垫付记录</h3>
						        </p>
						    </row>
							<row style="margin-top:1rem">
								<i-table highlight-row border :columns="queryGuaranteePaymentColumns" :data="queryGuaranteePaymentData" style="margin-top:1rem"></i-table>
							</row>
						</tab-pane>
					</tabs>
		        </tab-pane>
		        
		        <tab-pane label="资金分发记录" name="fundDistributionRecord" v-if="plateTypeFlag != 2 && plateTypeFlag != 0 && plateTypeFlag != 3" :style="paneHeight">
		        	<tabs :animated="true" @on-click="initDistributeFundRecordFunction">
						<tab-pane v-for="item in projectInfoList" :key="item.projectId" :label="item.realName" :name="item.projectId">
							<row>
								<i-col span='6'>标的号：{{ item.projectId }}</i-col>
								<i-col span='4'>上标金额：{{ item.fullBorrowMoney?numeral(item.fullBorrowMoney).format('0,0.00'):0 }}</i-col>
								<i-col span='4'>客户姓名：{{ item.realName }}</i-col>
							</row>
							
							<table class="layui-table">
						        <thead>
						            <tr>
						                <th>期数</th>
						                <th>实收日期</th>
						                <th>实收金额</th>
						                <th>资金分发日期</th>
						                <th>资金分发金额</th>
						                <th>资金分发费用项</th>
						                <th>费用项金额</th>
						                <th>处理结果</th>
						                <th>备注</th>
						            </tr>
						        </thead>
						        <tbody>
						            <tr v-for='(item, index) in distributeFundRecordList' :key='index'>
						                <td style="text-align:center">{{ item.period }}</td>
						                <td style="text-align:center">{{ item.factRepayDateStr }}</td>
						                <td style="text-align:center">{{ item.factRepayAmount?numeral(item.factRepayAmount).format('0,0.00'):0 }}</td>
						                <td style="text-align:center">{{ item.createTimeStr }}</td>
						                <td style="text-align:center">{{ item.rechargeAmount?numeral(item.rechargeAmount).format('0,0.00'):0 }}</td>
						                <td class="td">
						                    <div class="receive-inner-div" v-for='(subItem, subIndex) in item.details' :key='subIndex'>{{ subItem.feeName }}</div>
						                </td>
						                <td class="td">
						                    <div class="receive-inner-div"  v-for='(subItem, subIndex) in item.details' :key='subIndex'>{{ subItem.feeValue?numeral(subItem.feeValue).format('0,0.00'):0 }}</div>
						                </td>
						                <td style="text-align:center">{{ item.processStatusStr }}</td>
						                <td style="text-align:center">{{ item.remark }}</td>
						            </tr>
						        </tbody>
						    </table>
						</tab-pane>
					</tabs>
		        </tab-pane>
		    </tabs>
		</Card>
	</div>
	<!-- 引入vue -->
	<script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
	<!-- iview js -->
	<script type="text/javascript" src="/plugins/iview/2.13.1/js/iview.min.js"></script>
	<script type="text/javascript" src="/plugins/layui/layui.js"></script>
	<script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
	<script type="text/javascript" src="/src/js/comm.js"></script>
	<script type="text/javascript" src="/properties/config.js"></script>
	<script type="text/javascript" src="/build/js/appToken.js"></script>
	<script type="text/javascript" src="/src/js/finance/repaymentPlanInfo.js"></script>
</body>

</html>