<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/iview/2.13.1/css/iview.css" />
    <title>财务确认还款</title>
</head>

<body>
    <div id="app" v-cloak>
        <iframe :src="repayInfoUrl" style="width: 100%;height: 190px;" frameborder="0" scrolling="no" seamless="seamless">你浏览器太旧啦!</iframe>
        <iframe :src="repayRegListUrl" style="width: 100%;height: 190px;" frameborder="0" scrolling="no" seamless="seamless">你浏览器太旧啦!</iframe>
        <Modal v-model="manualAddBankSatementsShow" :closable=false>
            <iframe :src="manualAddBankSatements" style="width: 100%;height: 650px;" frameborder="0" scrolling="no" seamless="seamless">你浏览器太旧啦!</iframe>
            <div slot="footer" style="min-height: 0px"></div>
        </Modal>

    </div>


    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/2.13.1/js/iview.min.js"></script>
    <script type="text/javascript" src="/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
    <script type="text/javascript" src="/src/js/comm.js"></script>
    <script type="text/javascript" src="/properties/config.js"></script>
    <script type="text/javascript" src="/build/js/appToken.js"></script>
    <script type="text/javascript" src="/src/js/finance/repayConfirm.js"></script>
</body>

</html>