<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/iview/2.13.1/css/iview.css" />
    <title>财务确认还款</title>
    <style>
        td {
            width: 180em;
            text-align: right;
        }

        .ivu-input-wrapper input {
            text-align: right;
        }

        .plan, .fact td {
            font-weight: 700;
            font-style: normal;
            font-size: 14px;
            color: #000000;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <!-- 还款基本信息开始 -->
        <Card title="还款基本信息">
            <row>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        业务编号：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.businessId}}
                    </div>
                </i-col>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        期数：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.afterId}}
                    </div>
                </i-col>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        业务类型：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.businessType}}
                    </div>
                </i-col>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        业务部门：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.companyName}}
                    </div>
                </i-col>
            </row>
            <row>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        业务主办：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.operatorName}}
                    </div>
                </i-col>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        客户名：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.customerName}}
                    </div>
                </i-col>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        还款方式：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.repaymentType}}
                    </div>
                </i-col>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        还款日期：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.repayDate}}
                    </div>
                </i-col>
            </row>
            <row>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        应还金额：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.repayAmount}}元
                    </div>
                </i-col>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        借款金额：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.borrowAmount}}元
                    </div>
                </i-col>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        借款期限：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.borrowLimit}}个月
                    </div>
                </i-col>
                <i-col span="6">
                    <div style="width: 49%;display:inline-block;text-align: right">
                        线上出款费率：
                    </div>
                    <div style="width: 49%;display:inline-block;text-align: left">
                        {{info.borrowRate}}%
                    </div>
                </i-col>
            </row>
        </Card>
        <!-- 还款基本信息结束 -->

        <!-- 还款计划开始 -->
        <Card title="还款计划">
            <i-table stripe :columns="table.plan.col" :data="table.plan.data"></i-table>
        </Card>
        <!-- 还款计划结束 -->

        <!-- 登记还款信息列表开始 -->
        <card title="登记还款信息列表">
            <i-table stripe :columns="table.reg.col" :data="table.reg.data"></i-table>
        </card>
        <!-- 登记还款信息列表结束 -->

        <!-- 本期匹配款项池银行流水开始 -->
        <card title="匹配的款项池银行流水">
            <div slot='title'>
                <span>匹配的款项池银行流水</span>
                <span style="float: right;">
                    <i-button size="small" @click="openMatchBankStatementModal">匹配流水</i-button>
                    <i-button size="small" @click="openAddBankStatementModal">新增</i-button>
                </span>
            </div>
            <i-table stripe :columns="table.matched.col" :data="table.matched.data"></i-table>
        </card>
        <!-- 本期匹配款项池银行流水结束 -->

        <!-- 本次应还信息开始 -->
        <row>
                <i-col span="12">
                    <card title="结清应还信息">
                        <p style="font-size: 14px;color: #1c2438;font-weight: 700;">
                            应还日期：{{thisTimeRepaymentInfo.repayDate}}
                        </p>
                        <p style="font-size: 14px;color: #1c2438;font-weight: 700;">
                            结清应还金额
                        </p>
                        <table class="plan">
                            <tr>
                                <td style="border-top-width: 6px;border-top-style: solid;">本金</td>
                                <td style="border-top-width: 6px;border-top-style: solid;">
                                    <!-- <i-input disabled v-model="factRepayPreview.item10"></i-input> -->
                                    {{thisTimeRepaymentInfo.item10}}
                                </td>
                                <td style="border-top-width: 6px;border-top-style: solid;">利息</td>
                                <td style="border-top-width: 6px;border-top-style: solid;">
                                    <!-- <i-input disabled v-model="factRepayPreview.item20"></i-input> -->
                                    {{thisTimeRepaymentInfo.item20}}
                                </td>
                            </tr>
                            <tr>
                                <td >月收分公司服务费</td>
                                <td>
                                    <!-- <i-input disabled v-model="factRepayPreview.item30"></i-input> -->
                                    {{thisTimeRepaymentInfo.item30}}
                                </td>
                                <td >月收平台费</td>
                                <td>
                                    <!-- <i-input disabled v-model="factRepayPreview.item50"></i-input> -->
                                    {{thisTimeRepaymentInfo.item50}}
                                </td>
                            </tr>
                            <tr>
                                <td >小计</td>
                                <td>{{thisTimeRepaymentInfo.subtotal}}
                                    <!-- <i-input disabled v-model="factRepayPreview.subTotal"></i-input> -->
                                </td>
                                <td >逾期天数</td>
                                <td>
                                    {{thisTimeRepaymentInfo.overDays}}
                                </td>
                            </tr>
                            <tr>
                                <td >线下滞纳金</td>
                                <td>{{thisTimeRepaymentInfo.offlineOverDue}}
                                    <!-- <i-input disabled v-model="factRepayPreview.offlineOverDue"></i-input> -->
                                </td>
                                <td >线上滞纳金</td>
                                <td>{{thisTimeRepaymentInfo.onlineOverDue}}
                                    <!-- <i-input disabled v-model="factRepayPreview.onlineOverDue"></i-input> -->
                                </td>
                            </tr>
                            <tr>
                                <td>提前结清违约金</td>
                                <td>{{thisTimeRepaymentInfo.penalty}}
                                    <!-- <i-input disabled v-model="factRepayPreview.onlineOverDue"></i-input> -->
                                </td>
                                <td style="color:red;">■减免金额</td>
                                <td>{{thisTimeRepaymentInfo.derate}}
                                    <!-- <i-input disabled v-model="factRepayPreview.surplus"></i-input> -->
                                </td>
                            </tr>
                            <tr>
                                <td >应收差额(含滞纳金)</td>
                                <td>{{thisTimeRepaymentInfo.planRepayBalance}}
                                    <!-- <i-input disabled :value="factRepayPreview.total+factRepayPreview.surplus"></i-input> -->
                                </td>
                            </tr>
                            <tr>
                                <td >其他费用项</td>
                                <td>{{thisTimeRepaymentInfo.other}}
                                    <!-- <i-input disabled :value="factRepayPreview.total+factRepayPreview.surplus"></i-input> -->
                                </td>
                            </tr>
                            <tr>
                                <td >合计(含滞纳金)</td>
                                <td>{{thisTimeRepaymentInfo.total}}
                                    <!-- <i-input disabled :value="factRepayPreview.total+factRepayPreview.surplus"></i-input> -->
                                </td>
                            </tr>
                        </table>
                        <br>
                        <p style="font-size: 14px;color: #1c2438;font-weight: 700;">
                            提前违约金明细
                        </p>
                        <table>
                            <tr>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                            </tr>
                            <tr v-if="thisTimeRepaymentInfo.penaltyFeesBiz&&thisTimeRepaymentInfo.penaltyFeesBiz.length>0" v-for="item in thisTimeRepaymentInfo.penaltyFeesBiz">
                                <td>{{item.feeName}}</td>
                                <td>{{item.amount}}</td>
                            </tr>
                            <tr v-else>
                                <td>无</td>
                            </tr>
                        </table>
                        <br>
                        <p style="font-size: 14px;color: #1c2438;font-weight: 700;">
                            应收差额明细
                        </p>
                        <table>
                            <tr>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                            </tr>
                            <tr v-if="thisTimeRepaymentInfo.lackFees&&thisTimeRepaymentInfo.lackFees.length>0" v-for="item in thisTimeRepaymentInfo.lackFees">
                                <td>{{item.planItemName}}</td>
                                <td>{{item.amount}}</td>
                            </tr>
                            <tr v-else>
                                <td>无</td>
                            </tr>
                        </table>
                        <br>
                        <p style="font-size: 14px;color: #1c2438;font-weight: 700;">
                                减免明细
                            </p>
                        <table>
                            <tr>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                            </tr>
                            <tr v-if="thisTimeRepaymentInfo.derates&&thisTimeRepaymentInfo.derates.length>0" v-for="item in thisTimeRepaymentInfo.derates">
                                <td>{{item.feeName}}</td>
                                <td>{{item.amount}}</td>
                            </tr>
                            <tr v-else>
                                <td >无</td>
                            </tr>
                        </table>
                        <br>
                        <p style="font-size: 14px;color: #1c2438;font-weight: 700;">
                                <span>其他费用明细</span>
                            </p>
                        <table>
                            <tr>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                                <td style="border-top-width: 6px;border-top-style: solid;"></td>
                            </tr>
                            <tr v-if="thisTimeRepaymentInfo.otherFees&&thisTimeRepaymentInfo.otherFees.length>0" v-for="item in thisTimeRepaymentInfo.otherFees">
                                <td>{{item.feeName}}</td>
                                <td><i-input v-model="item.amount" number=true></td>
                            </tr>
                            <tr v-else>
                                <td >无</td>
                            </tr>
                        </table>
                        <br>
                        <i-button @click="reGetSttleInfo" long type="primary">重新计算</i-button>
                    </card>
                </i-col>
                <i-col span="12">
                    <card title="实还信息">
                        <table class="fact">
                            <tr>
                                <td>还款金额来源</td>
                                <td>实还日期:</td>
                                <td>
                                    <!-- <i-select v-model="factRepaymentInfo.repayDate" @on-change="reGetSttleInfo" >
                                        <i-option v-for="item in thisTimeRepaymentInfo.moneyPoolRepayDates" :key="item" :value="item" >
                                            {{item}}
                                        </i-option>
                                    </i-select> -->
                                    <!-- <i-input disabled v-model="factRepaymentInfo.repayDate"></i-input> -->
                                <Date-picker v-model="factRepaymentInfo.repayDate" @on-change="factRepaymentInfo.repayDate=$event;reGetSttleInfo();" type="date" placeholder="选择实还日期" :options="dateOption"></Date-picker>

                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <Checkbox v-model="factRepaymentInfo.useSurplusflag"></Checkbox>
                                    结余暂收:
                                </td>
                                <td>
                                    <i-input number=true v-model="factRepaymentInfo.surplusFund" @on-enter="surplusFundEnter($event)" @on-blur="surplusFundEnter($event)" :disabled="!factRepaymentInfo.useSurplusflag" style="text-align: right"></i-input>
                                </td>
                                <td style="width: 200px">
                                    <span>结余暂收可用金额{{factRepaymentInfo.canUseSurplus}}元</span>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>流水合计：</td>
                                <td>
                                    <i-input disabled v-model="factRepaymentInfo.moneyPoolAccount" style="text-align: right"></i-input>
                                </td>
                                <td style="width: 200px">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>还款合计：</td>
                                <td>
                                    <i-input disabled v-model="factRepaymentInfo.repayAccount" class="rigthText"></i-input>
                                </td>
                                <td style="width: 200px">
                                </td>
                            </tr>
                        </table>
    
    
                        <p style="font-size: 14px;color: #1c2438;font-weight: 700;">
                            实还明细
                        </p>
                        <table class="fact">
                            <tr>
                                <td style="border-top-width: 6px;border-top-style: solid;">本金</td>
                                <td style="border-top-width: 6px;border-top-style: solid;">
                                    <i-input disabled v-model="factRepayPreview.item10"></i-input>
                                </td>
                                <td style="border-top-width: 6px;border-top-style: solid;">利息</td>
                                <td style="border-top-width: 6px;border-top-style: solid;">
                                    <i-input disabled v-model="factRepayPreview.item20"></i-input>
                                </td>
                            </tr>
                            <tr>
                                <td>月收分公司服务费</td>
                                <td>
                                    <i-input disabled v-model="factRepayPreview.item30"></i-input>
                                </td>
                                <td>月收平台费</td>
                                <td>
                                    <i-input disabled v-model="factRepayPreview.item50"></i-input>
                                </td>
                            </tr>
                            <tr>
                                <td>小计</td>
                                <td>{{factRepayPreview.subTotal}}
                                    <!-- <i-input disabled v-model="factRepayPreview.subTotal"></i-input> -->
                                </td>
                                <td></td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>线下滞纳金</td>
                                <td>
                                    <i-input disabled=true v-model="factRepayPreview.offlineOverDue"  ></i-input>
                                </td>
                                <td>线上滞纳金</td>
                                <td>
                                    <i-input disabled=true v-model="factRepayPreview.onlineOverDue"></i-input>
                                </td>
                            </tr>
                            <tr>
                                <td>提前结清违约金</td>
                                <td>{{factRepayPreview.item70}}
                                    <!-- <i-input disabled v-model="factRepayPreview.surplus"></i-input> -->
                                </td>
                                <td>其他费用总额</td>
                                <td>{{factRepayPreview.otherMoney}}
                                    <!-- <i-input disabled v-model="factRepayPreview.surplus"></i-input> -->
                                </td>
                            </tr>
                            <tr>
                                <td>结余</td>
                                <td>{{factRepayPreview.surplus}}
                                    <!-- <i-input disabled v-model="factRepayPreview.surplus"></i-input> -->
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>合计</td>
                                <td>{{factRepayPreview.total}}
                                    <!-- <i-input disabled :value="factRepayPreview.total+factRepayPreview.surplus"></i-input> -->
                                </td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td colspan="3">
                                    <i-input type="textarea" v-model="factRepaymentInfo.remark"></i-input>
                                </td>
                            </tr>
                        </table>
                    </card>
                </i-col>
            </row>
            <card title="本次标的还款明细">
                <i-table :columns="table.projRepayment.col" :data="table.projRepayment.data"></i-table>
            </card>
            <row>
                <i-col span="22">&nbsp;</i-col>
                <i-col span="2">
                    <i-button @click="submitSettle()" :loading="submitLoding">提交</i-button>
                    <i-button @click="closePage()">关闭</i-button>
                </i-col>
            </row>
        <!-- 本次应还信息结束 -->
    </div>


    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/2.13.1/js/iview.min.js"></script>
    <script type="text/javascript" src="/plugins/layui/layui.js"></script>
    <script type="text/javascript" src="/plugins/axios/axios.min.js"></script>
    <script type="text/javascript" src="/src/js/comm.js"></script>
    <script type="text/javascript" src="/properties/config.js"></script>
    <script type="text/javascript" src="/build/js/appToken.js"></script>
    <script type="text/javascript" src="/src/js/finance/projRepayment.js"></script>
    <script type="text/javascript" src="/src/js/finance/settle.js"></script>
</body>

</html>