
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title >待我审批的流程</title>
    <script src="/properties/config.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css"/>
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css"/>
    <!--@import url("//unpkg.com/iview/dist/styles/iview.css");-->
    <!--<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>

    <!--   <script src="//unpkg.com/vue/dist/vue.js"></script>
       <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>

</head>
<body>
<!--隐藏元素-->
<p id="reqPageeType"  th:attr="value=${reqPageeType}"  hidden />
<!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
<div id="app" v-cloak>

    <!-- 搜索工具框 开始-->
    <row style="padding: 10px">
        <i-col span="24">
            <Card>
                <p slot="title">
                    <Icon type="ios-search"></Icon>
                    搜索条件
                </p>
                <!--右上侧按钮列表-->
                <!-- <i-button v-if="authValid('search')" slot="extra" type="info" :loading="loading" icon="ios-search" @click="toLoading" style="margin-right:10px">
                    <span v-if="!loading">查询</span>
                    <span v-else>查询中...</span>
                </i-button> -->


                    
                <!--查询表单内容-->
                <row :gutter="16">
                    <i-form ref="searchForm"  :model="searchForm"   :rules="ruleValidate" label-position="right" :label-width="100">
<!--
                        keyWord      		   //关键字
                        createTimeBegin			//发起时间  开始
                        createTimeEnd			//发起时间   结束
                        createTimeRange			//发起时间   范围
                        processTypeId			//流程类型-->

                        <i-col span="6">
                            <form-item label="关键字：" prop="keyWord">
                                <i-input v-model="searchForm.keyWord"></i-input>
                            </form-item>
                        </i-col>
                        <i-col span="6">
                            <form-item label="发起时间："   prop="createTimeRange">
                                <date-picker type="daterange"  v-model="searchForm.createTimeRange" placement="bottom-end" placeholder="选择日期" style="width: 200px"></date-picker>
                            </form-item>
                        </i-col>
                        <i-col   v-if="showFinishTime()"  span="6">
                            <form-item  label="完成时间："   prop="finishTimeRange">
                                <date-picker type="daterange"  v-model="searchForm.finishTimeRange" placement="bottom-end" placeholder="选择日期" style="width: 200px"></date-picker>
                            </form-item>
                        </i-col>
                        <i-col  span="6">
                            <form-item label="审批类型：" prop="processTypeId">
                                <i-select v-model="searchForm.processTypeId" clearable filterable >
                                    <i-option v-for="item in processTypeList" :value="item.typeId" :key="item.typeId">{{ item.typeName }}</i-option>
                                </i-select>
                            </form-item>
                        </i-col>
                        <i-col v-if="showPType()"  span="6">
                            <form-item label="审批状态：" prop="processStatus">
                                <i-select v-model="searchForm.processStatus" clearable filterable >
                                    <i-option v-for="item in processStatusList" :value="item.statusKey" :key="item.statusName">{{ item.statusName }}</i-option>
                                </i-select>
                            </form-item>
                            </i-col>

                        <i-col v-if="showCompany()" span="6">
                            <form-item label="分公司：" prop="companyId">
                                <i-select v-model="searchForm.companyId" clearable filterable >
                                    <i-option v-for="item in companyList" :value="item.areaId" :key="item.areaId">{{ item.areaName }}</i-option>
                                </i-select>
                            </form-item>
                            </form-item>
                        </i-col>
                    </i-form>
                </row>
                <div style="text-align: center;">
                    <button  class="layui-btn layui-btn-sm"  @click="toLoading" v-if="authValid('search')">
                    <span v-if="!loading">
                        <i class="layui-icon">&#xe615;</i>查询</span>
                        <span v-else>
                        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop">&#xe63e;</i>查询中...</span>
                    </button>
                </div>
            </Card>
        </i-col>
    </row>
    <!-- 搜索工具框 结束-->


    <!-- 表单Grid，使用layerUI的表格组件 开始 -->
    <row style="padding: 10px">
        <i-col span="24">
            <!-- 使用方法渲染模式 -->
            <table id="listTable" lay-filter="listTable"></table>
            <script type="text/html" id="barTools">
                <!--layui-btn layui-btn-xs-->
<!--                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">操作</a>-->
                <a class="layui-btn layui-btn-normal layui-btn-xs " lay-event="info">审批</a>
            </script>
        </i-col>
    </row>
    <!-- 表单Grid，使用layerUI的表格组件 结束 -->

</div>

<script src="/src/js/collection/ProcessWaitToApprove.js" ></script>
<script>

</script>
</body>
</html>