
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title >代扣查询</title>
    <script src="/properties/config.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css"/>
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css"/>
    <!--@import url("//unpkg.com/iview/dist/styles/iview.css");-->
    <!--<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>

    <!--   <script src="//unpkg.com/vue/dist/vue.js"></script>
       <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>
    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>


</head>
<body>
<!--隐藏元素-->
<!--<p id="staffType"  th:attr="value=${staffType}"  hidden />-->
<!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
<div id="app" v-cloak>

    <!-- 搜索工具框 开始-->
    <row style="padding: 10px">
        <i-col span="24">
            <Card>
                <p slot="title">
                    <Icon type="ios-search"></Icon>
                    搜索条件
                </p>
                <!--右上侧按钮列表-->
                <i-button slot="extra" type="info" :loading="loading" icon="ios-search" @click="toLoading" style="margin-right:10px">
                    <span v-if="!loading">查询</span>
                    <span v-else>查询中...</span>
                </i-button>
               <i-button slot="extra"  @click="handleReset('searchForm')" style="margin-right:10px">
                    <span>重置</span>
                </i-button>
                <i-button id="exportBtn" v-if="authValid('export')" slot="extra" @click="clickExport" type="info" :loading="exporting" style="margin-right:10px">
                    <span v-if="!exporting">导出</span>
                    <span v-else>导出中...</span>

                </i-button>
    
         
                <row :gutter="16">
                    <i-form ref="searchForm"  :model="searchForm"   :rules="ruleValidate" label-position="right" :label-width="100">
                        <i-col span="6">
                            <form-item label="关键字："   prop="keyName">
                                <i-input v-model="searchForm.keyName"  placeholder="请输入业务编号,业务获取,客户姓名"></i-input>
                            </form-item>
                        </i-col>
                
                        <i-col span="6">
                            <form-item label="代扣平台:" prop="platformId">
                                	<i-select v-model="searchForm.platformId" style="width:200px">
		                                 <i-option v-for="item in platformList" :value="item.platformId" :key="item.platformId" >{{ item.platformName }}</i-option>
		                              </i-select>
                            </form-item>
                        </i-col>
                        
                               <i-col span="6">
                            <form-item label="代扣时间："   prop="dateRange">
                                <date-picker type="daterange"  v-model="searchForm.dateRange" placement="bottom-end" placeholder="选择日期" style="width: 200px"></date-picker>
                            </form-item>
                        </i-col>
                   <i-col span="6">
                            <form-item label="分公司：" prop="companyId">
                                <i-select v-model="searchForm.companyId" clearable filterable >
                                    <i-option v-for="item in companyList" :value="item.areaId" :key="item.areaId">{{ item.areaName }}</i-option>
                                </i-select>
                            </form-item>
                        </i-col>
                 
                        
                             <i-col span="6">
                            <form-item label="业务类型：" prop="businessTypeId">
                                <i-select v-model="searchForm.businessTypeId" clearable filterable >
                                    <i-option v-for="item in businessTypeList" :value="item.businessTypeId" :key="item.businessTypeId">{{ item.businessTypeName }}</i-option>
                                </i-select>
                            </form-item>
                        </i-col>
                        
                             <i-col span="6">
                            <form-item label="代扣状态:" prop="repayStatus">
                                <i-select v-model="searchForm.repayStatus" clearable filterable >
                                        <i-option  v-for="item in repayStatusList" value="item.id" :key="item.id">{{ item.name }}</i-option>
                                </i-select>
                            </form-item>
                        </i-col>

                    </i-form>
                </row>
            </Card>
        </i-col>
    </row>
    <!-- 搜索工具框 结束-->



   <div style="background-color:rgba(204, 235, 248, 1);height:30px;padding:5px 20px">
                <span style="color:#169BD5">
                   代扣信息查询合计,代扣成功流水总数:{{countbyLogId}},代扣成功业务总数:{{countByBusinessIdSucess}},代扣成功金额总数(元):{{SumRepayAmount}}，代扣总业务数:{{countByBusinessId}}
                </span>
            </div>
    <!-- 表单Grid，使用layerUI的表格组件 开始 -->
    <row style="padding: 10px">
        <i-col span="24">
            <!-- 使用方法渲染模式 -->
            <table id="listTable" lay-filter="listTable"></table>
            <script type="text/html" id="barTools">
                <!--layui-btn layui-btn-xs-->
                <a class="layui-btn layui-btn-normal layui-btn-xs " lay-event="info">详情</a>
            </script>
        </i-col>
    </row>
    <!-- 表单Grid，使用layerUI的表格组件 结束 -->

    <!--导出Excel隐藏表单-->
    <iframe id="frame" name="iframe" style="display:none;"></iframe>
    <!--导出Excel隐藏表单-->



    <!--单行操作按钮Modal-->
<!--    <Modal  ref="edit_modal" v-model="edit_modal" title="选择操作">
        <row>
            <i-button type="info" @click="showCollectionStackLog()">贷后跟踪记录</i-button>
            <i-button type="info" @click="showApplyDerate()">减免申请</i-button>
        </row>
        <row>

        </row>
        <div slot="footer">
        </div>
    </Modal>-->


</div>

<script src="/src/js/collection/repaymentLog.js" ></script>
<script>

</script>
</body>
</html>