
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title >客户还款登记</title>
    <script src="/properties/config.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css"/>
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css"/>
    <!--@import url("//unpkg.com/iview/dist/styles/iview.css");-->
    <!--<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>

    <!--   <script src="//unpkg.com/vue/dist/vue.js"></script>
       <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>
    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>
    <style>
        div a{
            margin-right: 15px
        }
    </style>
</head>
<body>
<!--隐藏元素-->
<!--<p id="staffType"  th:attr="value=${staffType}"  hidden />-->
<!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
<div id="app" v-cloak>
    <Row>
        <Col span="24" >
            <div style="background-color:rgba(204, 235, 248, 1);height:30px;padding:5px 0px">
                <span style="color:#169BD5">
                    客户还款登记：贷后专员通过新增按钮添加客户还款登记, 可登记多次还款
                </span>
            </div>
            <i-button type="success" style="position: absolute;right:35px;top:3px;width:90px" size="small" @click="openAddModal">新增</i-button>
        </Col>
    </Row>
    <Row>
        <Col span="24">
            <table id="moneyPool" lay-filter="moneyPool"></table>
            <script type="text/html" id="toolbar">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
                <a class="layui-btn layui-btn-xs" lay-event="checkCert">查看凭证</a>
              </script>
        </Col>
    </Row>
    <!--新增/编辑菜单Modal-->
    <Modal v-model="add_modal" title="客户还款登记"  :styles="{left:'0px',top:'10px',width:'960px'}">
        <row>
            <i-col span="22">
                <i-form ref='editForm' :model="editForm" :rules='validateRules'  label-position="right" autocomplete="off"
                        :label-width="100">
                    <form-item label="moneyPoolId" prop="moneyPoolId"  class="layui-hide"  >
                        <input type="text" class="layui-hide"   v-model="editForm.moneyPoolId" style="width:50%">
                    </form-item>
                    <form-item label="还款日期" prop="repaymentDate"  >
                        <date-picker type="date" :value.sync="editForm.repaymentDate" v-model="editForm.repaymentDate" @on-change="editForm.repaymentDate=$event" :options="DateOptions" placement="bottom-end" placeholder="选择日期" style="width: 50%"></date-picker>
                    </form-item>
                    <form-item label="还款金额" prop="repaymentMoney"  >
                        <i-input type="text" :value.sync="editForm.repaymentMoney" v-model="editForm.repaymentMoney" style="width:50%;display:inline-block;" ></i-input>
                        <span style="color:#FF0000">{{ArabicToChinese(editForm.repaymentMoney)}}</span>
                    </form-item>
                    <form-item label="实际还款人" prop="realRepaymentUser"  >
                        <i-input type="text"  v-model="editForm.realRepaymentUser" maxlength="40" style="width:50%;" ></i-input>
                    </form-item>
                    <form-item label="交易类型" prop="tradeType">
                        <i-select v-model="editForm.tradeType" style="width:50%" @on-change="onTradeTypeChange">
                            <i-option  value="转账" >转账</i-option>
                            <i-option  value="现金" >现金</i-option>
                            <i-option  value="刷卡" >刷卡</i-option>
                        </i-select>
                    </form-item>
                    <form-item label="收款人" prop="acceptBankU" v-show="editForm.tradeType=='现金'">
                        <i-input type="text" :value.sync="editForm.acceptBankU"  v-model="editForm.acceptBankU" style="width:50%;" id="acceptBankU"></i-input>
                    </form-item>
                    <form-item label="交易场所" prop="tradePlace" v-show="editForm.tradeType=='转账'||editForm.tradeType=='刷卡'">
                        <i-input type="text" :value.sync="editForm.tradePlace"  v-model="editForm.tradePlace" style="width:50%;"></i-input>
                    </form-item>
                    <form-item label="转入账号" prop="acceptBank" v-show="editForm.tradeType=='转账'||editForm.tradeType=='刷卡'">
                        <i-select  v-model="editForm.acceptBank" :model.sync="editForm.acceptBank"  style="width:50%" @on-change="onDepartmentBankChange" id="acceptBank" >
                            <i-option  v-for="item in bank_account_list" :value="item.financeName"  >{{item.financeName}}</i-option>
                        </i-select>
                    </form-item>
                    <form-item label="转入银行卡号" prop="acceptBankAccount" v-show="editForm.tradeType=='转账'||editForm.tradeType=='刷卡'">
                        <input type="text"   v-model="editForm.acceptBankAccount" disabled="disabled" class="layui-input" style="width:50%;text-align:center;font-size:20px"></input>
                    </form-item>
                    <form-item label="上传凭证" prop="certUrl" >
                            <Upload 
                            ref="upload"
                            :action="upload.url" 
                            :headers="upload.headers" 
                            :data="upload.data" 
                            :before-upload="beforeUpload"
                            :max-size="upload.maxSize"
                            :accept="upload.accept"
                            :on-success="onUploadSuccess"
                            :on-error="onUploadError"
                            :on-format-error="onFormatError"
                            :on-exceeded-size="onExceededSize"
                            >
                                <i-button type="ghost" icon="ios-cloud-upload-outline">上传凭证</i-button>
                            </Upload>
                    </form-item>
                    <form-item label="备注" prop="remark"  >
                        <i-input v-model="editForm.remark" type="textarea" maxlength="1000" :autosize="{minRows: 2,maxRows: 5}"></i-input>
                    </form-item>
                </i-form>
            </i-col>
        </row>
        
        <div slot="footer" style="text-align:left">
            <i-button type="primary" :loading="submitLoading" @click="saveRepayment()">
                <span v-if="!submitLoading">保存</span>
                <span v-else>处理中...</span>
            </i-button>
            <i-button type="ghost" @click="closeModal()" style="margin-left: 8px;background-color:rgba(255, 153, 0, 1);color:#ffffff">撤销</i-button>
        </div>
    </Modal>

    <Modal v-model="cert_modal" title="查看凭证"  :styles="{left:'0px',top:'10px',width:'960px'}" scrollable=true>
        <Row>
            <i-col span="24">
                <img :src="cert_modal_url" style="max-width: 100%" />
            </i-col>
        </Row>
        <div slot="footer" style="text-align:left"></div>
    </Modal>
</div>
<script src="/src/js/collection/repaymentRegister.js" ></script>
<script>

</script>
</body>
</html>