<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>代扣渠道列表</title>
    <script src="/properties/config.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css"/>
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css"/>
    <!--@import url("//unpkg.com/iview/dist/styles/iview.css");-->
    <!--<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>

    <!--   <script src="//unpkg.com/vue/dist/vue.js"></script>
       <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>
    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>


</head>
<body>
<!--隐藏元素-->
<!--<p id="staffType"  th:attr="value=${staffType}"  hidden />-->
<!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
<div id="app" v-cloak>

    <!-- 搜索工具框 开始-->
    <row style="padding: 10px">
        <i-col span="24">
            <Card>
                <p slot="title">
                    <Icon type="ios-search"></Icon>
                    搜索条件
                </p>

                <i-button type="primary" slot="extra" @click="toLoading" v-if="authValid('search')" style="margin-right:10px">
                    <span v-if="!loading">查询</span>
                    <span v-else>查询中...</span>
                </i-button>
                <i-button type="primary" slot="extra" v-if="authValid('reset')" @click="handleReset('searchForm')" style="margin-right:10px">
                    <span>重置</span>
                </i-button>
                <i-button type="primary" slot="extra" v-if="authValid('add')" style="margin-right:10px"
                          @click="addHoldChannel('withHoldChanelForm')">
                    <span>新增</span>
                </i-button>


                <row :gutter="16">
                    <i-form ref="searchForm" :model="searchForm" label-position="right"
                            :label-width="100">


                        <i-col span="6">
                            <form-item label="渠道：" prop="platformId">
                                <i-select v-model="searchForm.platformId" clearable filterable>
                                    <i-option v-for="item in platformType" :value="item.platformId"
                                              :key="item.platformId">{{
                                        item.platformName }}
                                    </i-option>
                                </i-select>
                            </form-item>
                        </i-col>


                    </i-form>
                </row>
            </Card>
        </i-col>
    </row>
    <!-- 搜索工具框 结束-->
    <row style="padding: 10px">

        <Modal
                v-model="withHoldChanelModel"
                :title="title"
                :mask-closable="false">
            <i-form ref="withHoldChanelForm" :model="withHoldChanelForm" :rules="withHoldChanelValidate"
                    :label-width="150">
                <form-item label="渠道类型：" prop="platformId">
                    <i-select v-model="withHoldChanelForm.platformId" clearable filterable
                              @on-change="platformOnChange($event)">
                        <i-option v-for="item in platformType" :value="item.platformId" :key="item.platformId">{{
                            item.platformName }}
                        </i-option>
                    </i-select>
                </form-item>
                <form-item label="银行代扣渠道编号：" prop="subPlatformId">
                    <i-input v-model="withHoldChanelForm.subPlatformId" placeholder="银行代扣渠道编号" maxlength="30"
                             style="width: 176px" :disabled="disabledFlag"></i-input>
                </form-item>
                <form-item label="银行代扣渠道名称：" prop="subPlatformName">
                    <i-input v-model="withHoldChanelForm.subPlatformName" ref="subPlatformName" placeholder="银行代扣渠道名称"
                             maxlength="30"
                             style="width: 176px" :disabled="disabledFlag"></i-input>
                </form-item>

                <form-item label="代扣优先级：" prop="channelLevel">
                    <i-input v-model="withHoldChanelForm.channelLevel" placeholder="代扣优先级" maxlength="30"
                             style="width: 176px" number></i-input>
                </form-item>

                <form-item label="渠道状态：" prop="state">
                    <radio-group v-model="withHoldChanelForm.state" number>
                        <radio label=1>启用</radio>
                        <radio label=0>停用</radio>
                    </radio-group>
                </form-item>

                <form-item label="每日失败次数：" prop="failTimes">
                    <i-input v-model="withHoldChanelForm.failTimes" placeholder="失败次数" maxlength="30"
                             style="width: 176px" number></i-input>
                </form-item>
                <form-item label="备注：" prop="remark">
                    <i-input v-model="withHoldChanelForm.remark" placeholder="备注" maxlength="300"
                             style="width: 176px"></i-input>
                </form-item>

            </i-form>

            <div slot="footer" style="text-align:left">
                <i-button type="primary" @click="submitHoldChanel('withHoldChanelForm')">
                    <span>提交</span>
                </i-button>
                <i-button type="ghost" @click="cancelHoldChanel('withHoldChanelForm')"
                          style="margin-left: 8px;background-color:rgba(255, 153, 0, 1);color:#ffffff">关闭
                </i-button>
            </div>

        </Modal>
    </row>

    <!-- 表单Grid，使用layerUI的表格组件 开始 -->
    <row style="padding: 10px">
        <i-col span="24">
            <!-- 使用方法渲染模式 -->
            <table id="listTable" lay-filter="listTable"></table>
            <script type="text/html" id="barTools">
                <!--layui-btn layui-btn-xs-->
                <a class="layui-btn layui-btn-normal layui-btn-xs " id="edit" lay-event="edit" ht-auth="edit">编辑</a>
            </script>
        </i-col>
    </row>
    <!-- 表单Grid，使用layerUI的表格组件 结束 -->


</div>

<script src="/src/js/collection/withholdChannelList.js"></script>
<script>

</script>
</body>
</html>