<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.AccountantOverRepayLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.AccountantOverRepayLog">
        <id column="log_id" property="logId" />
        <result column="id" property="id" />
        <result column="business_id" property="businessId" />
        <result column="business_after_id" property="businessAfterId" />
        <result column="over_repay_money" property="overRepayMoney" />
        <result column="money_type" property="moneyType" />
        <result column="freeze_status" property="freezeStatus" />
        <result column="is_refund" property="isRefund" />
        <result column="is_temporary" property="isTemporary" />
        <result column="remark" property="remark" />
        <result column="src_type" property="srcType" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id AS logId, id, business_id AS businessId, business_after_id AS businessAfterId, over_repay_money AS overRepayMoney, money_type AS moneyType, freeze_status AS freezeStatus, is_refund AS isRefund, is_temporary AS isTemporary,src_type as srcType, remark, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>

</mapper>
