<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.AgencyRechargeLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.AgencyRechargeLog">
        <id column="id" property="id" />
        <result column="recharge_account_type" property="rechargeAccountType" />
        <result column="transfer_type" property="transferType" />
        <result column="recharge_amount" property="rechargeAmount" />
        <result column="recharge_sourse_account" property="rechargeSourseAccount" />
        <result column="bank_code" property="bankCode" />
        <result column="recharge_account_balance" property="rechargeAccountBalance" />
        <result column="cm_order_no" property="cmOrderNo" />
        <result column="oId_partner" property="oIdPartner" />
        <result column="recharge_user_id" property="rechargeUserId" />
        <result column="charge_type" property="chargeType" />
        <result column="client_ip" property="clientIp" />
        <result column="handle_status" property="handleStatus" />
        <result column="param_json" property="paramJson" />
        <result column="result_json" property="resultJson" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, recharge_account_type AS rechargeAccountType, transfer_type AS transferType, recharge_amount AS rechargeAmount, recharge_sourse_account AS rechargeSourseAccount, bank_code AS bankCode, recharge_account_balance AS rechargeAccountBalance, cm_order_no AS cmOrderNo, oId_partner AS oIdPartner, recharge_user_id AS rechargeUserId, charge_type AS chargeType, client_ip AS clientIp, handle_status AS handleStatus, param_json AS paramJson, result_json AS resultJson, create_user AS createUser, create_time AS createTime, update_user AS updateUser, update_time AS updateTime
    </sql>

</mapper>
