<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.ApplyDerateTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.ApplyDerateType">
        <id column="apply_derate_type_id" property="applyDerateTypeId" />
        <result column="apply_derate_process_id" property="applyDerateProcessId" />
        <result column="derate_type" property="derateType" />
        <result column="derate_money" property="derateMoney" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        apply_derate_type_id AS applyDerateTypeId, apply_derate_process_id AS applyDerateProcessId, derate_type AS derateType, derate_money AS derateMoney, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>
  <select id="getApplyTypeVo" resultType="com.hongte.alms.base.vo.module.ApplyTypeVo"
            >
  select        

        sum(applyType.derate_money) as derateMoney, b_type.business_type_name AS businessTypeName, b_type.business_type_id as businessTypeId
		  
		  from tb_apply_derate_type  applyType 
         
        left join tb_apply_derate_process   derate
        
          on applyType.apply_derate_process_id=derate.apply_derate_process_id
          
                LEFT JOIN tb_process as process ON derate.process_id = process.process_id
                
                   LEFT JOIN tb_basic_business as business ON process.business_id = business.business_id
        LEFT JOIN tb_basic_business_type as  b_type ON business.business_type = b_type.business_type_id
        <where>
      process.process_id=#{processId} 
        </where>

    </select> 
    
    
    
      <select id="getApplyTypeByBusinessIdAndCrpId" resultType="com.hongte.alms.base.entity.ApplyDerateType">
  select         
  
  type.apply_derate_type_id AS applyDerateTypeId,type.apply_derate_process_id AS applyDerateProcessId, type.derate_type AS derateType, type.derate_money AS derateMoney, 
  
  type.create_time AS createTime, type.create_user AS createUser, type.update_time AS updateTime, type.update_user AS updateUser,
  
  type.fee_id as feeId,type.derate_type_name as derateTypeName,type.before_derate_money as beforeDerateMoney

  
  
  from tb_apply_derate_process process 


left join tb_apply_derate_type type 

on process.apply_derate_process_id=type.apply_derate_process_id

        <where>
              process.business_id=#{businessId}  and process.crp_id=#{planListId} 
        </where>

    </select> 
    
    <select id="listDerate" resultType="com.hongte.alms.base.entity.ApplyDerateType">
	SELECT
		adt.apply_derate_type_id AS applyDerateTypeId,
		adt.apply_derate_process_id AS applyDerateProcessId,
		adt.derate_type AS derateType,
		adt.derate_money AS derateMoney,
		adt.create_time AS createTime,
		adt.create_user AS createUser,
		adt.update_time AS updateTime,
		adt.update_user AS updateUser,
		adt.fee_id as feeId ,
		adt.before_derate_money as beforeDerateMoney,
		adt.derate_type_name as derateTypeName
	FROM
		tb_apply_derate_type adt
	LEFT JOIN tb_apply_derate_process adp ON adp.apply_derate_process_id =
		adt.apply_derate_process_id
	LEFT JOIN tb_process p ON p.process_id = adp.process_id
	LEFT JOIN tb_repayment_resource rr ON rr.repay_source_ref_id =
		adt.apply_derate_type_id
	WHERE
		adp.crp_id = #{planListId}
	AND p.process_result = 1
	AND adp.is_settle = 0
	AND ( rr.resource_id IS NULL OR rr.repay_amount < adt.derate_money );
    </select>
 
</mapper>
