<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.BasicBusinessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.BasicBusiness">
        <id column="business_id" property="businessId" />
        <result column="input_time" property="inputTime" />
        <result column="business_type" property="businessType" />
        <result column="business_ctype" property="businessCtype" />
        <result column="business_stype" property="businessStype" />
        <result column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="repayment_type_id" property="repaymentTypeId" />
        <result column="borrow_money" property="borrowMoney" />
        <result column="borrow_limit" property="borrowLimit" />
        <result column="borrow_limit_unit" property="borrowLimitUnit" />
        <result column="borrow_rate" property="borrowRate" />
        <result column="borrow_rate_unit" property="borrowRateUnit" />
        <result column="operator_id" property="operatorId" />
        <result column="operator_name" property="operatorName" />
        <result column="asset_id" property="assetId" />
        <result column="company_id" property="companyId" />
        <result column="output_platform_id" property="outputPlatformId" />
        <result column="issue_split_type" property="issueSplitType" />
        <result column="source_type" property="sourceType" />
        <result column="source_business_id" property="sourceBusinessId" />
        <result column="is_tuandai_repay" property="isTuandaiRepay" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id AS businessId, input_time AS inputTime, business_type AS businessType, business_ctype AS businessCtype, business_stype AS businessStype, customer_id AS customerId, customer_name AS customerName, repayment_type_id AS repaymentTypeId, borrow_money AS borrowMoney, borrow_limit AS borrowLimit, borrow_limit_unit AS borrowLimitUnit, borrow_rate AS borrowRate, borrow_rate_unit AS borrowRateUnit, operator_id AS operatorId, operator_name AS operatorName, asset_id AS assetId, company_id AS companyId, output_platform_id AS outputPlatformId, issue_split_type AS issueSplitType, source_type AS sourceType, source_business_id AS sourceBusinessId, is_tuandai_repay AS isTuandaiRepay, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>

    <!-- 查询申请减免界面业务基本信息内容 -->
    <select id="selectBusinessInfoForApplyDerateVo" resultType="com.hongte.alms.base.vo.module.BusinessInfoForApplyDerateVo">
		SELECT 
		  business.business_id AS businessId,
		  business.customer_name AS customerName,
		  business.company_id AS companyId,
		  company.area_name AS companyName,
		  business.business_type AS businessType,
		  b_type.business_type_name AS businessTypeName,
		  business.borrow_limit AS borrowLimit,
		  business.repayment_type_id AS repaymentTypeId,
		  -- sys_param.param_name AS repaymentTypeName,
		  business.borrow_rate AS borrowRate,
		  business.borrow_rate_unit AS borrowRateUnit,
		  business.borrow_money AS borrowMoney,
		  pList.period AS periods,
		  pList.after_Id AS afterId,
		  pList.overdue_days AS delayDays,
		  c.totalBorrowAmount AS totalBorrowAmount,
		  c.needPayPrincipal AS needPayPrincipal,
		  c.needPayInterest AS needPayInterest,
		  c.needPayPenalty AS needPayPenalty,
		  c.otherPayAmount AS otherPayAmount,
		  c.sumFactAmount AS sumFactAmount,
		  c.needPayService as needPayService,
		  b.getMoney AS getMoney ,
		  c.needPayGuarantee as needPayGuarantee,
		  c.needPayPlatform as needPayPlatform,
		  c.needPaydeposit as needPaydeposit,
		  c.needPayRush as needPayRush,
		  c.needPayAgency as needPayAgency,
		  c.totalFactAmount as totalFactAmount 
		  
		  
		FROM
		  tb_repayment_biz_plan_list AS pList 
		  LEFT JOIN tb_repayment_biz_plan AS plan 
		    ON pList.plan_id = plan.plan_id 
		  LEFT JOIN tb_basic_business AS business 
		    ON plan.original_business_id = business.business_id 
		  LEFT JOIN tb_basic_company AS company 
		    ON business.company_id = company.area_id 
		  LEFT JOIN tb_basic_business_type AS b_type 
		    ON business.business_type = b_type.business_type_id -- LEFT JOIN tb_sys_parameter as  sys_param ON business.repayment_type_id = sys_param.param_value
		  LEFT JOIN 
		    (SELECT 
		      t1.plan_list_id,
		      --   应还本金总额（应付本金 ）-->
		      SUM(
		        CASE
		          WHEN t1.plan_item_type = 10 
		          THEN t1.plan_amount 
		          ELSE 0 
		        END
		      ) AS `needPayPrincipal`,
		      --   应还利息总额（应付利息）-->
		      SUM(
		        CASE
		          WHEN t1.plan_item_type = 20 
		          THEN t1.plan_amount 
		          ELSE 0 
		        END
		      ) `needPayInterest`,
		      --   应还违约金总额（应付违约金 取应付的滞纳金）-->
		      SUM(
		        CASE
		          WHEN t1.plan_item_type = 60 
		          THEN t1.plan_amount 
		          ELSE 0 
		        END
		      ) `needPayPenalty`,
		      --   应还其他费用-->
		      SUM(
		        CASE
		          WHEN (
		            t1.plan_item_type != 60 
		            AND t1.plan_item_type != 20 
		            AND t1.plan_item_type != 10
		          ) 
		          THEN t1.plan_amount 
		          ELSE 0 
		        END
		      ) `otherPayAmount`,
		      
		             --   实收合计(不含本金部分)-->
		      SUM(
		        CASE
		          WHEN (
		            t1.plan_item_type != 10	         		       
		          ) 
		          THEN t1.fact_amount 
		          ELSE 0 
		        END
		      ) `sumFactAmount`,
		      	       	      --   应付平台费-->
		      	      
		      SUM(
		        CASE
		          WHEN (
		            t1.plan_item_type =50	         		       
		          ) 
		          THEN t1.fact_amount 
		          ELSE 0 
		        END
		      ) `needPayPlatform`,
		 
		      	           --   应付押金费-->
		     	SUM(
		        CASE
		          WHEN (
		            t1.plan_item_type =90	         		       
		          ) 
		          THEN t1.plan_amount 
		          ELSE 0 
		        END
		      ) `needPaydeposit`,
		      	 
		      	         --   应付冲应收-->
		       SUM(
		        CASE
		          WHEN (
		            t1.plan_item_type =100	         		       
		          ) 
		          THEN t1.plan_amount 
		          ELSE 0 
		        END
		      ) `needPayRush`,
		      	   
		      	            --   应付中介-->
		      	       	      	       	      
		      SUM(
		        CASE
		          WHEN (
		            t1.plan_item_type =80	         		       
		          ) 
		          THEN t1.plan_amount 
		          ELSE 0 
		        END
		      ) `needPayAgency`,
		      	   
		      	            --   应付担保费-->
		      	          	      
		      SUM(
		        CASE
		          WHEN (
		            t1.plan_item_type = 40	         		       
		          ) 
		          THEN t1.plan_amount 
		          ELSE 0 
		        END
		      ) `needPayGuarantee`,
		      	
		      	      
		      	          --   应付月收服务费-->
		      SUM(
		        CASE
		          WHEN (
		            t1.plan_item_type = 30 
		            or t1.plan_item_type = 50 
		      
		          ) 
		          THEN t1.plan_amount 
		          ELSE 0 
		        END
		      ) `needPayService`,
		      --   应还总额-->
		      SUM(t1.plan_amount) `totalBorrowAmount` ,
		          --   实还总额-->
		      SUM(t1.fact_amount) `totalFactAmount` 
		    FROM
		      tb_repayment_biz_plan_list_detail t1 
		    WHERE t1.plan_list_id = #{crpId,jdbcType=VARCHAR} 
		    GROUP BY t1.plan_list_id) c 
		    ON pList.plan_list_id = c.plan_list_id 
		  LEFT JOIN 
		    (--   出款金额 -->
		    SELECT 
		      SUM(bplan.borrow_money) AS `getMoney`,
		      bplan.original_business_id AS `original_business_id` 
		    FROM
		      tb_repayment_biz_plan bplan  where bplan.is_defer=#{isDefer}
		    GROUP BY bplan.original_business_id) b 
		    ON business.business_id = b.original_business_id 
		WHERE pList.plan_list_id = #{crpId,jdbcType=VARCHAR}
    </select>
    
    <select id="queryPayedPrincipal" resultType="java.lang.Double">
    	SELECT 
		  SUM(
		    CASE
		      WHEN pdetail.plan_item_type = 10 
		      THEN pdetail.plan_amount 
		      ELSE 0 
		    END
		  ) AS `payedPrincipal`,	--   已还本金
		  rp.original_business_id AS `original_business_id` 
		FROM
		  tb_repayment_biz_plan_list_detail pdetail 
		  LEFT JOIN tb_repayment_biz_plan_list l 
		    ON pdetail.plan_list_id = l.plan_list_id 
		  LEFT JOIN tb_repayment_biz_plan rp 
		    ON rp.plan_id = l.plan_id 
		WHERE pdetail.fact_repay_date IS NOT NULL 
		  AND rp.original_business_id = #{businessId,jdbcType=VARCHAR} 
		GROUP BY rp.original_business_id 
    </select>

    <!-- 查询用户可访问的业务几个字段信息  -->
    <select id="selectUserPermissionBusinessDtos" resultType="com.hongte.alms.base.dto.UserPermissionBusinessDto">
        select company_id as CompanyId,
        business_id as businessId
        FROM  tb_basic_business WHERE
        1=1
        <if test="companyIds !=null">
            AND  company_id IN
            <foreach collection="companyIds" item="companyId" index="index"
                     open="(" close=")" separator=",">
                #{companyId}
            </foreach>
        </if>


    </select>
    
    
    
    
    <!-- 一次性收取的分公司费用 -->
    <select id="getPreCharge" resultType="java.lang.Double">
  select sum(fee+fee2+fee3) 
  from (
  	
	  /* 线上出款业务一次性收取服务费*/
	  select a.business_id,ifnull(sum(b.sub_company_charge),0) `fee`,ifnull(sum(b.guarantee_amount),0) `fee2`,ifnull(sum(b.tuandai_amount),0) `fee3`
	  from tb_basic_business a 
	  join tb_tuandai_project_info b on a.business_id = b.business_id
	  left join tb_renewal_business c on a.business_id = c.renewal_business_id
	  where a.business_id = #{original_business_id,jdbcType=VARCHAR} and a.output_platform_id=1 
	  and c.renewal_business_id is null and b.begin_time is not null
	  group by a.business_id
	  union all

	    /*线下出款业务一次性收取服务费*/
	  select t1.orig_business_id,sum(t3.plan_amount) `fee`, 0 as 'fee2',0 as 'fee3'
	  FROM tb_repayment_biz_plan_list t1
	  join tb_repayment_biz_plan t2 on t1.plan_id = t2.plan_id
	  join tb_repayment_biz_plan_list_detail t3 on t1.plan_list_id= t3.plan_list_id
	  join tb_basic_business t4 on t1.orig_business_id = t4.business_id
	  WHERE t1.orig_business_id = #{original_business_id,jdbcType=VARCHAR} 
	  AND IFNULL(t3.plan_item_type, 0) = 30 AND IFNULL(t1.repay_flag, 0) != 6 
	  AND ifnull(t1.period,0) =0 AND t2.is_defer=0 AND ifnull(t4.output_platform_id,0) = 0
	  group by t1.orig_business_id
  ) tab 
  group by tab.business_id
  
    </select>
    
    
    
        <!-- 期初收取的月收分公司服务费-->
    <select id="getPreFees" resultType="java.lang.Double">
			 SELECT 
  (case when t3.plan_amount>0
    then 0 else sum(t3.plan_amount) end ) `plan_amount`
  
 
        FROM
          tb_repayment_biz_plan_list t1,
          tb_repayment_biz_plan t2,
          tb_repayment_biz_plan_list_detail t3 
        WHERE t1.plan_id = t2.plan_id 
          AND t1.plan_list_id = t3.plan_list_id 
          AND t2.original_business_id = #{original_business_id,jdbcType=VARCHAR} 
          AND IFNULL(t3.plan_item_type, 0) = 30 
          AND IFNULL(t1.repay_flag, 0) != 6 
          AND t1.period !=0
          AND t2.is_defer=0
        GROUP BY t1.period
        ORDER BY t1.due_date
		  limit 1;
    </select>
    
    
        
        <!-- 期初收取的月收分公司服务费-->
    <select id="getPreFees" resultType="java.lang.Double">
			 SELECT 
  (case when t3.plan_amount>0
    then 0 else sum(t3.plan_amount) end ) `plan_amount`
  
 
        FROM
          tb_repayment_biz_plan_list t1,
          tb_repayment_biz_plan t2,
          tb_repayment_biz_plan_list_detail t3 
        WHERE t1.plan_id = t2.plan_id 
          AND t1.plan_list_id = t3.plan_list_id 
          AND t2.original_business_id = #{original_business_id,jdbcType=VARCHAR} 
          AND IFNULL(t3.plan_item_type, 0) = 30 
          AND IFNULL(t1.repay_flag, 0) != 6 
          AND t1.period !=0
          AND t2.is_defer=0
        GROUP BY t1.period
        ORDER BY t1.due_date
		  limit 1;
    </select>
	<!-- 结清最终缴纳的利息总额何应付月收服务费 -->
	<select id="getNeedPay" resultType="map">
	            
		select 
		
		   --   应还利息总额（应付利息）-->
		      SUM(
		        CASE
		          WHEN pDetail.plan_item_type = 20 
		          THEN pDetail.plan_amount 
		          ELSE 0 
		        END
		      ) `settleNeedPayInterest`,
		      	          --   应付月收服务费-->
		      SUM(
		        CASE
		          WHEN (
		            pDetail.plan_item_type = 30 
		            or pDetail.plan_item_type = 50 
		      
		          ) 
		          THEN pDetail.plan_amount 
		          ELSE 0 
		        END
		      ) `settleNeedPayService`
		from 

		tb_repayment_biz_plan_list_detail pDetail

		left join tb_repayment_biz_plan_list pList on
		pList.plan_list_id=pDetail.plan_list_id

		left join tb_basic_business business on
		business.business_id=pList.orig_business_id
		where business.business_id=#{original_business_id} and pList.current_status!='已还款'
	</select>
	



	<!-- 结清最终缴纳的金额 -->
	<select id="getSettleTotalFactSum" resultType="java.lang.Double">
	            	--    结清最终缴纳的金额-->
		select sum(pDetail.fact_amount) as totalFactSum 
		
		from 

		tb_repayment_biz_plan_list_detail pDetail

		left join tb_repayment_biz_plan_list pList on
		pList.plan_list_id=pDetail.plan_list_id

		left join tb_basic_business business on
		business.business_id=pList.orig_business_id
		where business.business_id=#{original_business_id}
	</select>
	
	
		<!-- 月收等费用总额-->
	<select id="getMonthSumFactAmount" resultType="java.lang.Double">
		select 
--   出款后已交月收等费用总额：还款计划中的实收合计（不含本金部分） -->
		      SUM(
		        CASE
		          WHEN pDetail.plan_item_type != 10 
		          THEN pDetail.fact_amount 
		          ELSE 0 
		        END
		      ) AS `sumFactAmount` from


		tb_repayment_biz_plan_list_detail pDetail

		left join tb_repayment_biz_plan_list pList on
		pList.plan_list_id=pDetail.plan_list_id

		left join tb_basic_business business on
		business.business_id=pList.orig_business_id
		where business.business_id=#{original_business_id}
	</select>

</mapper>
