<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.BizOutputRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.BizOutputRecord">
        <id column="id" property="id" />
        <result column="business_id" property="businessId" />
        <result column="project_id" property="projectId" />
        <result column="fact_output_money" property="factOutputMoney" />
        <result column="fact_output_date" property="factOutputDate" />
        <result column="output_user_id" property="outputUserId" />
        <result column="output_user_name" property="outputUserName" />
        <result column="bank_card" property="bankCard" />
        <result column="bank_name" property="bankName" />
        <result column="withdraw_type" property="withdrawType" />
        <result column="withdraw_place" property="withdrawPlace" />
        <result column="withdraw_strStatus" property="withdrawStrStatus" />
        <result column="XDWithDrawId" property="XDWithDrawId" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, business_id AS businessId, project_id AS projectId, fact_output_money AS factOutputMoney, fact_output_date AS factOutputDate, output_user_id AS outputUserId, output_user_name AS outputUserName, bank_card AS bankCard, bank_name AS bankName, withdraw_type AS withdrawType, withdraw_place AS withdrawPlace, withdraw_strStatus AS withdrawStrStatus, XDWithDrawId, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>

</mapper>
