<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.CarAuctionPriceLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.CarAuctionPriceLog">
        <id column="id" property="id" />
        <result column="auction_id" property="auctionId" />
        <result column="bidder_tel" property="bidderTel" />
        <result column="price" property="price" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, auction_id AS auctionId, bidder_tel AS bidderTel, price, create_time AS createTime
    </sql>

</mapper>
