<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.CarAuctionBidderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.CarAuctionBidder">
        <id column="bidder_tel" property="bidderTel" />
        <result column="bidder_name" property="bidderName" />
        <result column="bidder_cert_id" property="bidderCertId" />
        <result column="trans_account_name" property="transAccountName" />
        <result column="trans_account_num" property="transAccountNum" />
        <result column="trans_bank" property="transBank" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bidder_name AS bidderName, bidder_cert_id AS bidderCertId, bidder_tel AS bidderTel, trans_account_name AS transAccountName, trans_account_num AS transAccountNum, trans_bank AS transBank, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>

</mapper>
