<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.CarBasicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.CarBasic">
        <id column="business_id" property="businessId" />
        <result column="owner_name" property="ownerName" />
        <result column="license_plate_number" property="licensePlateNumber" />
        <result column="color" property="color" />
        <result column="brand_name" property="brandName" />
        <result column="invoice_cost" property="invoiceCost" />
        <result column="model" property="model" />
        <result column="displacement" property="displacement" />
        <result column="displacement_unit" property="displacementUnit" />
        <result column="vin" property="vin" />
        <result column="emission_standard" property="emissionStandard" />
        <result column="origin_place" property="originPlace" />
        <result column="engine_model" property="engineModel" />
        <result column="license_location" property="licenseLocation" />
        <result column="transfer_times" property="transferTimes" />
        <result column="last_transfer_date" property="lastTransferDate" />
        <result column="status" property="status" />
        <result column="last_detection_id" property="lastDetectionId" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id AS businessId, owner_name AS ownerName, license_plate_number AS licensePlateNumber, color, brand_name AS brandName, invoice_cost AS invoiceCost, model, displacement, displacement_unit AS displacementUnit, vin, emission_standard AS emissionStandard, origin_place AS originPlace, engine_model AS engineModel, license_location AS licenseLocation, transfer_times AS transferTimes, last_transfer_date AS lastTransferDate, status, last_detection_id AS lastDetectionId, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>

</mapper>
