<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.CarBusinessAfterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.CarBusinessAfter">
        <id column="car_business_id" property="carBusinessId" />
        <result column="car_business_after_id" property="carBusinessAfterId" />
        <result column="collection_user" property="collectionUser" />
        <result column="collection_remark" property="collectionRemark" />

        <!--<result column="paratype" property="paratype" />-->
        <!--<result column="Customer_Name" property="CustomerName" />-->
        <!--<result column="operator_name" property="operatorName" />-->
        <!--<result column="operator_dept" property="operatorDept" />-->
        <!--<result column="create_time" property="createTime" />-->
        <!--<result column="modify_time" property="modifyTime" />-->
        <!--<result column="is_delete" property="isDelete" />-->
        <!--<result column="repayment_type" property="repaymentType" />-->
        <!--<result column="borrow_money" property="borrowMoney" />-->
        <!--<result column="oddcorpus" property="oddcorpus" />-->
        <!--<result column="installment_num_date" property="installmentNumDate" />-->
        <!--<result column="installment_num" property="installmentNum" />-->
        <!--<result column="current_Principa" property="currentPrincipa" />-->
        <!--<result column="current_accrual" property="currentAccrual" />-->
        <!--<result column="punitive_rate_should" property="punitiveRateShould" />-->
        <!--<result column="punitive_rate_fact" property="punitiveRateFact" />-->
        <!--<result column="overdueDays" property="overdueDays" />-->
        <!--<result column="borrow_date" property="borrowDate" />-->
        <!--<result column="car_business_after_type" property="carBusinessAfterType" />-->
        <!--<result column="car_business_after_defer" property="carBusinessAfterDefer" />-->
        <!--<result column="is_defer" property="isDefer" />-->
        <!--<result column="car_business_defer_id" property="carBusinessDeferId" />-->
        <!--<result column="other_money" property="otherMoney" />-->
        <!--<result column="fact_money" property="factMoney" />-->
        <!--<result column="lawyer_money" property="lawyerMoney" />-->
        <!--<result column="createdate" property="createdate" />-->
        <!--<result column="updateDate" property="updateDate" />-->
        <!--<result column="is_collection" property="isCollection" />-->
        <!--<result column="repayed_flag" property="repayedFlag" />-->
        <!--<result column="reserve_2" property="reserve2" />-->
        <!--<result column="reserve_3" property="reserve3" />-->
        <!--<result column="reserve_4" property="reserve4" />-->
        <!--<result column="reserve_5" property="reserve5" />-->
        <!--<result column="ModifyUser" property="ModifyUser" />-->
        <!--<result column="workflowstatus" property="workflowstatus" />-->
        <!--<result column="reserve_6" property="reserve6" />-->
        <!--<result column="reserve_7" property="reserve7" />-->
        <!--<result column="reserve_8" property="reserve8" />-->
        <!--<result column="reserve_9" property="reserve9" />-->
        <!--<result column="reserve_10" property="reserve10" />-->
        <!--<result column="TrackRecord" property="TrackRecord" />-->
        <!--<result column="collectionDate" property="collectionDate" />-->
        <!--<result column="bad_debt_mark" property="badDebtMark" />-->
        <!--<result column="settle_mark" property="settleMark" />-->
        <!--<result column="fact_replayMoney" property="factReplayMoney" />-->
        <!--<result column="fatct_replayDate" property="fatctReplayDate" />-->
        <!--<result column="fact_principa" property="factPrincipa" />-->
        <!--<result column="fact_accrual" property="factAccrual" />-->
        <!--<result column="overdue_money" property="overdueMoney" />-->
        <!--<result column="current_Breach" property="currentBreach" />-->
        <!--<result column="repay_service" property="repayService" />-->
        <!--<result column="fact_service" property="factService" />-->
        <!--<result column="remark" property="remark" />-->
        <!--<result column="payment_type" property="paymentType" />-->
        <!--<result column="current_other_money" property="currentOtherMoney" />-->
        <!--<result column="confirm_flag" property="confirmFlag" />-->

        <!--<result column="out_id" property="outId" />-->
        <!--<result column="is_loss_settle" property="isLossSettle" />-->
        <!--<result column="finance_confirmed_date" property="financeConfirmedDate" />-->
        <!--<result column="finance_confirmed_user" property="financeConfirmedUser" />-->
        <!--<result column="auto_withholding_confirmed_date" property="autoWithholdingConfirmedDate" />-->
        <!--<result column="auto_withholding_confirmed_user" property="autoWithholdingConfirmedUser" />-->
        <!--<result column="finance_bank_id" property="financeBankId" />-->
        <!--<result column="accountant_confirm_status" property="accountantConfirmStatus" />-->
        <!--<result column="accountant_confirm_user" property="accountantConfirmUser" />-->
        <!--<result column="accountant_confirm_date" property="accountantConfirmDate" />-->
        <!--<result column="tuandai_distribute_fund_status" property="tuandaiDistributeFundStatus" />-->
        <!--<result column="issue_after_type" property="issueAfterType" />-->
        <!--<result column="tuandai_advance_status" property="tuandaiAdvanceStatus" />-->
        <!--<result column="tuandai_profit_status" property="tuandaiProfitStatus" />-->
        <!--<result column="tuandai_distribute_fund_remark" property="tuandaiDistributeFundRemark" />-->
        <!--<result column="business_after_guid" property="businessAfterGuid" />-->
        <!--<result column="tracking_after_type" property="trackingAfterType" />-->
        <!--<result column="legal_return_status" property="legalReturnStatus" />-->
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        car_business_id AS carBusinessId, car_business_after_id AS carBusinessAfterId,collection_user AS collectionUser, collection_remark AS collectionRemark
    </sql>


    <select id="queryNotTransferCollectionLog" resultType="com.hongte.alms.base.entity.CarBusinessAfter" parameterType="com.hongte.alms.base.vo.module.CollectionReq">

        SELECT
        *
        FROM
        tb_car_business_after tt
        WHERE
        NOT EXISTS (
        SELECT * FROM(
            SELECT t1.car_business_id, t1.car_business_after_id FROM tb_car_business_after t1
            JOIN tb_collection_status t2 ON t1.car_business_id = t2.business_id
             JOIN tb_repayment_biz_plan_list t3 ON t1.car_business_id = t3.business_id    AND t1.car_business_after_id = t3.after_id     AND t3.plan_list_id = t2.crp_id
             ) tp
        WHERE  tt.car_business_id = tp.car_business_id         AND tt.car_business_after_id = tp.car_business_after_id         )

        limit #{offSet} , #{pageSize}

    </select>


    <select id="queryNotTransferPhoneUserCount" resultType="int">
        SELECT
        count(1)
         FROM
        tb_car_business_after tt
        WHERE
        NOT EXISTS (
        SELECT * FROM(
            SELECT t1.car_business_id, t1.car_business_after_id FROM tb_car_business_after t1
            JOIN tb_collection_status t2 ON t1.car_business_id = t2.business_id
             JOIN tb_repayment_biz_plan_list t3 ON t1.car_business_id = t3.business_id    AND t1.car_business_after_id = t3.after_id     AND t3.plan_list_id = t2.crp_id
             ) tp
        WHERE  tt.car_business_id = tp.car_business_id         AND tt.car_business_after_id = tp.car_business_after_id         )

    </select>



</mapper>
