<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.CarConvBusAplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.CarConvBusAply">
        <id column="conv_bus_id" property="convBusId" />
        <result column="business_id" property="businessId" />
        <result column="aply_user" property="aplyUser" />
        <result column="aply_date" property="aplyDate" />
        <result column="aply_explain" property="aplyExplain" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id AS businessId, aply_user AS aplyUser, aply_date AS aplyDate, aply_explain AS aplyExplain, create_time AS createTime, create_user AS createUser, status, conv_bus_id AS convBusId
    </sql>

</mapper>
