<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.CarDragMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.CarDrag">
        <id column="id" property="id" />
        <result column="business_id" property="businessId" />
        <result column="drag_date" property="dragDate" />
        <result column="drag_handler" property="dragHandler" />
        <result column="fee" property="fee" />
        <result column="other_fee" property="otherFee" />
        <result column="remark" property="remark" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="county" property="county" />
        <result column="detail_address" property="detailAddress" />
        <result column="region_id" property="regionId" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, business_id AS businessId, drag_date AS dragDate, drag_handler AS dragHandler, fee, other_fee AS otherFee, remark, province, city, county, detail_address AS detailAddress, region_id AS regionId, create_user AS createUser, create_time AS createTime, update_user AS updateUser, update_time AS updateTime
    </sql>

</mapper>
