<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.CarReturnRegMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.CarReturnReg">
        <id column="business_id" property="businessId" />
        <result column="return_date" property="returnDate" />
        <result column="return_operator" property="returnOperator" />
        <result column="return_proId" property="returnProId" />
        <result column="return_cityId" property="returnCityId" />
        <result column="return_countyId" property="returnCountyId" />
        <result column="return_addr" property="returnAddr" />
        <result column="is_pay_trailer_cost" property="isPayTrailerCost" />
        <result column="pay_trailer_cost" property="payTrailerCost" />
        <result column="pay_trailer_other_cost" property="payTrailerOtherCost" />
        <result column="note" property="note" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id AS businessId, return_date AS returnDate, return_operator AS returnOperator, return_proId AS returnProId, return_cityId AS returnCityId, return_countyId AS returnCountyId, return_addr AS returnAddr, is_pay_trailer_cost AS isPayTrailerCost, pay_trailer_cost AS payTrailerCost, pay_trailer_other_cost AS payTrailerOtherCost, note, create_time AS createTime, create_user AS createUser
    </sql>

</mapper>
