<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.CustomerFirstDatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.CustomerFirstDat">
        <id column="id" property="id" />
        <result column="company_name" property="companyName" />
        <result column="customer_code" property="customerCode" />
        <result column="customer_name" property="customerName" />
        <result column="first_amount" property="firstAmount" />
        <result column="create_time" property="createTime" />
        <result column="period" property="period" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_name AS companyName, customer_code AS customerCode, customer_name AS customerName, first_amount AS firstAmount, create_time AS createTime, period
    </sql>

</mapper>
