<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.DerateUseLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.DerateUseLog">
        <id column="derate_use_log_id" property="derateUseLogId" />
        <result column="confirm_log_id" property="confirmLogId" />
        <result column="settle_log_id" property="settleLogId" />
        <result column="apply_derate_type_id" property="applyDerateTypeId" />
        <result column="biz_plan_detail_id" property="bizPlanDetailId" />
        <result column="biz_derate_amount" property="bizDerateAmount" />
        <result column="proj_plan_detail_id" property="projPlanDetailId" />
        <result column="proj_derate_amount" property="projDerateAmount" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        derate_use_log_id AS derateUseLogId, confirm_log_id AS confirmLogId, settle_log_id AS settleLogId, apply_derate_type_id AS applyDerateTypeId, biz_plan_detail_id AS bizPlanDetailId, biz_derate_amount AS bizDerateAmount, proj_plan_detail_id AS projPlanDetailId, proj_derate_amount AS projDerateAmount, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>

</mapper>
