<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.FiveLevelClassifyConditionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.FiveLevelClassifyCondition">
        <id column="id" property="id" />
        <result column="business_type" property="businessType" />
        <result column="class_name" property="className" />
        <result column="sub_class_name" property="subClassName" />
        <result column="valid_status" property="validStatus" />
        <result column="execute_condition" property="executeCondition" />
        <result column="parent_id" property="parentId" />
        <result column="param_name" property="paramName" />
        <result column="param_type" property="paramType" />
        <result column="type_name_relation" property="typeNameRelation" />
        <result column="op_type" property="opType" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="black_value1" property="blackValue1" />
        <result column="black_value2" property="blackValue2" />
        <result column="black_value3" property="blackValue3" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, business_type AS businessType, class_name AS className, sub_class_name AS subClassName, valid_status AS validStatus, execute_condition AS executeCondition, parent_id AS parentId, param_name AS paramName, param_type AS paramType, type_name_relation AS typeNameRelation, op_type AS opType, update_time AS updateTime, update_user AS updateUser, create_time AS createTime, create_user AS createUser, black_value1 AS blackValue1, black_value2 AS blackValue2, black_value3 AS blackValue3
    </sql>

</mapper>
