<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.FlowPushLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.FlowPushLog">
        <id column="id" property="id" />
        <result column="push_key" property="pushKey" />
        <result column="push_log_type" property="pushLogType" />
        <result column="push_to" property="pushTo" />
        <result column="push_starttime" property="pushStarttime" />
        <result column="push_endtime" property="pushEndtime" />
        <result column="push_status" property="pushStatus" />
        <result column="push_param" property="pushParam" />
        <result column="push_ret" property="pushRet" />
        <result column="push_remark" property="pushRemark" />
        <result column="push_key1" property="pushKey1" />
        <result column="push_key2" property="pushKey2" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, push_key AS pushKey, push_log_type AS pushLogType, push_to AS pushTo, push_starttime AS pushStarttime, push_endtime AS pushEndtime, push_status AS pushStatus, push_param AS pushParam, push_ret AS pushRet, push_remark AS pushRemark, push_key1 AS pushKey1, push_key2 AS pushKey2
    </sql>
    
	<select id="selectPushProjectList" resultType="map">
		SELECT DISTINCT t1.project_id FROM tb_tdrepay_recharge_log t1 
		WHERE t1.process_status = 2 AND t1.project_id IS NOT NULL
    </select>
</mapper>
