<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.InfoSmsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.InfoSms">
        <id column="apply_derate_process_id" property="applyDerateProcessId" />
        <result column="log_id" property="logId" />
        <result column="plan_list_id" property="planListId" />
        <result column="original_business_id" property="originalBusinessId" />
        <result column="after_id" property="afterId" />
        <result column="phone_number" property="phoneNumber" />
        <result column="sms_type" property="smsType" />
        <result column="send_date" property="sendDate" />
        <result column="content" property="content" />
        <result column="service_name" property="serviceName" />
        <result column="status" property="status" />
        <result column="service_status_code" property="serviceStatusCode" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="recipient" property="recipient" />
    </resultMap>




    <select id="selectInfoSmsList" resultType="com.hongte.alms.base.vo.module.InfoSmsListSearchVO"
            parameterType="com.hongte.alms.base.vo.module.InfoSmsListSearchReq">

      
  select  b_type.business_type_id as businessTypeId,sms.log_id as logId,sms.plan_list_id as planListId,sms.original_business_id as originalBusinessId,sms.after_id as afterId,sms.phone_number as phoneNumber,
     sms.sms_type as smsType,sms.send_date as sendDate,sms.content as content, sms.service_name as serviceName,sms.status as status,sms.service_status_code as serviceStatusCode,sms.create_time as createTime,sms.create_user as createUser,
     sms.update_time as UpdateTime,sms.update_user as updateUser,sms.recipient as recipient,  company.district_id as districtId,      business.company_id as companyId,business.company_name as companyName,
             b_type.business_type_name AS businessTypeName
     
     from tb_sms_log  sms 

	 LEFT JOIN tb_basic_business  business  on sms.original_business_id=business.business_id
	 LEFT JOIN tb_basic_company as company ON business.company_id = company.area_id
  LEFT JOIN tb_basic_business_type as  b_type ON business.business_type = b_type.business_type_id
	  JOIN  tb_sys_user_permission user_permission on user_permission.business_id=sms.original_business_id
	  
	  left join tb_sys_user user on user.user_id=user_permission.user_id 
     

        <where>
               1=1
            <if test="keyName !=null and keyName !=''">
                and ((sms.phone_number  LIKE '%${keyName}%') or (sms.recipient  LIKE '%${keyName}%') or (sms.original_business_id LIKE '%${keyName}%') )
            </if>
            <if test="smsType !=null and smsType !=''">
                and sms.sms_type = #{smsType}
            </if>
<!--             <if test="companyId !=null and companyId !=''"> -->
<!--                 and sms.company_id = #{companyId} -->
<!--             </if> -->
            <!--   /*短信状态*/ -->
            <if test="status !=null and status !=''">
                and sms.status = #{status}
            </if>
            <!--          /*发送时间 开始*/ -->
            <if test="sendDateBegin !=null">
                <![CDATA[ and sms.send_date >= #{sendDateBegin,jdbcType=TIMESTAMP}]]>
            </if>
            <!--            /*发送时间 结束*/ -->
            <if test="sendDateEnd !=null">
                <![CDATA[ and sms.send_date <= #{sendDateEnd,jdbcType=TIMESTAMP}]]>
            </if>
            <if test="companyId !=null and companyId !=''">
                and business.company_id = #{companyId}
            </if>
            
<!--                 <if test="companyIds !=null and companyIds.size()>0"> AND company.area_id IN -->
<!--             <foreach item="item" index="index" collection="companyIds" open="(" separator="," close=")"> -->
<!--                 #{item} -->
<!--             </foreach> -->
<!--         </if> -->

     and user.user_id=#{userId}

        </where>
        order BY  sms.create_time DESC


    </select>
    
    
    
    
        <select id="selectLastInfoSmsDetail" resultType="com.hongte.alms.base.vo.module.InfoSmsListSearchVO"
            parameterType="com.hongte.alms.base.vo.module.InfoSmsListSearchReq">

      
  select  sms.log_id as logId,sms.plan_list_id as planListId,sms.original_business_id as originalBusinessId,sms.after_id as afterId,sms.phone_number as phoneNumber,
     sms.sms_type as smsType,sms.send_date as sendDate,sms.content as content, sms.service_name as serviceName,sms.status as status,sms.service_status_code as serviceStatusCode,sms.create_time as createTime,sms.create_user as createUser,
     sms.update_time as UpdateTime,sms.update_user as updateUser,sms.recipient as recipient,  company.district_id as districtId,      business.company_id as companyId,
             b_type.business_type_name AS businessTypeName
     
     from tb_sms_log  sms 

	 LEFT JOIN tb_basic_business  business  on sms.original_business_id=business.business_id
	 LEFT JOIN tb_basic_company as company ON business.company_id = company.area_id
  LEFT JOIN tb_basic_business_type as  b_type ON business.business_type = b_type.business_type_id
<!-- 	  JOIN  tb_sys_user_permission user on user.business_id=sms.original_business_id -->
     

        <where>
               1=1
               and 
      sms.create_time  &lt;  (select create_time from tb_sms_log where log_id = #{logId}) 
      

        </where>
        order BY  sms.create_time DESC limit 1


    </select>
    
    
    
    
        <select id="selectNextInfoSmsDetail" resultType="com.hongte.alms.base.vo.module.InfoSmsListSearchVO"
            parameterType="com.hongte.alms.base.vo.module.InfoSmsListSearchReq">

      
  select  sms.log_id as logId,sms.plan_list_id as planListId,sms.original_business_id as originalBusinessId,sms.after_id as afterId,sms.phone_number as phoneNumber,
     sms.sms_type as smsType,sms.send_date as sendDate,sms.content as content, sms.service_name as serviceName,sms.status as status,sms.service_status_code as serviceStatusCode,sms.create_time as createTime,sms.create_user as createUser,
     sms.update_time as UpdateTime,sms.update_user as updateUser,sms.recipient as recipient,  company.district_id as districtId,      business.company_id as companyId,
             b_type.business_type_name AS businessTypeName
     
     from tb_sms_log  sms 

	 LEFT JOIN tb_basic_business  business  on sms.original_business_id=business.business_id
	 LEFT JOIN tb_basic_company as company ON business.company_id = company.area_id
  LEFT JOIN tb_basic_business_type as  b_type ON business.business_type = b_type.business_type_id
<!-- 	  JOIN  tb_sys_user_permission user on user.business_id=sms.original_business_id -->
     

        <where>
               1=1
               and
      sms.create_time  &gt;  (select create_time from tb_sms_log where log_id = #{logId}) 
      

        </where>
        order BY  sms.create_time DESC limit 1


    </select>


</mapper>
