<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.MoneyPoolRepaymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.MoneyPoolRepayment">
        <id column="id" property="id" />
        <result column="money_pool_id" property="moneyPoolId" />
        <result column="xd_pool_id" property="xdPoolId" />
        <result column="xd_matching_id" property="xdMatchingId" />
        <result column="plan_list_id" property="planListId" />
        <result column="operate_id" property="operateId" />
        <result column="operate_name" property="operateName" />
        <result column="claim_date" property="claimDate" />
        <result column="state" property="state" />
        <result column="income_type" property="incomeType" />
        <result column="bank_account" property="bankAccount" />
        <result column="trade_type" property="tradeType" />
        <result column="trade_place" property="tradePlace" />
        <result column="fact_transfer_name" property="factTransferName" />
        <result column="remark" property="remark" />
        <result column="pool_list" property="poolList" />
        <result column="certificate_picture_url" property="certificatePictureUrl" />
        <result column="is_finance_match" property="isFinanceMatch" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="delete_user" property="deleteUser" />
        <result column="delete_time" property="deleteTime" />
        <result column="account_money" property="accountMoney" />
        <result column="trade_date" property="tradeDate" />
        <result column="create_user_role" property="createUserRole" />
        <result column="original_business_id" property="originalBusinessId" />
        <result column="after_id" property="afterId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, money_pool_id AS moneyPoolId, xd_pool_id AS xdPoolId, xd_matching_id AS xdMatchingId, plan_list_id AS planListId, operate_id AS operateId, operate_name AS operateName, claim_date AS claimDate, state, income_type AS incomeType, bank_account AS bankAccount, trade_type AS tradeType, trade_place AS tradePlace, fact_transfer_name AS factTransferName, remark, pool_list AS poolList, certificate_picture_url AS certificatePictureUrl, is_finance_match AS isFinanceMatch, create_user AS createUser, create_time AS createTime, update_user AS updateUser, update_time AS updateTime, is_deleted AS isDeleted, delete_user AS deleteUser, delete_time AS deleteTime, account_money AS accountMoney, trade_date AS tradeDate, create_user_role AS createUserRole, original_business_id AS originalBusinessId, after_id AS afterId
    </sql>

	<select id="sumMoneyPoolRepaymentAmountByMprIds" resultType="java.math.BigDecimal">
		SELECT
			sum( mpr.account_money ) 
		FROM
			tb_money_pool_repayment mpr 
		WHERE
			mpr.id IN 
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">  
		        #{item}  
		    </foreach> 
		    AND mpr.is_finance_match = 1
		    AND ( mpr.is_deleted IS NULL OR mpr.is_deleted = 0 ) 
	</select>
	
	<select id="queryActualPaymentByBusinessId" resultType="com.hongte.alms.base.dto.ActualPaymentSingleLogDTO">
		SELECT 
		  wrl.`after_id` afterId,
		  IFNULL(wrl.`current_amount`, 0) currentAmount,
		  '收入' incomeType,
		  wrl.`create_time` tradeTime,
		  CASE
		    wp.`platform_id` 
		    WHEN 5 
		    THEN wp.platform_name 
		    ELSE '第三方代扣' 
		  END tradeType,
		  CASE
		    wp.`platform_id` 
		    WHEN 0 
		    THEN '易宝' 
		    WHEN 3 
		    THEN '宝付' 
		    ELSE sb.bank_name 
		  END accountName 
		FROM
		  `tb_withholding_repayment_log` wrl 
		  JOIN `tb_withholding_platform` wp 
		    ON wrl.`bind_platform_id` = wp.`platform_id` 
		    AND wrl.`repay_status` = 1 
		    AND wrl.original_business_id = #{businessId,jdbcType=VARCHAR}
		  LEFT JOIN `tb_sys_bank_limit` sbl 
		    ON wrl.bind_platform_id = sbl.platform_id 
		  LEFT JOIN `tb_sys_bank` sb 
		    ON sbl.bank_code = sb.bank_code 
		UNION
		ALL 
		SELECT 
		  mpr.`after_id` afterId,
		  mpr.`account_money` currentAmount,
		  CASE
		    mpr.`income_type` 
		    WHEN 1 
		    THEN '收入' 
		    ELSE '支出' 
		  END incomeType,
		  mpr.trade_date tradeTime,
		  '线下转账' tradeType,
		  mpr.bank_account accountName 
		FROM
		  `tb_money_pool_repayment` mpr,
		  `tb_repayment_biz_plan_list` lst 
		WHERE mpr.plan_list_id = lst.plan_list_id 
		  AND lst.orig_business_id = #{businessId,jdbcType=VARCHAR}
		ORDER BY 1
	</select>
</mapper>
