<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.MoneyPoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.MoneyPool">
        <id column="money_pool_id" property="moneyPoolId" />
        <result column="xd_pool_id" property="xdPoolId" />
        <result column="pay_code" property="payCode" />
        <result column="remit_bank" property="remitBank" />
        <result column="trade_date" property="tradeDate" />
        <result column="trade_type" property="tradeType" />
        <result column="summary" property="summary" />
        <result column="trade_place" property="tradePlace" />
        <result column="account_money" property="accountMoney" />
        <result column="income_type" property="incomeType" />
        <result column="trade_remark" property="tradeRemark" />
        <result column="gainer_name" property="gainerName" />
        <result column="finance_status" property="financeStatus" />
        <result column="status" property="status" />
        <result column="import_user" property="importUser" />
        <result column="import_user_name" property="importUserName" />
        <result column="import_time" property="importTime" />
        <result column="accept_bank" property="acceptBank" />
        <result column="is_manual_create" property="isManualCreate" />
        <result column="is_temporary" property="isTemporary" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        money_pool_id AS moneyPoolId, xd_pool_id AS xdPoolId, pay_code AS payCode, remit_bank AS remitBank, trade_date AS tradeDate, trade_type AS tradeType, abstract, trade_place AS tradePlace, account_money AS accountMoney, income_type AS incomeType, trade_remark AS tradeRemark, gainer_name AS gainerName, finance_status AS financeStatus, status, import_user AS importUser, import_user_name AS importUserName, import_time AS importTime, accept_bank AS acceptBank, is_manual_create AS isManualCreate, is_temporary AS isTemporary, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>

	<select id="listMoneyPool" resultType="com.hongte.alms.base.vo.module.MoneyPoolVO">
		SELECT 
		    tmp.money_pool_id as id,
		    tmp.trade_date as repaymentDate,
		    tmp.account_money as repaymentMoney,
		    tmp.remit_bank as realRepaymentUser,
		    tmp.accept_bank as acceptBank,
		    tmp.trade_type as tradeType,
		    tmp.trade_place as tradePlace,
		    tmp.finance_status as status,
		    tmp.update_user as updateUser,
		    tmp.update_time as updateTime,
		    tmpr.certificate_picture_url as certUrl
		FROM
		    tb_money_pool_repayment tmpr
		        LEFT JOIN
		    tb_repayment_biz_plan_list trbpl ON trbpl.plan_list_id = tmpr.plan_list_id
		        LEFT JOIN
		    tb_money_pool tmp ON tmp.money_pool_id = tmpr.money_pool_id
		WHERE
		    trbpl.business_id = #{businessId}
		        AND trbpl.after_id = #{afterId}
		        AND (tmpr.is_deleted = 0 || tmpr.is_deleted is null )
		ORDER BY 
			tmp.update_time desc,
			tmp.trade_date desc
		<if test="page != null and limit != null">
			LIMIT ${(page-1) * limit}, #{limit,jdbcType=DECIMAL}
		</if>
	</select>
	<select id="listMoneyPoolCount" resultType="int">
		SELECT 
		    COUNT(1)
		FROM
		    tb_money_pool_repayment tmpr
		        LEFT JOIN
		    tb_repayment_biz_plan_list trbpl ON trbpl.plan_list_id = tmpr.plan_list_id
		        LEFT JOIN
		    tb_money_pool tmp ON tmp.money_pool_id = tmpr.money_pool_id
		WHERE
		    trbpl.business_id = #{businessId}
		        AND trbpl.after_id = #{afterId}
		        AND (tmpr.is_deleted = 0 || tmpr.is_deleted is null )
	</select>    
</mapper>
