<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.MoneyPoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.MoneyPool">
        <id column="money_pool_id" property="moneyPoolId" />
        <result column="xd_pool_id" property="xdPoolId" />
        <result column="pay_code" property="payCode" />
        <result column="remit_bank" property="remitBank" />
        <result column="trade_date" property="tradeDate" />
        <result column="trade_type" property="tradeType" />
        <result column="summary" property="summary" />
        <result column="trade_place" property="tradePlace" />
        <result column="account_money" property="accountMoney" />
        <result column="income_type" property="incomeType" />
        <result column="trade_remark" property="tradeRemark" />
        <result column="gainer_name" property="gainerName" />
        <result column="finance_status" property="financeStatus" />
        <result column="status" property="status" />
        <result column="import_user" property="importUser" />
        <result column="import_user_name" property="importUserName" />
        <result column="import_time" property="importTime" />
        <result column="accept_bank" property="acceptBank" />
        <result column="is_manual_create" property="isManualCreate" />
        <result column="is_temporary" property="isTemporary" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="create_user_role" property="createUserRole" />
        <result column="last_status" property="lastStatus" />
        <result column="last_finance_status" property="lastFinanceStatus" />
        
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        last_status AS lastStatus,last_finance_status AS lastFinanceStatus , money_pool_id AS moneyPoolId, xd_pool_id AS xdPoolId, pay_code AS payCode, remit_bank AS remitBank, trade_date AS tradeDate, trade_type AS tradeType, summary, trade_place AS tradePlace, account_money AS accountMoney, income_type AS incomeType, trade_remark AS tradeRemark, gainer_name AS gainerName, finance_status AS financeStatus, status, import_user AS importUser, import_user_name AS importUserName, import_time AS importTime, accept_bank AS acceptBank, is_manual_create AS isManualCreate, is_temporary AS isTemporary, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser, create_user_role AS createUserRole
    </sql>

	<select id="listMatchedMoneyPool" resultType="com.hongte.alms.base.vo.module.MatchedMoneyPoolVO" >
		SELECT 
			mpr.id AS mprId,
		    mpr.money_pool_id AS moneyPoolId,
		    mp.pay_code AS repaymentCode,
		    mp.trade_date AS tradeDate,
		    mp.trade_type AS tradeType,
		    mp.summary AS summary,
		    mp.trade_place AS tradePlace,
		    mp.account_money AS accountMoney,
		    mp.trade_remark AS remark,
		    mp.status AS status,
		    mp.accept_bank AS bankAccount
		FROM
		    tb_money_pool_repayment mpr
		        LEFT JOIN
		    tb_money_pool mp ON mp.money_pool_id = mpr.money_pool_id
		WHERE
		    mpr.original_business_id = #{businessId}
		    AND
		    mpr.after_id = #{afterId}
		    AND
		    mpr.is_finance_match = 1
		    <if test="notConfirmed !=null and notConfirmed == true">
		    AND mp.status != '完成'
		    </if>
		ORDER BY  mp.trade_date desc
	</select>
	<select id="conutMoneyPoolManagerList" resultType="java.lang.Integer">
		SELECT
			count(distinct mp.money_pool_id)
		FROM
			tb_money_pool mp
		<where>
			1=1
			<if test="tradeDateStart != null and tradeDateStart.length != 0 and tradeDate == null ">
				AND mp.trade_date &gt;= #{tradeDateStart,jdbcType=DATE}
			</if>
			<if test="tradeDateEnd != null and tradeDateEnd.length != 0 and tradeDate == null ">
				AND mp.trade_date &lt;= #{tradeDateEnd,jdbcType=DATE}
			</if>
			<if test="tradeDate != null and tradeDate.length != 0 ">
				AND DATE_FORMAT(mp.trade_date,'%Y-%m-%d') = #{tradeDate}
			</if>
			<if test="createTimeStart != null and createTimeStart.length != 0 and createTime == null">
				AND ( mp.create_time &gt;= #{createTimeStart,jdbcType=DATE} OR mp.update_time &gt;= #{createTimeStart,jdbcType=DATE} )
			</if>				
			<if test="createTimeEnd != null and createTimeEnd.length != 0 and createTime == null">
				AND ( mp.create_time &lt;= #{createTimeEnd,jdbcType=DATE} OR mp.update_time &lt;= #{createTimeEnd,jdbcType=DATE} )
			</if>
			<if test="createTime != null and createTime.length != 0 ">
				AND ( DATE_FORMAT(mp.create_time,'%Y-%m-%d') = #{createTime} OR DATE_FORMAT(mp.update_time,'%Y-%m-%d') = #{createTime} )
			</if>
			<if test="acceptBank != null and acceptBank.length != 0 ">
				AND mp.accept_bank = #{acceptBank}
			</if>
			<if test="status != null and status.length != 0 ">
				AND mp.status = #{status}
			</if>
			<if test="tradeType != null and tradeType.length != 0 ">
				AND mp.trade_type = #{tradeType}
			</if>
		</where>
	</select>
	<select id="selectMoneyPoolManagerList" resultType="com.hongte.alms.base.vo.finance.MoneyPoolManagerVO">
		SELECT distinct
			mp.money_pool_id AS moneyPoolId, 
			mp.xd_pool_id AS xdPoolId, 
			mp.pay_code AS payCode, 
			mp.remit_bank AS remitBank, 
			mp.trade_date AS tradeDate, 
			mp.trade_type AS tradeType, summary, 
			mp.trade_place AS tradePlace, 
			mp.account_money AS accountMoney, 
			mp.income_type AS incomeType, 
			mp.trade_remark AS tradeRemark, 
			mp.gainer_name AS gainerName, 
			mp.finance_status AS financeStatus, 
			mp.status, 
			mp.import_user AS importUser, 
			mp.import_user_name AS importUserName, 
			mp.import_time AS importTime, 
			mp.accept_bank AS acceptBank, 
			mp.is_manual_create AS isManualCreate, 
			mp.is_temporary AS isTemporary, 
			mp.create_time AS createTime, 
			mp.create_user AS createUser, 
			mp.update_time AS updateTime, 
			mp.update_user AS updateUser, 
			mp.create_user_role AS createUserRole      ,    
			(select db.repayment_id from tb_department_bank db where db.finance_name = mp.accept_bank and db.repayment_id is not null and db.repayment_id != '' limit 1) as bankAccount
		FROM
			tb_money_pool mp
		<where>
			1=1
			<if test="tradeDateStart != null and tradeDateStart.length != 0 and tradeDate == null ">
				AND mp.trade_date &gt;= #{tradeDateStart,jdbcType=DATE}
			</if>
			<if test="tradeDateEnd != null and tradeDateEnd.length != 0 and tradeDate == null ">
				AND mp.trade_date &lt;= #{tradeDateEnd,jdbcType=DATE}
			</if>
			<if test="tradeDate != null and tradeDate.length != 0 ">
				AND DATE_FORMAT(mp.trade_date,'%Y-%m-%d') = #{tradeDate}
			</if>
			<if test="createTimeStart != null and createTimeStart.length != 0 and createTime == null">
				AND ( mp.create_time &gt;= #{createTimeStart,jdbcType=DATE} OR mp.update_time &gt;= #{createTimeStart,jdbcType=DATE} )
			</if>
			<if test="createTimeEnd != null and createTimeEnd.length != 0 and createTime == null">
				AND ( mp.create_time &lt;= #{createTimeEnd,jdbcType=DATE} OR mp.update_time &lt;= #{createTimeEnd,jdbcType=DATE} )
			</if>
			<if test="createTime != null and createTime.length != 0 ">
				AND ( DATE_FORMAT(mp.create_time,'%Y-%m-%d') = #{createTime} OR DATE_FORMAT(mp.update_time,'%Y-%m-%d') = #{createTime} )
			</if>
			<if test="acceptBank != null and acceptBank.length != 0 ">
				AND mp.accept_bank = #{acceptBank}
			</if>
			<if test="status != null and status.length != 0 ">
				AND mp.status = #{status}
			</if>
			<if test="tradeType != null and tradeType.length != 0 ">
				AND mp.trade_type = #{tradeType}
			</if>
		</where>
		order by mp.create_time desc , mp.update_time desc
		limit ${(curPage-1)*pageSize} , ${pageSize}
	</select>
</mapper>
