<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.NoticeFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.NoticeFile">
        <id column="notice_file_id" property="noticeFileId" />
        <result column="notice_id" property="noticeId" />
        <result column="file_url" property="fileUrl" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="file_name" property="fileName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        notice_file_id AS noticeFileId, notice_id AS noticeId, file_url AS fileUrl, create_time AS createTime, user_id AS userId, file_name AS fileName
    </sql>

</mapper>
