<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.ProfitFeeSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.ProfitFeeSet">
        <id column="profit_fee_set_id" property="profitFeeSetId" />
        <result column="business_type_id" property="businessTypeId" />
        <result column="fee_name" property="feeName" />
        <result column="fee_id" property="feeId" />
        <result column="fee_level" property="feeLevel" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        profit_fee_set_id AS profitFeeSetId, business_type_id AS businessTypeId, fee_name AS feeName, fee_id AS feeId, fee_level AS feeLevel, update_user_id AS updateUserId, update_time AS updateTime
    </sql>

</mapper>
