<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.ProjOutputFeeDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.ProjOutputFeeDetail">
        <id column="id" property="id" />
        <result column="proj_id" property="projId" />
        <result column="fee_term_range_min" property="feeTermRangeMin" />
        <result column="fee_term_range_max" property="feeTermRangeMax" />
        <result column="fee_id" property="feeId" />
        <result column="fee_name" property="feeName" />
        <result column="fee_value" property="feeValue" />
        <result column="fee_rate" property="feeRate" />
        <result column="fee_charging_type" property="feeChargingType" />
        <result column="interest_rate" property="interestRate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, proj_id AS projId, fee_term_range_min AS feeTermRangeMin, fee_term_range_max AS feeTermRangeMax, fee_id AS feeId, fee_name AS feeName, fee_value AS feeValue, fee_rate AS feeRate, fee_charging_type AS feeChargingType, interest_rate AS interestRate
    </sql>

</mapper>
