<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.ProjOutputFeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.ProjOutputFee">
        <id column="proj_id" property="projId" />
        <result column="fee_item_id" property="feeItemId" />
        <result column="fee_item_name" property="feeItemName" />
        <result column="fee_type_id" property="feeTypeId" />
        <result column="fee_type_name" property="feeTypeName" />
        <result column="fee_value" property="feeValue" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="RefundStatus" property="RefundStatus" />
        <result column="RefundRemark" property="RefundRemark" />
        <result column="refund_info_id" property="refundInfoId" />
        <result column="WithdrawId" property="WithdrawId" />
        <result column="fee_charging_type" property="feeChargingType" />
        <result column="is_one_time_charge" property="isOneTimeCharge" />
        <result column="withdraw_place" property="withdrawPlace" />
        <result column="output_flag" property="outputFlag" />
        <result column="repayment_flag" property="repaymentFlag" />
        <result column="is_P2P_mainmark_collect" property="isP2PMainmarkCollect" />
        <result column="interest_rate" property="interestRate" />
        <result column="is_allow_modify" property="isAllowModify" />
        <result column="is_record_income" property="isRecordIncome" />
        <result column="can_refund" property="canRefund" />
        <result column="is_term_range" property="isTermRange" />
        <result column="can_refund_money" property="canRefundMoney" />
        <result column="new_system_default_rate" property="newSystemDefaultRate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        proj_id AS projId, fee_item_id AS feeItemId, fee_item_name AS feeItemName, fee_type_id AS feeTypeId, fee_type_name AS feeTypeName, fee_value AS feeValue, create_user AS createUser, create_time AS createTime, update_user AS updateUser, update_time AS updateTime, RefundStatus, RefundRemark, refund_info_id AS refundInfoId, WithdrawId, fee_charging_type AS feeChargingType, is_one_time_charge AS isOneTimeCharge, withdraw_place AS withdrawPlace, output_flag AS outputFlag, repayment_flag AS repaymentFlag, is_P2P_mainmark_collect AS isP2PMainmarkCollect, interest_rate AS interestRate, is_allow_modify AS isAllowModify, is_record_income AS isRecordIncome, can_refund AS canRefund, is_term_range AS isTermRange, can_refund_money AS canRefundMoney, new_system_default_rate AS newSystemDefaultRate
    </sql>

</mapper>
