<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.hongte.alms.base.mapper.RepaymentProjPlanMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.hongte.alms.base.entity.RepaymentProjPlan">
		<id column="proj_plan_id" property="projPlanId" />
		<result column="project_id" property="projectId" />
		<result column="business_id" property="businessId" />
		<result column="original_business_id"
			property="originalBusinessId" />
		<result column="repayment_batch_id" property="repaymentBatchId" />
		<result column="plan_id" property="planId" />
		<result column="borrow_money" property="borrowMoney" />
		<result column="borrow_rate" property="borrowRate" />
		<result column="borrow_rate_unit" property="borrowRateUnit" />
		<result column="on_line_over_due_rate"
			property="onLineOverDueRate" />
		<result column="on_line_over_due_rate_unit"
			property="onLineOverDueRateType" />
		<result column="off_line_out_over_due_rate"
			property="offLineOutOverDueRate" />
		<result column="off_line_out_over_due_rate_unit"
			property="offLineOutOverDueRateType" />
		<result column="off_line_in_over_due_rate"
			property="offLineInOverDueRate" />
		<result column="off_line_in_over_due_rate_unit"
			property="offLineInOverDueRateType" />
		<result column="borrow_limit" property="borrowLimit" />
		<result column="borrow_limit_unit" property="borrowLimitUnit" />
		<result column="plan_status" property="planStatus" />
		<result column="is_defer" property="isDefer" />
		<result column="creat_sys_type" property="creatSysType" />
		<result column="plate_type" property="plateType" />
		<result column="create_time" property="createTime" />
		<result column="create_user" property="createUser" />
		<result column="update_time" property="updateTime" />
		<result column="update_user" property="updateUser" />
		<result column="query_full_success_date"
			property="queryFullSuccessDate" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		proj_plan_id AS projPlanId, project_id AS projectId, business_id AS businessId,
		original_business_id AS originalBusinessId, repayment_batch_id AS
		repaymentBatchId, plan_id AS planId, borrow_money AS borrowMoney,
		borrow_rate AS borrowRate, borrow_rate_unit AS borrowRateUnit,
		on_line_over_due_rate AS onLineOverDueRate, on_line_over_due_rate_unit
		AS onLineOverDueRateType, off_line_out_over_due_rate AS
		offLineOutOverDueRate, off_line_out_over_due_rate_unit AS
		offLineOutOverDueRateType, off_line_in_over_due_rate AS
		offLineInOverDueRate, off_line_in_over_due_rate_unit AS
		offLineInOverDueRateType, borrow_limit AS borrowLimit,
		borrow_limit_unit AS borrowLimitUnit, plan_status AS planStatus,
		is_defer AS isDefer,  creat_sys_type AS creatSysType,
		plate_type AS plateType, create_time AS createTime, create_user AS
		createUser, update_time AS updateTime, update_user AS updateUser,
		query_full_success_date AS queryFullSuccessDate
	</sql>

	<select id="selectProjPlanProjectInfo" resultType="java.util.Map">
		SELECT
			if(pi.master_issue_id=pi.project_id,true,false) as isMaster,
			pi.master_issue_id as masterIssueId,
			pi.project_id as projectId ,
			pi.real_name as realName ,
			pi.amount
		FROM
			tb_repayment_proj_plan pp
		LEFT JOIN 
			tb_tuandai_project_info pi ON pi.project_id = pp.project_id
		WHERE
			pp.business_id = #{businessId}
		ORDER BY
			pp.amount DESC
	</select>
	<select id="countRepayPlanAmount" resultType="BigDecimal">
		SELECT
		SUM(t3.proj_plan_amount) - SUM(t3.derate_amount) - SUM(IFNULL(t3.proj_fact_amount, 0.00))
		FROM
		tb_repayment_proj_plan t1
		INNER JOIN tb_repayment_proj_plan_list t2 ON t1.proj_plan_id = t2.proj_plan_id
		INNER JOIN tb_repayment_proj_plan_list_detail t3 ON t2.proj_plan_list_id = t3.proj_plan_list_id
		WHERE
		1 = 1
		<if test="businessId !=null">
			AND t1.business_id =#{businessId}
		</if>
		<if test="planId !=null">
			AND t1.plan_id =#{planId}
		</if>

	</select>

	<select id="sumProjectItem10Unpaid" resultType="java.math.BigDecimal">
		SELECT
			sum(proj_plan_amount-IFNULL(proj_fact_amount,0)) as unpaid
		FROM
			tb_repayment_proj_plan rpp
			left join tb_repayment_proj_plan_list rppl on rppl.proj_plan_id = rpp.proj_plan_id
			left join tb_repayment_proj_plan_list_detail rppld on rppld.proj_plan_list_id = rppl.proj_plan_list_id
		WHERE
			rpp.project_id = #{projectId} and rppld.plan_item_type = 10
			<if test="planId != null">
			and rpp.plan_id = #{planId}
			</if>
	</select>

	<select id="selectProjPlanMoney" resultType="com.hongte.alms.base.RepayPlan.dto.RepaymentSettleMoneyDto">
		SELECT
		t3.proj_plan_list_id AS projPlanListId,
		t3.proj_plan_id AS projPlanId,
		t3.business_id AS businessId,
		t3.plan_id AS planId,
		t3.after_id AS afterId,
		t3.plan_list_id AS planListId,
		t1.project_id AS projectId,
		t1.original_business_id AS origBusinessId,
		t4.period AS period,
		IFNULL(t3.repay_status,0) AS repayStatus,
		t4.proj_plan_detail_id AS projPlanDetailId,
		t4.plan_detail_id AS planDetailId,
		t4.share_profit_index AS shareProfitIndex,
		t4.plan_item_type AS planItemType,
		t4.plan_item_name AS planItemName,
		t4.fee_id AS feeId,
		t4.proj_plan_amount AS projPlanAmount,
		t4.derate_amount AS derateAmount,
		t4.proj_fact_amount AS projFactAmount,
		(t4.proj_plan_amount-t4.derate_amount-IFNULL(t4.proj_fact_amount,0.00)) AS money
		FROM
		tb_repayment_proj_plan t1
		INNER JOIN tb_repayment_proj_plan_list t3 ON t1.proj_plan_id=t3.proj_plan_id
		INNER JOIN tb_repayment_proj_plan_list_detail t4 ON t3.proj_plan_list_id = t4.proj_plan_list_id
		WHERE 1=1

		<if test="businessId !=null">
			AND t1.business_id = #{businessId}
		</if>
		<if test=" planId !=null">
			AND t1.plan_id = #{planId}
		</if>
		ORDER BY t3.due_date,t4.plan_item_type
	</select>


	<select id="orderSettleProj" resultType="com.hongte.alms.base.RepayPlan.dto.RepaymentSettleProjDto">
		(SELECT
		t1.proj_plan_id AS projPlanId,
		t1.business_id AS businessId,
		t1.plan_id AS planId,
		t2.full_borrow_money AS  projMoney,
		t2.real_name AS userName,
		0 AS isMast
		FROM
		tb_repayment_proj_plan t1
		INNER JOIN tb_tuandai_project_info t2 ON t1.project_id = t2.project_id
		WHERE 1=1
		AND IFNull(t2.org_issue_id,0) <![CDATA[ <> ]]> t2.project_id
		<if test=" businessId !=null">
			AND t1.business_id = #{businessId}
		</if>
		<if test="planId !=null">
			AND t1.plan_id=#{planId}
		</if>
		ORDER BY t2.amount,t2.queryFullsuccessDate)
		UNION ALL
		(SELECT
		t1.proj_plan_id AS projPlanId,
		t1.business_id AS businessId,
		t1.plan_id AS planId,
		t2.full_borrow_money AS  projMoney,
		t2.real_name AS userName,
		0 AS isMast
		FROM
		tb_repayment_proj_plan t1
		INNER JOIN tb_tuandai_project_info t2 ON t1.project_id = t2.project_id
		WHERE 1=1
		AND IFNull(t2.org_issue_id,0)= t2.project_id
		<if test=" businessId !=null">
			AND t1.business_id = #{businessId}
		</if>
		<if test="planId !=null">
			AND t1.plan_id=#{planId}
		</if>
		ORDER BY t2.amount,t2.queryFullsuccessDate)
	</select>
</mapper>
