<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.RepaymentBizPlanListDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.RepaymentBizPlanListDetail">
        <id column="plan_detail_id" property="planDetailId" />
        <result column="plan_list_id" property="planListId" />
        <result column="business_id" property="businessId" />
        <result column="period" property="period" />
        <result column="share_profit_index" property="shareProfitIndex" />
        <result column="plan_amount" property="planAmount" />
        <result column="derate_amount" property="derateAmount" />
        <result column="plan_rate" property="planRate" />
        <result column="fee_id" property="feeId" />
        <result column="plan_item_name" property="planItemName" />
        <result column="plan_item_type" property="planItemType" />
        <result column="account_status" property="accountStatus" />
        <result column="fact_amount" property="factAmount" />
        <result column="repay_source" property="repaySource" />
        <result column="due_date" property="dueDate" />
        <result column="fact_repay_date" property="factRepayDate" />
        <result column="create_date" property="createDate" />
        <result column="src_type" property="srcType" />
        <result column="create_user" property="createUser" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         plan_detail_id AS planDetailId, plan_list_id AS planListId, business_id AS businessId, period, share_profit_index AS shareProfitIndex, plan_amount AS planAmount, plan_rate AS planRate, fee_id AS feeId, plan_item_name AS planItemName,derate_amount as derateAmount, plan_item_type AS planItemType, account_status AS accountStatus, fact_amount AS factAmount, repay_source AS repaySource, fact_repay_date AS factRepayDate, due_date AS dueDate, create_date AS createDate, src_type AS srcType, create_user AS createUser, update_date AS updateDate, update_user AS updateUser
    </sql>
    
    <!-- 更具还款计划计算减免总金额 -->
    <select id="totalRepaymentFactAmount" resultType="java.util.Map" >
    	SELECT
          orig_business_id,
          pDetail.plan_list_id,
          SUM(IFNULL(pDetail.fact_amount,0)) AS realPay
          FROM tb_repayment_biz_plan_list_detail pDetail
               JOIN tb_repayment_biz_plan_list b
                 ON pDetail.plan_list_id = b.plan_list_id
                 where orig_business_id = #{origBusinessId,jdbcType=VARCHAR}
                 GROUP BY b.orig_business_id
	</select>

	<select id="selectLastPlanListLackFees" resultType="com.hongte.alms.base.vo.finance.SettleFeesVO">
		
		SELECT
			plan_item_name,
			plan_item_type,
			fee_id,
			amount 
		FROM
			(
		SELECT
			plan_item_name ,
			plan_item_type,
			fee_id,
			sum( plan_amount - IFNULL( fact_amount, 0 ) ) AS amount 
		FROM
			tb_repayment_biz_plan_list_detail 
		WHERE
			plan_list_id IN ( SELECT plan_list_id FROM tb_repayment_biz_plan_list WHERE business_id = #{businessId} AND due_date &lt; #{dueDate} AND ( repay_flag is null or repay_flag != 50 )
			<if test="planId != null">
			AND plan_id = #{planId}
			</if> ) 
		GROUP BY
			fee_id 
			) as tmp where amount != 0;
	</select>
	
	<select id="selectLastPlanListDerateFees" resultType="com.hongte.alms.base.vo.finance.SettleFeesVO">
		SELECT
			plan_item_name,
			plan_item_type,
			fee_id,
			amount 
		FROM
			(
		SELECT
			plan_item_name ,
			plan_item_type,
			fee_id,
			sum( derate_amount )  as amount
		FROM
			tb_repayment_biz_plan_list_detail 
		WHERE
			plan_list_id IN ( SELECT plan_list_id FROM tb_repayment_biz_plan_list WHERE orig_business_id = #{businessId} AND due_date &lt; #{dueDate}
			<if test="planId != null">
			AND plan_id = #{planId}
			</if> ) 
		GROUP BY
			fee_id 
			) as tmp where amount != 0;
	</select>
</mapper>
