<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.RepaymentProjPlanListDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.RepaymentProjPlanListDetail">
        <id column="proj_plan_detail_id" property="projPlanDetailId" />
        <result column="proj_plan_list_id" property="projPlanListId" />
        <result column="share_profit_index" property="shareProfitIndex" />
        <result column="plan_detail_id" property="planDetailId" />
        <result column="plan_list_id" property="planListId" />
        <result column="business_id" property="businessId" />
        <result column="orig_business_id" property="origBusinessId" />
        <result column="period" property="period" />
        <result column="fee_id" property="feeId" />
        <result column="plan_item_name" property="planItemName" />
        <result column="plan_item_type" property="planItemType" />
        <result column="account_status" property="accountStatus" />
        <result column="fact_repay_date" property="factRepayDate" />
        <result column="due_date" property="dueDate" />
        <result column="proj_plan_amount" property="projPlanAmount" />
        <result column="derate_amount" property="derateAmount" />
        <result column="proj_fact_amount" property="projFactAmount" />
        <result column="creat_sys_type" property="creatSysType" />
        <result column="plate_type" property="plateType" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       proj_plan_detail_id AS projPlanDetailId, proj_plan_list_id AS projPlanListId,derate_amount AS derateAmount, share_profit_index AS shareProfitIndex, plan_detail_id AS planDetailId, plan_list_id AS planListId, business_id AS businessId, orig_business_id AS origBusinessId, period, fee_id AS feeId, plan_item_name AS planItemName, plan_item_type AS planItemType, account_status AS accountStatus, fact_repay_date AS factRepayDate, due_date AS dueDate, proj_plan_amount AS projPlanAmount, proj_fact_amount AS projFactAmount,  creat_sys_type AS creatSysType, plate_type AS plateType, create_date AS createDate, create_user AS createUser, update_date AS updateDate, update_user AS updateUser
    </sql>

	<select id="selectProjDetailResidueAmount" resultType="java.util.Map">
		SELECT
			ppld.proj_plan_detail_id as projPlanDetailId,
			ppld.fee_id as feeId,
			ppld.plan_item_name as planItemName,
			ppld.plan_item_type as planItemType,
			(
			ppld.proj_plan_amount - ( IFNULL( ( SELECT sum( fact_amount ) FROM tb_repayment_proj_fact_repay pfr WHERE pfr.proj_plan_detail_id = ppld.proj_plan_detail_id ), 0 ) ) 
			) AS residueAmount 
		FROM
			tb_repayment_proj_plan_list_detail ppld 
		WHERE
			ppld.proj_plan_list_id = #{projPlanListId}
		ORDER BY
			ppld.share_profit_index,
			ppld.plan_item_type,
			ppld.fee_id
	</select>
	
	<select id="calcBizPlanListUnpaid" resultType="java.math.BigDecimal">
		SELECT
			IFNULL(sum(proj_plan_amount-IFNULL(proj_fact_amount,0)),0)
		FROM
			tb_repayment_proj_plan_list_detail 
		WHERE
			plan_list_id = #{bizPlanListId} 
			<if test="planItemType != null">
				AND plan_item_type = #{planItemType} 
			</if>
			<if test="feeId != null">
				AND fee_id = #{feeId}
			</if>
	</select>
	
	<select id="calcUnpaidPrincipal" resultType="java.math.BigDecimal" >
	SELECT
		IFNULL( sum( rpld.proj_plan_amount - IFNULL( rpld.proj_fact_amount, 0 ) ), 0 ) 
	FROM
		tb_repayment_proj_plan_list_detail rpld
		LEFT JOIN tb_repayment_proj_plan_list rppl ON rppl.proj_plan_list_id = rpld.proj_plan_list_id 
	WHERE
		rppl.business_id = #{businessId}
		AND rpld.plan_item_type = 10 
		<if test="planId != null">
			AND rpld.plan_id = #{planId}
		</if>
	ORDER BY
		rpld.due_date
	</select>
</mapper>
