<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.RepaymentSettleLogDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.RepaymentSettleLogDetail">
        <result column="settle_detail_log_id" property="settleDetailLogId" />
        <result column="settle_log_id" property="settleLogId" />
        <result column="plan_list_id" property="planListId" />
        <result column="plan_detail_id" property="planDetailId" />
        <result column="proj_plan_list_id" property="projPlanListId" />
        <result column="proj_plan_detail_id" property="projPlanDetailId" />
        <result column="money_pool_id" property="moneyPoolId" />
        <result column="fact_amount" property="factAmount" />
        <result column="repay_source" property="repaySource" />
        <result column="plan_item_type" property="planItemType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        settle_detail_log_id AS settleDetailLogId, settle_log_id AS settleLogId, plan_list_id AS planListId, plan_detail_id AS planDetailId, proj_plan_list_id AS projPlanListId, proj_plan_detail_id AS projPlanDetailId, money_pool_id AS moneyPoolId, fact_amount AS factAmount, repay_source AS repaySource, plan_item_type AS planItemType, create_time AS createTime, update_time AS updateTime
    </sql>

</mapper>
