<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.RepaymentSettleLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.RepaymentSettleLog">
        <id column="settle_log_id" property="settleLogId" />
        <result column="business_id" property="businessId" />
        <result column="org_business_id" property="orgBusinessId" />
        <result column="plan_id" property="planId" />
        <result column="repay_date" property="repayDate" />
        <result column="fact_amount" property="factAmount" />
        <result column="repay_source" property="repaySource" />
        <result column="surplus_amount" property="surplusAmount" />
        <result column="surplus_ref_id" property="surplusRefId" />
        <result column="surplus_use_ref_id" property="surplusUseRefId" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="create_user_name" property="createUserName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        settle_log_id AS settleLogId, business_id AS businessId, org_business_id AS orgBusinessId, plan_id AS planId, repay_date AS repayDate, fact_amount AS factAmount, repay_source AS repaySource, surplus_amount AS surplusAmount, surplus_ref_id AS surplusRefId, surplus_use_ref_id AS surplusUseRefId, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser, create_user_name AS createUserName
    </sql>

    <select id="selectProjPlanMoney" resultType="com.hongte.alms.base.RepayPlan.dto.RepaymentSettleMoneyDto">
       SELECT
        t3.proj_plan_list_id AS projPlanListId,
        t3.proj_plan_id AS projPlanId,
        t3.business_id AS businessId,
        t3.plan_id AS planId,
        t3.after_id AS afterId,
        t3.plan_list_id AS planListId,
        IFNULL(t3.repay_status,0) AS repayStatus,
        t4.proj_plan_detail_id AS projPlanDetailId,
        t4.plan_detail_id AS planDetailId,
        t4.share_profit_index AS shareProfitIndex,
        t4.plan_item_type AS planItemType,
        t4.plan_item_name AS planItemName,
        t4.fee_id AS feeId,
        t4.proj_plan_amount AS projPlanAmount,
        t4.derate_amount AS derateAmount,
        t4.proj_fact_amount AS projFactAmount,
        (t4.proj_plan_amount-t4.derate_amount-IFNULL(t4.proj_fact_amount,0.00)) AS money
        FROM
        tb_repayment_proj_plan t1
        INNER JOIN tb_repayment_proj_plan_list t3 ON t1.proj_plan_id=t3.proj_plan_id
        INNER JOIN tb_repayment_proj_plan_list_detail t4 ON t3.proj_plan_list_id = t4.proj_plan_list_id
        WHERE 1=1

        <if test="businessId !=null">
            AND t1.business_id = #{businessId}
        </if>
        <if test=" planId !=null">
            AND t1.plan_id = #{planId}
        </if>
        ORDER BY t3.due_date,t4.plan_item_type
    </select>


    <select id="orderSettleProj" resultType="com.hongte.alms.base.RepayPlan.dto.RepaymentSettleProjDto">
        (SELECT
        t1.proj_plan_id AS projPlanId,
        t1.business_id AS businessId,
        t1.plan_id AS planId,
        t2.full_borrow_money AS  projMoney,
        t2.real_name AS userName,
        0 AS isMast
        FROM
        tb_repayment_proj_plan t1
        INNER JOIN tb_tuandai_project_info t2 ON t1.project_id = t2.project_id
        WHERE 1=1
        AND IFNull(t2.org_issue_id,0) <![CDATA[ <> ]]> t2.project_id
        <if test=" planId !=null">
            AND t1.plan_id = #{planId}
        </if>
        ORDER BY t2.amount,t2.queryFullsuccessDate)
        UNION ALL
        (SELECT
        t1.proj_plan_id AS projPlanId,
        t1.business_id AS businessId,
        t1.plan_id AS planId,
        t2.full_borrow_money AS  projMoney,
        t2.real_name AS userName,
        0 AS isMast
        FROM
        tb_repayment_proj_plan t1
        INNER JOIN tb_tuandai_project_info t2 ON t1.project_id = t2.project_id
        WHERE 1=1
        AND IFNull(t2.org_issue_id,0)= t2.project_id
        <if test=" planId !=null">
            AND t1.plan_id = #{planId}
        </if>
        ORDER BY t2.amount,t2.queryFullsuccessDate)
    </select>
</mapper>
