<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.RepaymentProjPlanListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.RepaymentProjPlanList">
        <id column="proj_plan_list_id" property="projPlanListId"/>
        <result column="proj_plan_id" property="projPlanId"/>
        <result column="plan_list_id" property="planListId"/>
        <result column="plan_id" property="planId"/>
        <result column="business_id" property="businessId"/>
        <result column="orig_business_id" property="origBusinessId"/>
        <result column="period" property="period"/>
        <result column="after_id" property="afterId"/>
        <result column="due_date" property="dueDate"/>
        <result column="total_borrow_amount" property="totalBorrowAmount"/>
        <result column="overdue_amount" property="overdueAmount"/>
        <result column="derate_amount" property="derateAmount"/>
        <result column="overdue_days" property="overdueDays"/>
        <result column="current_status" property="currentStatus"/>
        <result column="current_sub_status" property="currentSubStatus"/>
        <result column="repay_status" property="repayStatus"/>
        <result column="repay_flag" property="repayFlag"/>
        <result column="fact_repay_date" property="factRepayDate"/>
        <result column="remark" property="remark"/>
        <result column="creat_sys_type" property="creatSysType"/>
        <result column="plate_type" property="plateType"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        proj_plan_list_id AS projPlanListId, proj_plan_id AS projPlanId,derate_amount as derateAmount, repay_status as repayStatus,plan_list_id AS planListId, plan_id AS planId, business_id AS businessId, orig_business_id AS origBusinessId, period, after_id AS afterId, due_date AS dueDate, total_borrow_amount AS totalBorrowAmount, overdue_amount AS overdueAmount, overdue_days AS overdueDays, current_status AS currentStatus, current_sub_status AS currentSubStatus, repay_flag AS repayFlag, fact_repay_date AS factRepayDate, remark, creat_sys_type AS creatSysType, plate_type AS plateType, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>


    <!-- 线上计划还款金额总和-->
    <select id="getOnLinePlanAmountSum" resultType="java.lang.Double">
			select 
				    /*除去线下滞纳金*/
              ifnull(
	            SUM(
			        CASE
			          WHEN (
			            projDetail.fee_id != '3131c075-5721-11e8-8a00-0242ac110002'	         		       
			          ) 
			          THEN projDetail.proj_plan_amount 
			          ELSE 0 
			        END
		      ) ,0) `sumPlanAmount` from tb_repayment_proj_plan_list projList 
			
			left join tb_repayment_proj_plan_list_detail projDetail
			
			
			on projList.proj_plan_list_id=projDetail.proj_plan_list_id
			


		where projList.proj_plan_list_id=#{projListId}
	</select>


    <!-- 线上实还还款金额总和-->
    <select id="getOnLineFactAmountSum" resultType="java.lang.Double">
				select 
								    /*除去线下滞纳金*/
		              ifnull(
			            SUM(
					        CASE
					          WHEN (
					            projDetail.fee_id != '3131c075-5721-11e8-8a00-0242ac110002'	         		       
					          ) 
					          THEN projDetail.proj_fact_amount 
					          ELSE 0 
					        END
				      ) ,0)  as `sumFactAmount`  from tb_repayment_proj_plan_list projList 
					
					left join tb_repayment_proj_plan_list_detail projDetail
					
					
					on projList.proj_plan_list_id=projDetail.proj_plan_list_id
			

		
				where projList.proj_plan_list_id=#{projListId}
	</select>


    <!-- 每个标的本金实还金额总和-->
    <select id="getFactAmountSum" resultType="java.lang.Double">
			select 
					sum(ifnull(projDetail.proj_fact_amount,0)) 
					   from tb_repayment_proj_plan projPlan
						
						left join tb_repayment_proj_plan_list projList 
						
						on projPlan.proj_plan_id=projList.proj_plan_id
					
					left join tb_repayment_proj_plan_list_detail projDetail
					
					
					on projList.proj_plan_list_id=projDetail.proj_plan_list_id

		
				where projPlan.proj_plan_id=#{projPlanId} and projDetail.plan_item_type=10
	</select>


    <!-- 每个标每期的应还本金和利息-->
    <select id="getPrincipalAndInterestPeriod" resultType="java.lang.Double">
				
				
       			
         select (a.planAmount-a.factAmount)  as factAmount from 
               (select 
				       SUM(
					        CASE
					          WHEN (
					            projDetail.plan_item_type =10 or projDetail.plan_item_type =20 	         		       
					          ) 
					          THEN ifnull(projDetail.proj_plan_amount,0)
					          ELSE 0 
					        END
	                   ) `planAmount`,
		      
				      SUM(
					        CASE
					          WHEN (
					            projDetail.plan_item_type =10 or projDetail.plan_item_type =20 	         		       
					          ) 
					          THEN ifnull(projDetail.proj_fact_amount,0)
					          ELSE 0 
					        END
				      ) `factAmount`
		      
					   from tb_repayment_proj_plan_list projList 
					
					left join tb_repayment_proj_plan_list_detail projDetail
					
					
					on projList.proj_plan_list_id=projDetail.proj_plan_list_id

		
				where projList.proj_plan_list_id=#{projListId} ) a
	</select>

    <select id="selectByProjectIDAndAfterId" resultType="com.hongte.alms.base.entity.RepaymentProjPlanList">
		SELECT
			ppl.* 
		FROM
			tb_repayment_proj_plan pp
			LEFT JOIN tb_repayment_proj_plan_list ppl ON ppl.proj_plan_id = pp.proj_plan_id 
		WHERE
			pp.project_id = '137e8a4a-0727-4551-b20a-48b0d6679cfa' AND ppl.after_id = '1-01'
		ORDER BY
			ppl.after_id
	</select>

    <select id="caluProjPlanListFactAmount" resultType="java.math.BigDecimal">
		SELECT
			IFNULL(SUM(proj_fact_amount),0)
		FROM
			tb_repayment_proj_plan_list_detail 
		WHERE
			proj_plan_list_id = #{projPlanListId}
	</select>

    <select id="caluProjPlanListPlanAmount" resultType="java.math.BigDecimal">
		SELECT
			(IFNULL(SUM(proj_plan_amount),0)-IFNULL(SUM(derate_amount),0))
		FROM
			tb_repayment_proj_plan_list_detail 
		WHERE
			proj_plan_list_id = #{projPlanListId}
	</select>


    <select id="getProListForCalLateFee" resultType="com.hongte.alms.base.entity.RepaymentProjPlanList">
				SELECT        proj_plan_list_id AS projPlanListId, proj_plan_id AS projPlanId,derate_amount as derateAmount, plan_list_id AS planListId, plan_id AS planId, business_id AS businessId, orig_business_id AS origBusinessId, period, after_id AS afterId, due_date AS dueDate, total_borrow_amount AS totalBorrowAmount, overdue_amount AS overdueAmount, overdue_days AS overdueDays, current_status AS currentStatus, current_sub_status AS currentSubStatus, repay_flag AS repayFlag, fact_repay_date AS factRepayDate, remark, creat_sys_type AS creatSysType, plate_type AS plateType, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
 FROM tb_repayment_proj_plan_list
WHERE (creat_sys_type = 2 AND plate_type!=2 and current_status <![CDATA[ <>  ]]> '已还款'  AND plan_list_id = #{projListId} AND( current_sub_status <![CDATA[ <>  ]]> '还款待确认' OR current_sub_status IS NULL))

	</select>
    <select id="selectProjPlanMoney" resultType="com.hongte.alms.base.RepayPlan.dto.RepaymentSettleMoneyDto">
        SELECT
        SUM(t3.proj_plan_amount) - SUM(t3.derate_amount) - SUM(IFNULL(t3.proj_fact_amount, 0.00)) AS money,
        t1.proj_plan_id AS projPlanId,
        t3.plan_item_type AS planItemType,
        t2.repay_status AS repayStatus
        FROM
        tb_repayment_proj_plan t1
        INNER JOIN tb_repayment_proj_plan_list t2 ON t1.proj_plan_id = t2.proj_plan_id
        INNER JOIN tb_repayment_proj_plan_list_detail t3 ON t2.proj_plan_list_id = t3.proj_plan_list_id
        WHERE 1 = 1
        <if test="businessId !=null">
            AND t1.business_id =#{businessId}
        </if>
        <if test="flag ==1">
            AND t2.period &lt; #{period}
        </if>
        <if test="flag ==2">
            AND t2.period &gt; #{period}
			AND t3.plan_item_type=10
        </if>
        <if test="planId !=null">
            AND t2.plan_id =#{planId}
        </if>
        GROUP BY t1.proj_plan_id, t3.plan_item_type
    </select>


</mapper>
