<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.SysApiCallFailureRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.SysApiCallFailureRecord">
        <id column="id" property="id" />
        <result column="module_name" property="moduleName" />
        <result column="api_name" property="apiName" />
        <result column="api_code" property="apiCode" />
        <result column="ref_id" property="refId" />
        <result column="api_param_plaintext" property="apiParamPlaintext" />
        <result column="api_param_ciphertext" property="apiParamCiphertext" />
        <result column="api_return_info" property="apiReturnInfo" />
        <result column="target_url" property="targetUrl" />
        <result column="retry_count" property="retryCount" />
        <result column="retry_time" property="retryTime" />
        <result column="retry_success" property="retrySuccess" />
        <result column="create_user" property="createUser" />
        <result column="craete_time" property="craeteTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, module_name AS moduleName, api_name AS apiName, api_code AS apiCode, ref_id AS refId, api_param_plaintext AS apiParamPlaintext, api_param_ciphertext AS apiParamCiphertext, api_return_info AS apiReturnInfo, target_url AS targetUrl, retry_count AS retryCount, retry_time AS retryTime, retry_success AS retrySuccess, create_user AS createUser, craete_time AS craeteTime, update_user AS updateUser, update_time AS updateTime
    </sql>

    <select id="queryCallFailedDataByApiCode" resultType="com.hongte.alms.base.entity.SysApiCallFailureRecord">
        SELECT
        <include refid="Base_Column_List"/>
		FROM
		  (SELECT 
		    t.*,
		    MAX(t.`retry_count`) cnt 
		  FROM
        (select * from tb_sys_api_call_failure_record order by ref_id, retry_count desc) t
        WHERE t.`api_code` = #{apiCode,jdbcType=VARCHAR} and t.`module_name` = #{moduleName, jdbcType=VARCHAR}
		  GROUP BY t.`ref_id`) tab
		WHERE tab.cnt <![CDATA[ < ]]> 5 
    </select>
    
    <select id="queryRetryMaxCntFailData" resultType="com.hongte.alms.base.entity.SysApiCallFailureRecord">
    	SELECT
        <include refid="Base_Column_List"/>
		FROM
		  (SELECT 
			  t.*,
			  MAX(t.`retry_count`) cnt 
			FROM
			  (SELECT 
			    * 
			  FROM
			    tb_sys_api_call_failure_record 
			  ORDER BY ref_id,
			    retry_count DESC) t 
			WHERE t.`api_code` = #{apiCode,jdbcType=VARCHAR}
			AND t.`module_name` = #{moduleName, jdbcType=VARCHAR}
			<if test="refId != null and refId != ''">
				AND t.ref_id = #{refId, jdbcType=VARCHAR}
			</if>
			GROUP BY t.`ref_id`) tab
		WHERE tab.cnt = retry_count 
		AND tab.cnt <![CDATA[ >= ]]> 5 
    </select>

</mapper>
