<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.SysExceptionLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.SysExceptionLog">
        <id column="log_id" property="logId" />
        <result column="log_level" property="logLevel" />
        <result column="logger" property="logger" />
        <result column="log_host" property="logHost" />
        <result column="log_date" property="logDate" />
        <result column="log_thread" property="logThread" />
        <result column="log_message" property="logMessage" />
        <result column="log_exception" property="logException" />
        <result column="business_id" property="businessId" />
        <result column="log_type" property="logType" />
        <result column="send_jason" property="sendJason" />
        <result column="return_jason" property="returnJason" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id AS logId, log_level AS logLevel, logger, log_host AS logHost, log_date AS logDate, log_thread AS logThread, log_message AS logMessage, log_exception AS logException, business_id AS businessId, log_type AS logType, send_jason AS sendJason, return_jason AS returnJason
    </sql>

</mapper>
