<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.SysFinancialOrderUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.SysFinancialOrderUser">
        <id column="id" property="id" />
        <result column="finance_order_id" property="financeOrderId" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, finance_order_id AS financeOrderId, user_id AS userId, user_name AS userName, update_user AS updateUser, update_time AS updateTime, create_user AS createUser, create_time AS createTime
    </sql>

</mapper>
