<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.SysJobConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.SysJobConfig">
        <id column="id" property="id" />
        <result column="job_name" property="jobName" />
        <result column="flag_lock" property="flagLock" />
        <result column="time_type" property="timeType" />
        <result column="time_interval" property="timeInterval" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="last_run_time" property="lastRunTime" />
        <result column="activate" property="activate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_name AS jobName, flag_lock AS flagLock, time_type AS timeType, time_interval AS timeInterval, creator, create_time AS createTime, updater, update_time AS updateTime, last_run_time AS lastRunTime, activate
    </sql>

   <!-- <select id="selectCanExecuteJob" resultMap="BaseResultMap">

        SELECT  * FROM  tb_sys_job_config
         WHERE id = #{jobId}
        <choose>
            <when test="timeType == 0">
                <![CDATA[
                  and date_add( last_run_time, INTERVAL #{interval} HOUR) < now();
                ]]>
            </when >
            <when test="timeType == 1">
                <![CDATA[
                  and date_add( last_run_time, INTERVAL #{interval} minute) < now();
                ]]>
            </when >
            <when test= "timeType == 2" >
                <![CDATA[
                    and date_add( last_run_time, INTERVAL #{interval} second) < now();
                ]]>
            </when >
            <otherwise>
            </otherwise>
        </choose>
    </select>-->
    
</mapper>
