<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.SysOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.SysOrg">
        <id column="ID" property="id" />
        <result column="ORG_CODE" property="orgCode" />
        <result column="ORG_NAME" property="orgName" />
        <result column="ORG_NAME_CN" property="orgNameCn" />
        <result column="PARENT_ORG_CODE" property="parentOrgCode" />
        <result column="ROOT_ORG_CODE" property="rootOrgCode" />
        <result column="ORG_PATH" property="orgPath" />
        <result column="ORG_TYPE" property="orgType" />
        <result column="SEQUENCE" property="sequence" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_OPERATOR" property="createOperator" />
        <result column="CREATED_DATETIME" property="createdDatetime" />
        <result column="LAST_MODIFIED_DATETIME" property="lastModifiedDatetime" />
        <result column="JPA_VERSION" property="jpaVersion" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="UPDATE_OPERATOR" property="updateOperator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, ORG_CODE AS orgCode, ORG_NAME AS orgName, ORG_NAME_CN AS orgNameCn, PARENT_ORG_CODE AS parentOrgCode, ROOT_ORG_CODE AS rootOrgCode, ORG_PATH AS orgPath, ORG_TYPE AS orgType, SEQUENCE AS sequence, REMARK AS remark, CREATE_OPERATOR AS createOperator, CREATED_DATETIME AS createdDatetime, LAST_MODIFIED_DATETIME AS lastModifiedDatetime, JPA_VERSION AS jpaVersion, DEL_FLAG AS delFlag, UPDATE_OPERATOR AS updateOperator
    </sql>

</mapper>
