<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.SysRole">
        <id column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="role_area_type" property="roleAreaType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_code AS roleCode, role_name AS roleName, role_area_type AS roleAreaType, role_area_method as roleAreaMethod
    </sql>

    <sql id="Table_Column_List">
        role.role_code AS roleCode, role.role_name AS roleName, role.role_area_type AS roleAreaType, role.role_area_method as roleAreaMethod
    </sql>

    <select id="getUserRoles" resultType="com.hongte.alms.base.entity.SysRole" parameterType="String" >

        SELECT
        role.role_code as role_code,role.role_name as role_name,role.role_area_type AS role_area_type,
        role.role_area_method as roleAreaMethod,role.page_type AS page_type
        <!--      <include refid="Table_Column_List"></include>  -->
        FROM  tb_sys_role role
        JOIN tb_sys_user_role uRole  ON role.role_code = uRole.role_code
        WHERE uRole.user_id = #{userId}

    </select>
    


</mapper>
