<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.TdrepayAdvanceLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.TdrepayAdvanceLog">
        <id column="id" property="id" />
        <result column="projectId" property="projectId" />
        <result column="period" property="period" />
        <result column="status" property="status" />
        <result column="total_amount" property="totalAmount" />
        <result column="principal_and_interest" property="principalAndInterest" />
        <result column="tuandai_amount" property="tuandaiAmount" />
        <result column="org_amount" property="orgAmount" />
        <result column="guarantee_amount" property="guaranteeAmount" />
        <result column="arbitration_amount" property="arbitrationAmount" />
        <result column="over_due_amount" property="overDueAmount" />
        <result column="advance_status" property="advanceStatus" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, projectId, period, status, total_amount AS totalAmount, principal_and_interest AS principalAndInterest, tuandai_amount AS tuandaiAmount, org_amount AS orgAmount, guarantee_amount AS guaranteeAmount, arbitration_amount AS arbitrationAmount, over_due_amount AS overDueAmount, advance_status AS advanceStatus, create_time AS createTime, create_user AS createUser
    </sql>

</mapper>
