<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.TransferLitigationHouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.TransferLitigationHouse">
        <id column="business_id" property="businessId" />
        <result column="process_id" property="processId" />
        <result column="crp_id" property="crpId" />
        <result column="overdue_desc" property="overdueDesc" />
        <result column="risk_desc" property="riskDesc" />
        <result column="other_pledge_desc" property="otherPledgeDesc" />
        <result column="transfer_receipt_count" property="transferReceiptCount" />
        <result column="cash_receipt_count" property="cashReceiptCount" />
        <result column="receipt_status" property="receiptStatus" />
        <result column="contract_desc" property="contractDesc" />
        <result column="repayment_intention" property="repaymentIntention" />
        <result column="repayment_intention_date" property="repaymentIntentionDate" />
        <result column="first_related_personnel" property="firstRelatedPersonnel" />
        <result column="second_related_personnel" property="secondRelatedPersonnel" />
        <result column="first_pecuniary_condition" property="firstPecuniaryCondition" />
        <result column="second_pecuniary_condition" property="secondPecuniaryCondition" />
        <result column="operator" property="operator" />
        <result column="operate_date" property="operateDate" />
        <result column="process_status" property="processStatus" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id AS businessId, process_id AS processId, crp_id AS crpId, overdue_desc AS overdueDesc, risk_desc AS riskDesc, other_pledge_desc AS otherPledgeDesc, transfer_receipt_count AS transferReceiptCount, cash_receipt_count AS cashReceiptCount, receipt_status AS receiptStatus, contract_desc AS contractDesc, repayment_intention AS repaymentIntention, repayment_intention_date AS repaymentIntentionDate, first_related_personnel AS firstRelatedPersonnel, second_related_personnel AS secondRelatedPersonnel, first_pecuniary_condition AS firstPecuniaryCondition, second_pecuniary_condition AS secondPecuniaryCondition, operator, operate_date AS operateDate, process_status AS processStatus, update_time AS updateTime, update_user AS updateUser, create_user AS createUser, create_time AS createTime
    </sql>

</mapper>
