<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.TransferLitigationCarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.TransferLitigationCar">
        <id column="business_id" property="businessId" />
        <result column="process_id" property="processId" />
        <result column="crp_id" property="crpId" />
        <result column="estates" property="estates" />
        <result column="house_address" property="houseAddress" />
        <result column="mortgage_situation" property="mortgageSituation" />
        <result column="attachment_url" property="attachmentUrl" />
        <result column="car_condition" property="carCondition" />
        <result column="alms_opinion" property="almsOpinion" />
        <result column="delay_handover" property="delayHandover" />
        <result column="delay_handover_desc" property="delayHandoverDesc" />
        <result column="process_status" property="processStatus" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id AS businessId, process_id AS processId, crp_id AS crpId, estates, house_address AS houseAddress, mortgage_situation AS mortgageSituation, attachment_url AS attachmentUrl, car_condition AS carCondition, alms_opinion AS almsOpinion, delay_handover AS delayHandover, delay_handover_desc AS delayHandoverDesc, process_status AS processStatus, update_user AS updateUser, update_time AS updateTime, create_user AS createUser, create_time AS createTime
    </sql>

</mapper>
