<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.WithholdingFlowRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.WithholdingFlowRecord">
        <id column="id" property="id" />
        <result column="withholding_platform" property="withholdingPlatform" />
        <result column="merchant_no" property="merchantNo" />
        <result column="terminal_no" property="terminalNo" />
        <result column="trade_type" property="tradeType" />
        <result column="product_name" property="productName" />
        <result column="merchant_order_no" property="merchantOrderNo" />
        <result column="trade_order_no" property="tradeOrderNo" />
        <result column="trade_water_no" property="tradeWaterNo" />
        <result column="trade_date" property="tradeDate" />
        <result column="amount" property="amount" />
        <result column="service_charge" property="serviceCharge" />
        <result column="payment_card_type" property="paymentCardType" />
        <result column="payment_card_no" property="paymentCardNo" />
        <result column="liquidation_date" property="liquidationDate" />
        <result column="withholding_status" property="withholdingStatus" />
        <result column="identity_card" property="identityCard" />
        <result column="customer_name" property="customerName" />
        <result column="phone_number" property="phoneNumber" />
        <result column="bank_card" property="bankCard" />
        <result column="remark" property="remark" />
        <result column="bank_code" property="bankCode" />
        <result column="bank_name" property="bankName" />
        <result column="import_time" property="importTime" />
        <result column="import_system" property="importSystem" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, withholding_platform AS withholdingPlatform, merchant_no AS merchantNo, terminal_no AS terminalNo, trade_type AS tradeType, product_name AS productName, merchant_order_no AS merchantOrderNo, trade_order_no AS tradeOrderNo, trade_water_no AS tradeWaterNo, trade_date AS tradeDate, amount, service_charge AS serviceCharge, payment_card_type AS paymentCardType,payment_card_no AS paymentCardNo, liquidation_date AS liquidationDate, withholding_status AS withholdingStatus, identity_card AS identityCard, customer_name AS customerName, phone_number AS phoneNumber, bank_card AS bankCard, remark, bank_code AS bankCode, bank_name AS bankName, import_time AS importTime, import_system AS importSystem
    </sql>

    <select id="querySummary" parameterType="com.hongte.alms.base.customer.vo.WithholdFlowReq" resultType="com.hongte.alms.base.vo.withhold.WithholdingFlowRecordSummaryVo">
        select count(1) as totalNumber, sum(r.amount) as totalAmount, sum(r.service_charge) as totalServiceCharge from tb_withholding_flow_record r
        join 

         tb_withholding_repayment_log l on r.merchant_order_no=l.merch_order_id 
        
        where 1=1
        <if test="withholdingPlatform != null ">
            and r.withholding_platform = #{withholdingPlatform}
        </if>
        <if test="startTime !=null and startTime != ''">
            and r.liquidation_date &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime !=''">
            and r.liquidation_date &lt;= #{endTime}
        </if>
    </select>
    
    
    
    
    <select id="selectFlowBfRecordPage" parameterType="com.hongte.alms.base.customer.vo.WithholdFlowReq" resultType="com.hongte.alms.base.vo.withhold.WithholdingFlowRecordVo">
     select   l.original_business_id as originalBusinessId,l.after_id as afterId,l.customer_name as custName,r.id, r.withholding_platform AS withholdingPlatform, r.merchant_no AS merchantNo, r.terminal_no AS terminalNo, r.trade_type AS tradeType, r.product_name AS productName, r.merchant_order_no AS merchantOrderNo, r.trade_order_no AS tradeOrderNo, r.trade_water_no AS tradeWaterNo, r.trade_date AS tradeDate, r.amount, r.service_charge AS serviceCharge, r.payment_card_type AS paymentCardType,r.payment_card_no AS paymentCardNo, r.liquidation_date AS liquidationDate, r.withholding_status AS withholdingStatus, r.identity_card AS identityCard, r.customer_name AS customerName, r.phone_number AS phoneNumber, r.bank_card AS bankCard, r.remark, r.bank_code AS bankCode, r.bank_name AS bankName, r.import_time AS importTime, r.import_system AS importSystem
    from tb_withholding_flow_record r join 

     tb_withholding_repayment_log l on r.merchant_order_no=l.merch_order_id 
     
         <where>
            1=1 
     
        <!--          /*清算日期 开始*/  -->
            <if test="startTime !=null and startTime!='' ">
                <![CDATA[ and r.liquidation_date >= #{startTime}]]>

            </if>
            <!--            /*清算日期日期 结束*/ -->
            <if test="endTime !=null and endTime!=''">
                <![CDATA[ and r.liquidation_date <= #{endTime}]]>
            </if>
            <!--            /*代扣平台*/ -->
            <if test="withholdingPlatform !=null">
                <![CDATA[ and l.bind_platform_id = #{withholdingPlatform}]]>
            </if>
     
           order by r.liquidation_date desc
      </where>
    </select>
    
    
    
</mapper>
