<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.WithholdingRecordLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.hongte.alms.base.entity.WithholdingRecordLog">
		<id column="log_id" property="logId" />
		<result column="original_business_id" property="originalBusinessId" />
		<result column="after_id" property="afterId" />
		<result column="current_amount" property="currentAmount" />
		<result column="phone_number" property="phoneNumber" />
		<result column="repay_status" property="repayStatus" />
		<result column="create_time" property="createTime" />
		<result column="create_user" property="createUser" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		log_id AS logId, original_business_id AS
		originalBusinessId, after_id AS
		afterId, current_amount AS
		currentAmount, phone_number AS phoneNumber,
		repay_status AS
		repayStatus, create_time AS createTime, create_user AS
		createUser,
		update_time AS updateTime
	</sql>


	<select id="selectWithholdingRecordLog" resultType="com.hongte.alms.base.entity.WithholdingRecordLog">



		select log_id AS logId, original_business_id AS originalBusinessId,
		after_id AS
		afterId, current_amount AS currentAmount, phone_number AS
		phoneNumber,
		repay_status AS repayStatus, create_time AS createTime,
		create_user AS
		createUser, update_time AS updateTime from
		tb_withholding_record_log


		<where> 
           1=1 and 
			original_business_id=#{originalBusinessId} and
			after_id=#{afterId}
		</where>
	</select>

</mapper>
