
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />

<title>贷后管理</title>
	<script src="/properties/config.js"></script>
<link rel="stylesheet" type="text/css"
	href="/src/css/themes/default.css" />
<!-- iview样式 -->
<link rel="stylesheet" type="text/css"
	href="/plugins/iview/css/iview.css" />
<!--@import url("//unpkg.com/iview/dist/styles/iview.css");-->
<!--<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css"/>-->
<!-- 引入layui样式 -->
<link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/plugins/popover/popover.css">
<!--   <script src="//unpkg.com/vue/dist/vue.js"></script>
       <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
<!-- 引入vue -->
<script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
<!-- iview js -->
<script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
<!--引入layui.js-->
<script src="/plugins/layui/layui.js"></script>
<!--引入axios.js 用于ajax调用-->
<script src="/plugins/axios/axios.min.js"></script>
<script type="text/javascript" src="/plugins/jquery-1.9.1.min.js"></script>
	<script src="/build/js/jquery-3.3.1.min.js"></script>
	<!-- 设置全局请求头:app、Authorization -->
	<script src="/build/js/appToken.js"></script>
<script src="/plugins/popover/popover.js"></script>

<style type="text/css">
.layui-form-item {
	border-bottom: 2px solid #DBDBDB; /*下边框线*/
}

.layui-form-item .layui-form-label {
	width: 30%
}

.layui-form-item .layui-input-block {
	margin-left: 35%;
	width: 60%;
}

.layui-form-item .layui-input-block input {
	border: none;
	background-color: #eee !important;
}
.input-border-none {
	border: none;
	font-size: 14px;
}

.layui-row .grid-demo {
	margin-left: 5%;
	width: 90%;
}

.td_label {
	font-weight: bolder;
}
</style>
</head>
<body>
	<!--隐藏元素-->
	<p id="businessId" th:attr="value=${businessId}" hidden />
	<!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
	<div id="app">
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this">车辆信息</li>
				<li>业务信息</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
							<div class="grid-demo layui-bg-gray">
								<div class="grid-demo layui-bg-gray">车辆基本情况</div>
								<div class="grid-demo layui-bg-gray">
									<table class="layui-table">
										<tr>
											<td class="td_label">车架号：</td>
											<td><input type="text" name="lname"
												class="input-border-none"  readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">发动机号：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.engineModel"></td>
										</tr>
										<tr>
											<td class="td_label">排量：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carBasic.displacement" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">发票价：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.invoiceCost"></td>
										</tr>
										<tr>
											<td class="td_label">购车日期：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">违章情况：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.trafficViolationSituation"></td>
										</tr>
										<tr>
											<td class="td_label">违章费用：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.trafficViolationFee"></td>
										</tr>
										<tr>
											<td class="td_label">车船税费用：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vehicleVesselTax"></td>
										</tr>
										<tr>
											<td class="td_label">统缴费用</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.annualTicketFee"></td>
										</tr>
										<tr>
											<td class="td_label">核对行驶资料：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carBasic.drivingLicenseConsistent==true?'相符':'不符'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">借款期内是否续保：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carBasic.renewal==true?'是':'否'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">燃油形式：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carBasic.fuelType==0?'汽油':'柴油'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">汽车注册日期：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vehicleLicenseRegistrationDate"></td>
										</tr>

										<tr>
											<td class="td_label">年审到期日：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.annualVerificationExpirationDate"></td>
										</tr>
										<tr>
											<td class="td_label">车辆抵押状态：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carBasic.mortgage==true?'已抵押':'未抵押'" readonly="readonly"
												></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
								<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
							<div class="grid-demo layui-bg-gray">
								<div class="grid-demo layui-bg-gray">车辆外观情况</div>
								<div class="grid-demo layui-bg-gray">
									<table class="layui-table">
										<tr>
											<td class="td_label">里程表读数：</td>
											<td><input type="text" name="lname"
												class="input-border-none"   readonly="readonly"
												v-model="carBasic.odometer"></td>
										</tr>
										<tr>
											<td class="td_label">燃油量（约余）：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.fuelLeft"></td>
										</tr>
										<tr>
											<td class="td_label">中控台：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.centerPanelNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">空调：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.ventilatorNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">车厢内饰：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.interiorNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">玻璃：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.windowGlassNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">水箱：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.radiatorNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">发动机：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.engineNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">车大梁：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.frameNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">轮胎：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.tireNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">备用胎：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.spareTireNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">车门：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.doorNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">其他情况说明：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carDetection.vin"></td>
										</tr>

									
									</table>
								</div>
							</div>
						</div>
						
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
							<div class="grid-demo layui-bg-gray">
								<div class="grid-demo layui-bg-gray">车辆行驶情况</div>
								<div class="grid-demo layui-bg-gray">
									<table class="layui-table">
										<tr>
											<td class="td_label">评估金额：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carDetection.evaluationAmount"></td>
										</tr>
										<tr>
											<td class="td_label">建议借款金额：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">发动机性能：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.accelerationPerformanceNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">刹车性能：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.brakingPerformanceNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">刹车平衡性能：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.brakingBalancePerformanceNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">方向性能：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.steerPerformanceNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">挂档性能：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.gearPerformanceNormal==true?'异常':'无异常'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">其他情况说明：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carDetection.otherDriveDescription"></td>
										</tr>
										
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
							<div class="grid-demo layui-bg-gray">
								<div class="grid-demo layui-bg-gray">现场核查</div>
								<div class="grid-demo layui-bg-gray">
									<table class="layui-table">
										<tr>
											<td class="td_label">车架号是否一致：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.vinConsistent==true?'是':'否'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">发动机号是否一致：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.engineModelConsistent==true?'是':'否'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">是否有事故痕迹：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.accident==true?'是':'否'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">是否有其他问题：</td>
											<td><input type="text" name="lname"
												class="input-border-none" v-bind:value="carDetection.otherTrouble==true?'是':'否'" readonly="readonly"
												></td>
										</tr>
										<tr>
											<td class="td_label">其他情况说明：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carDetection.otherTroubleDescription"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="layui-tab-item">
					<div class="layui-row">
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
							<div class="grid-demo layui-bg-gray">
								<div class="grid-demo layui-bg-gray">拍卖信息</div>
								<div class="grid-demo layui-bg-gray">
									<table class="layui-table">

										<tr>
											<td class="td_label">拍卖申请人：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">起拍价：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">保证金：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">加价幅度：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">保留价：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">拍卖开始时间：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">截止时间：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">处置单位：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">拍卖成交价格：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">最终获取人姓名：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">联系方式：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
										<tr>
											<td class="td_label">身份证号码：</td>
											<td><input type="text" name="lname"
												class="input-border-none" value="未抵押" readonly="readonly"
												v-model="carBasic.vin"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
			<script src="/src/js/assets/car/carDetail.js"></script>
			<script>
				
			</script>
</body>
</html>