<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>车贷移交诉讼</title>
    <!-- 默认主题样式 -->
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css"/>
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css"/>
    <!--<link rel="stylesheet" type="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>

    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!--iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--    <script src="//unpkg.com/vue/dist/vue.js"></script>
        <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->

    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>

    <!-- 流程组件的  -->
    <link rel="stylesheet" href="/Components/ProcessLine/ProcessLine.css">
    <script src="/Components/ProcessLine/ProcessLine.js"></script>

    <!--表格样式-->
    <link rel="stylesheet" href="/Components/Table/Table.css">

    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script type="text/javascript" src="/plugins/jquery-1.9.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>
    <script src="http://blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/plugins/fileUpload/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="/plugins/fileUpload/jquery.fileupload.js"></script>
	
	<script src="/properties/config.js"></script>    

    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>

<style type="text/css">
.layui-form-item {
	border-bottom: 2px solid #DBDBDB; /*下边框线*/
}

.layui-form-item .layui-form-label {
	width: 30%
}

.layui-form-item .layui-input-block {
	width: 60%;
}

.input-border-none {
	border: none;
	font-size: 14px;
	width: 100%;
}

.layui-row .grid-demo {
	width: 91%;
}

.td_label {
	font-weight: bolder;
}
.td_select{
height: 100%;
}
.input-border-input {
	height: 100%;
	width: 100%;
}
</style>

</head>
<body>
<!--隐藏元素-->
<p id="businessId"  th:attr="value=${businessId}"  hidden />
<p id="crpId"  th:attr="value=${crpId}"  hidden />
<p id="processStatus"  th:attr="value=${processStatus}"  hidden />
<p id="processId"  th:attr="value=${processId}"  hidden />
<!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
<div id="app" v-cloak>

    <row type="flex" justify="end" class="code-row-bg">
        <i-col span="17"><font size="6px" color="#464c5b">车贷起诉/仲裁申请书({{ baseInfoForm.companyName }})</font></i-col>
    </row>
    
    <br>
	    <Card>
	        <p slot="title">
				审批流程
	        </p>
	        <div class="ProcessWarp">
	            <ProcessLine :data='myProcess'></ProcessLine>
	        </div>
	    </Card>
    <br>
    
	<!--基本信息表单内容-->
		<Card>
			<row :gutter="16">
		        <div class="table">
		            <div class="tr">
		                <div class="td"> <div class="td-box">业务编号</div><div class="td-box">{{ baseInfoForm.businessId }} </div> </div>
		                <div class="td"> <div class="td-box">客户名称</div><div class="td-box">{{ baseInfoForm.customerName }} </div> </div>
		                <div class="td"> <div class="td-box">借款金额</div><div class="td-box">{{ baseInfoForm.borrowMoney }} </div> </div>
		            </div>
		            <div class="tr">
		                <div class="td"> <div class="td-box">借款期限</div><div class="td-box">{{ baseInfoForm.borrowLimit }} </div> </div>
		                <div class="td"> <div class="td-box">还款方式</div><div class="td-box">{{ baseInfoForm.repaymentTypeId }} </div> </div>
		                <div class="td"> <div class="td-box">费率</div><div class="td-box">{{ baseInfoForm.borrowRate }} {{ baseInfoForm.monthBorrowRate }} </div> </div>
		            </div>
		            <div class="tr">
		                <div class="td"> <div class="td-box">车辆型号</div><div class="td-box"> {{ baseInfoForm.model }} </div> </div>
		                <div class="td"> <div class="td-box">车辆评估时间</div><div class="td-box">{{ baseInfoForm.createTime }} </div> </div>
		                <div class="td"> <div class="td-box">车辆评估价值</div><div class="td-box">{{ baseInfoForm.evaluationAmount }} </div> </div>
		            </div>
		            <div class="tr">
		                <div class="td"> <div class="td-box">拖车时间</div><div class="td-box">{{ baseInfoForm.dragDate }} </div> </div>
		                <div class="td"> <div class="td-box">业务主办</div><div class="td-box">{{ baseInfoForm.operatorName }} </div> </div>
		                <div class="td"> <div class="td-box">出款人</div><div class="td-box">{{ baseInfoForm.outputUserName }} </div> </div>
		            </div>
		            <div class="tr">
		                <div class="td"> <div class="td-box">出款日期</div><div class="td-box">{{ baseInfoForm.factOutputDate }} </div> </div>
		                <div class="td"> <div class="td-box">已还本金</div><div class="td-box">{{ baseInfoForm.factPrincipal }} </div> </div>
		                <div class="td"> <div class="td-box">已还利息</div><div class="td-box">{{ baseInfoForm.factAccrual }} </div> </div>
		            </div>
		            <div class="tr">
		                <div class="td"> <div class="td-box">剩余本金</div><div class="td-box">{{ baseInfoForm.surplusPrincipal }} </div> </div>
		                <div class="td"> <div class="td-box">利息交至日期</div><div class="td-box">{{ baseInfoForm.dueDate }} </div> </div>
		                <div class="td"> <div class="td-box">逾期天数</div><div class="td-box">{{ baseInfoForm.overdueDays }} </div> </div>
		            </div>
		        </div>
			</row>
		</Card>
		
		<Card>
		<i-form ref="estatesForm" :model="commitInfoForm" label-position="right" :label-width="100">
			<row :gutter="16">
				<i-col span="22">
	                <form-item v-if="applyInfoFormEditFlage" label="客户是否有房产：" prop="estates"  >
	                    <radio-group v-model="commitInfoForm.estates" >
	                        <radio label="是" ></radio>
	                        <radio label="否" ></radio>
	                    </radio-group>
	                </form-item>
	                <form-item v-else label="客户是否有房产：" prop="estates"  disabled>
	                    <radio-group v-model="commitInfoForm.estates" disabled>
	                        <radio label="是" disabled></radio>
	                        <radio label="否" disabled></radio>
	                    </radio-group>
	                </form-item>
	            </i-col>
			</row>
		</i-form>		
			
		<div class="layui-row">
			<div class="layui-col-xs6 layui-col-md12">
				<div class="grid-demo layui-bg-gray">
					<table class="layui-table">
						<tr track-by="$index" v-for="(info, index) in componentOption" v-if="applyInfoFormEditFlage">
							<td class="td_label">房产地址{{index + 1}}</td>
							<td  > 
							      <cascader :data="areaData" v-model="componentOption[index].houseArea" filterable></cascader>
							</td>
							<td  > 
							      <i-input v-model="componentOption[index].detailAddress" placeholder="详细地址" ></i-input>
							</td>
							<td  > 
							      <i-input v-model="componentOption[index].mortgageSituation" placeholder="房产抵押情况" ></i-input>
							</td>
							<td  >
							  <div class="layui-btn-group">
							    <button class="layui-btn layui-btn-primary layui-btn-sm" v-on:click="addHouseTabTr($event)"><i class="layui-icon"></i></button>
							    <button v-if="index != 0" class="layui-btn layui-btn-primary layui-btn-sm"  v-on:click="removeHouseTabTr($event, index)"><i class="layui-icon"></i></button>
							  </div>
							  
							</td>
							
						</tr>
						<tr v-for="(info, index) in commitInfoForm.componentOption" v-else disabled>
							<td class="td_label">房产地址{{index + 1}}</td>
							<td  disabled> 
							      <cascader :data="areaData" v-model="componentOption[index].houseArea" filterable disabled></cascader>
							</td>
							<td  disabled> 
							      <i-input  disabled v-model="componentOption[index].detailAddress" placeholder="详细地址" ></i-input>
							</td>
							<td  disabled> 
							      <i-input disabled v-model="componentOption[index].mortgageSituation" placeholder="房产抵押情况" ></i-input>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>		
			
		<div class="layui-row">
			<div class="layui-col-xs6 layui-col-md12">
				<div class="grid-demo layui-bg-gray">
					<table class="layui-table" id="fTab">
						<tr v-for="(info, index) in returnRegFiles">
							<td class="td_label" >附件{{index+1}}<input type="text" hidden="" v-model="info.oldDocId" :id="'docId'+index"></td>
							<td v-if="applyInfoFormEditFlage" ><input type="file" title="请选择" v-model="info.file" :id="'uploadfile'+index" v-on:click="uploadFile($event,index)"></td>
							<td v-else disabled><input disabled type="file" title="请选择" v-model="info.file" :id="'uploadfile'+index" v-on:click="uploadFile($event,index)"></td>
							<td class="td_label" v-if="applyInfoFormEditFlage" >重命名文件名称</td>
							<td v-if="applyInfoFormEditFlage" ><input type="text" name="lname" v-model="info.originalName"
								style="width: 100%" maxlength="100" :id="'uploadfileName'+index"></td>
							<td>
							  <div v-if="applyInfoFormEditFlage" class="layui-btn-group">
							    <button class="layui-btn layui-btn-primary layui-btn-sm" v-on:click="addTabTr($event)"><i class="layui-icon"></i></button>
							    <span v-if="index>0">
							    <button class="layui-btn layui-btn-primary layui-btn-sm"  v-on:click="removeTabTr($event, index)"><i class="layui-icon"></i></button>
							    </span>
							  </div>
							
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>	
		</Card>
		
		<Card>
			<i-form ref="commitInfoForm"  :model="commitInfoForm"   :rules = "validCommitInfoForm"  label-position="right" :label-width="100">
			<row :gutter="16">
				<i-col span="22">
                    <form-item v-if="applyInfoFormEditFlage" label="客户车辆目前情况：" prop="carCondition" >
                        <i-input v-model="commitInfoForm.carCondition" type="textarea" :rows="4" placeholder="必填，限500字"></i-input>
                    </form-item>
                    <form-item v-else disabled label="客户车辆目前情况：" prop="carCondition" >
                        <i-input disabled v-model="commitInfoForm.carCondition" type="textarea" :rows="4" placeholder="必填，限500字"></i-input>
                    </form-item>
                </i-col>
			</row>	
				
			<row :gutter="16">
				<i-col span="22">
                    <form-item v-if="applyInfoFormEditFlage" label="贷后意见：" prop="almsOpinion" >
                        <i-input v-model="commitInfoForm.almsOpinion" type="textarea" :rows="4" placeholder="必填，限500字"></i-input>
                    </form-item>
                    <form-item v-else disabled label="贷后意见：" prop="almsOpinion" >
                        <i-input disabled v-model="commitInfoForm.almsOpinion" type="textarea" :rows="4" placeholder="必填，限500字"></i-input>
                    </form-item>
                </i-col>
			</row>
			
			<row :gutter="16">
				<i-col span="22">
	                <form-item v-if="applyInfoFormEditFlage" label="是否推迟移交：" prop="delayHandover"  >
	                    <radio-group v-model="commitInfoForm.delayHandover" >
	                        <radio label="是" ></radio>
	                        <radio label="否" ></radio>
	                    </radio-group>
	                </form-item>
	                <form-item v-else disabled label="是否推迟移交：" prop="delayHandover"  >
	                    <radio-group disabled v-model="commitInfoForm.delayHandover" >
	                        <radio disabled label="是" ></radio>
	                        <radio disabled label="否" ></radio>
	                    </radio-group>
	                </form-item>
	            </i-col>
			</row>		
				
			<row :gutter="16">
				<i-col span="22">
	                <form-item v-if="applyInfoFormEditFlage" label="是否推迟移交诉讼（最长延期7天及说明理由）" prop="delayHandoverDesc"  >
	                    <i-input v-model="commitInfoForm.delayHandoverDesc" type="textarea" :rows="4" placeholder="必填，限500字"></i-input>
	                </form-item>
	                <form-item v-else disabled label="是否推迟移交诉讼（最长延期7天及说明理由）" prop="delayHandoverDesc"  >
	                    <i-input disabled v-model="commitInfoForm.delayHandoverDesc" type="textarea" :rows="4" placeholder="必填，限500字"></i-input>
	                </form-item>
	            </i-col>
			</row>			
		</Card>
		
		<Card v-if="approvalInfoFormShowFlage">
            <!--审批信息表单内容-->
            <row :gutter="16">
                <i-form ref="approvalInfoForm"  :model="approvalInfoForm"   :rules = "approvalInfoFormValidate"  label-position="right" :label-width="100">

                    <row :gutter="16" v-for="(approvalInfo) in approvalInfoList"   :value="approvalInfo.processLogId" :key="approvalInfo.processLogId">
                        <i-col span="4" >
                            <font size="3px" color="#464c5b">{{approvalInfo.stepName}}</font>
                        </i-col>
                        <i-col span="20">
                            <row :gutter="16">
                                <i-col span="20" >
                                    <form-item label="是否同意审批："   >
                                        <radio-group v-model="approvalInfo.isPassFlage" disabled>
                                            <radio label="是" disabled></radio>
                                            <radio label="否" disabled></radio>
                                        </radio-group>
                                    </form-item>
                                </i-col>
                            </row>
                            <row :gutter="16">
                                <i-col span="22">
                                    <i-input v-model="approvalInfo.remark" type="textarea" :autosize="{minRows: 3,maxRows: 5}" disabled  placeholder="请填写审批记录"></i-input>
                                </i-col>
                            </row>
                            <row >
                                <i-col span="8"  offset="16">
                                    <form-item label="审批人：" >{{ approvalInfo.approveUserName }} </form-item>
                                </i-col>
                                <i-col span="8"  offset="16">
                                    <form-item label="审批日期：" >{{ approvalInfo.createTime }} </form-item>
                                </i-col>
                            </row>
                        </i-col>
                    </row>
                    <!--当前审批人操作信息  开始-->
                    <row  v-if = "applyOprShowFlage"  :gutter="16"  >
                        <i-col span="4" >
                            <font size="3px" color="#464c5b">{{approvalInfoForm.approvalUserInfo}}</font>
                        </i-col>
                        <i-col span="20">
                            <row :gutter="16">
                                <i-col span="6" >
                                    <form-item label="是否同意审批："  prop="isPassFlage">
                                        <radio-group v-model="approvalInfoForm.isPassFlage" @click="isPassClick()" >
                                            <span @click="isPassClick(true)"> <radio label="是" ></radio> </span>
                                            <span @click="isPassClick(false)"> <radio label="否" ></radio> </span>
                                            <!--<radio label="是" ></radio>-->
                                            <!--<radio label="否" ></radio>-->
                                        </radio-group>
                                    </form-item>
                                </i-col>
                                <i-col v-if="rockBackShowFlage" span="6" >
                                    <form-item label="是否回退："  prop="isDirectBack">
                                        <radio-group v-model="approvalInfoForm.isDirectBackFlage" >
                                            <span @click="isRockBackClick(true)"> <radio label="是" ></radio> </span>
                                            <span @click="isRockBackClick(false)"> <radio label="否" ></radio> </span>
                                        </radio-group>
                                    </form-item>
                                </i-col>
                               <i-col v-if="rockBackStepShowFlage" span="10" >
                                   <form-item label="回退步骤：" prop="areaId">
                                       <i-select v-model="approvalInfoForm.nextStep" clearable  filterable >
                                           <i-option v-for="item in rockBackStepList" :value="item.step" :key="item.stepName">{{ item.stepName }}</i-option>
                                       </i-select>
                                   </form-item>
                                </i-col>
                            </row>
                            <row :gutter="16">
                                <i-col span="22">
                                    <i-input v-model="approvalInfoForm.remark" type="textarea" :autosize="{minRows: 3,maxRows: 5}"   placeholder="请填写审批记录"></i-input>
                                </i-col>
                            </row>
                            <row >
                                <i-col span="8"  offset="16">
                                    <form-item label="审批人：" >{{ approvalInfoForm.approveUserName }} </form-item>
                                </i-col>
                                <i-col span="8"  offset="16">
                                    <form-item label="审批日期：" >{{ approvalInfoForm.approveDate }} </form-item>
                                </i-col>
                            </row>
                        </i-col>
                    </row>
                    <!--当前审批人操作信息  结束-->

                    <!--抄送信息  开始-->
                    <row  v-if = "applyOprShowFlage"  :gutter="16" >
                        <i-col span="4" >
                            <font size="3px" color="#464c5b">添加抄送</font>
                        </i-col>
                        <i-col span="20">
                            <row :gutter="16">
                                <form-item label="选择抄送人员：" >
                                    <i-select v-model="approvalInfoForm.sendUserIds"  multiple >
                                        <i-option v-for="item in canSendUserList" :value="item.userId" :key="item.userName">{{ item.userName }}</i-option>
                                    </i-select>
                                </form-item>
                            </row>
                            <row :gutter="16">
                                <i-col span="22">
                                    <i-input v-model="approvalInfoForm.copySendInfo" type="textarea" :autosize="{minRows: 3,maxRows: 5}"   placeholder="请填写抄送备注"></i-input>
                                </i-col>
                            </row>

                        </i-col>
                    </row>
                    <!--抄送信息  结束-->

                </i-form>
            </row>
        </Card>
		
		</i-form>
		
		<row style="padding: 10px">
	        <i-col span="24">
	            <i-button v-if = "buttonShowFlage"  type="success"  @click="saveAppply()" >提交审批</i-button>
	            <i-button v-if ="saveDraftShowFlage" type="info"  @click="saveDeraf()" >保存草稿</i-button>
	            <i-button v-if = "buttonShowFlage"  type="success"  @click="resetEdit()"  >撤销</i-button>
	        </i-col>
	    </row>
</div>
<script src="/src/js/Litigation/carLoan.js" ></script>
</body>
</html>