<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>结清试算</title>
    <!-- 默认主题样式 -->
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css" />
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css" />
    <!--<link rel="stylesheet" type="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />

    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!--iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--    <script src="//unpkg.com/vue/dist/vue.js"></script>
        <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->

    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <script src="/properties/config.js"></script>

    <!-- 流程组件的  -->
    <link rel="stylesheet" href="/Components/ProcessLine/ProcessLine.css">
    <script src="/Components/ProcessLine/ProcessLine.js"></script>

    <!--表格样式-->
    <link rel="stylesheet" href="/Components/Table/Table.css">

    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>

    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>

    <style>
    .ivu-row {
        padding: 0.5rem 0px
    }
    /* .ivu-col {
        border-right: 0.1px solid black
    }  */
    </style>
</head>

<body>
    <!--隐藏元素-->
    <p id="logId" th:attr="value=${logId}" hidden />
    <p id="originalBusinessId" th:attr="value=${originalBusinessId}" hidden />
    <p id="afterId" th:attr="value=${afterId}" hidden />
    <p id="recipient" th:attr="value=${recipient}" hidden />
    <p id="phoneNumber" th:attr="value=${phoneNumber}" hidden />
    <p id="sendDate" th:attr="value=${sendDate}" hidden />
    <p id="status" th:attr="value=${status}" hidden />
    <p id="phoneNumber" th:attr="value=${phoneNumber}" hidden />
    <p id="content" th:attr="value=${content}" hidden />
    <!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
    <div id="app" v-cloak>
        <card>
            <span slot="title">结清试算</span>

            <card>
                <span slot="title">业务结清试算</span>
                <row >
                    <i-col span="4">业务编号</i-col>
                    <i-col span="4">{{business.base.businessId}}</i-col>
                    <i-col span="4">客户姓名</i-col>
                    <i-col span="4">{{business.base.customerName}}</i-col>
                    <i-col span="4">借款金额</i-col>
                    <i-col span="4">{{business.base.borrowMoney}}</i-col>
                </row>
                <row>
                    <i-col span="4">借款期限</i-col>
                    <i-col span="4">{{business.base.borrowLimit}}{{business.base.borrowLimitUnit==1?'个月':'天'}}</i-col>
                    <!--   `repayment_type_id` int(11) NOT NULL COMMENT '还款方式ID，1：到期还本息，2：每月付息到期还本，4：等本等息，5：等额本息，9：分期还本付息',
 -->
                    <i-col span="4">还款方式</i-col>
                    <i-col span="4">{{business.repaymentType}}</i-col>
                    <i-col span="4">费率</i-col>
                    <i-col span="4">{{business.base.borrowRate}}%</i-col>
                </row>
                <row>
                    <i-col span="4">出款日期</i-col>
                    <i-col span="4">{{business.output.date}}</i-col>
                    <i-col span="4">出款金额</i-col>
                    <i-col span="4">{{business.output.money}}</i-col>
                    <i-col span="4">出款人</i-col>
                    <i-col span="4">{{business.output.user}}</i-col>
                </row>
            </card>

            <card>
                <span slot="title">结清试算信息</span>
                <row>
                    <i-col span="4">预计结清日期</i-col>
                    <i-col span="8"><date-picker type="date" v-model="preSettleDate.date"  :options="preSettleDate.disabledDate" @on-change="onPreSettleDateChange"></date-picker>
                    <i-col span="12"></i-col>
                </row>
                <row>
                    <i-col span="4">本金</i-col>
                    <i-col span="4">{{business.info.principal}}</i-col>
                    <i-col span="4">利息</i-col>
                    <i-col span="4">{{business.info.interest}}</i-col>
                    <i-col span="4">服务费</i-col>
                    <i-col span="4">{{business.info.servicecharge}}</i-col>
                </row>
                <row>
                    <i-col span="4">担保公司费用</i-col>
                    <i-col span="4">{{business.info.guaranteeFee}}</i-col>
                    <i-col span="4">平台费</i-col>
                    <i-col span="4">{{business.info.platformFee}}</i-col>
                    <i-col span="4">期内滞纳金</i-col>
                    <i-col span="4">{{business.info.lateFee}}</i-col>
                </row>
                <row>
                    <i-col span="4">期外逾期费</i-col>
                    <i-col span="4">{{business.info.demurrage}}</i-col>
                    <i-col span="4">提前还款违约金</i-col>
                    <i-col span="4">{{business.info.penalty}}</i-col>
                    <i-col span="4">往期少交费用（含滞纳金）</i-col>
                    <i-col span="4">{{business.info.lackFee}}</i-col>
                </row>
            </card>
            <card>
                <span slot="title">往期少缴费用</span>
                <row>
                    <i-col span="4">期数</i-col>
                    <i-col span="4">本金</i-col>
                    <i-col span="4">利息</i-col>
                    <i-col span="4">平台费</i-col>
                    <i-col span="4">服务费</i-col>
                    <i-col span="4">滞纳金</i-col>
                </row>
                <row v-for="item in business.info.list" >
                    <i-col span="4">{{item.period}}</i-col>
                    <i-col span="4">{{item.principal}}</i-col>
                    <i-col span="4">{{item.interest}}</i-col>
                    <i-col span="4">{{item.platFormFee}}</i-col>
                    <i-col span="4">{{item.servicecharge}}</i-col>
                    <i-col span="4">{{item.lateFee}}</i-col>
                </row>
            </card>
            <card>
                <span slot="title">其他费用输入项</span>
                <row>
                    <i-col span="6">上门费</i-col>
                    <i-col span="6"><i-input style="width:50%" v-model="business.doorToDoorFee" type="number" number></i-input></i-col>
                    <i-col span="6">律师费</i-col>
                    <i-col span="6"><i-input style="width:50%" v-model="business.lawyerFee" type="number" number></i-input></i-col>
                </row>
                <row>
                    <i-col span="6">诉讼费</i-col>
                    <i-col span="6"><i-input style="width:50%" v-model="business.legalFee" type="number" number></i-input></i-col>
                    <i-col span="6">其他费用</i-col>
                    <i-col span="6"><i-input style="width:50%" v-model="business.otherFee" type="number" number></i-input></i-col>
                </row>
                <row>
                    <i-col span="6">应收合计</i-col>
                    <i-col span="6">{{sumIncome()}}</i-col>
                    <i-col span="12"></i-col>
                </row>
                <row>
                    <i-col span="6">+结余</i-col>
                    <i-col span="6">{{business.info.balance||0}}</i-col>
                    <i-col span="6">+押金转还款金额</i-col>
                    <i-col span="6">{{business.deposit||0}}</i-col>
                </row>
                <row>
                    <i-col span="6">最终结清金额</i-col>
                    <i-col span="18">{{sum()}}</i-col>
                </row>
            </card>
        </card>
    </div>
    <script src="/src/js/ExpenseSettle/houseLoan.js"></script>
</body>

</html>