<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>结清试算</title>
    <!-- 默认主题样式 -->
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css" />
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css" />
    <!--<link rel="stylesheet" type="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />

    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!--iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--    <script src="//unpkg.com/vue/dist/vue.js"></script>
        <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->

    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <script src="/properties/config.js"></script>

    <!-- 流程组件的  -->
    <link rel="stylesheet" href="/Components/ProcessLine/ProcessLine.css">
    <script src="/Components/ProcessLine/ProcessLine.js"></script>

    <!--表格样式-->
    <link rel="stylesheet" href="/Components/Table/Table.css">

    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>

    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>

    <style>
        .ivu-row {
            padding: 0.5rem 0px
        }

        /* .ivu-col {
        border-right: 0.1px solid black
    }  */
    </style>
</head>

<body>
    <!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
    <div id="app" v-cloak>

        <row type="flex" justify="end" class="code-row-bg">
            <i-col span="15">
                <font size="6px" color="#464c5b">房贷业务结清试算</font>
            </i-col>
        </row>

        <br>
        <br>

        <card>
            <span slot="title">结清试算</span>

            <card>
                <span slot="title">业务结清试算</span>
                <!-- <row>
                    <i-col span="4">业务编号</i-col>
                    <i-col span="4">{{business.base.businessId}}</i-col>
                    <i-col span="4">客户姓名</i-col>
                    <i-col span="4">{{business.base.customerName}}</i-col>
                    <i-col span="4">借款金额</i-col>
                    <i-col span="4">{{business.base.borrowMoney}}</i-col>
                </row>
                <row>
                    <i-col span="4">借款期限</i-col>
                    <i-col span="4">{{business.base.borrowLimit}}{{business.base.borrowLimitUnit==1?'个月':'天'}}</i-col>
                    <i-col span="4">还款方式</i-col>
                    <i-col span="4">{{business.repaymentType}}</i-col>
                    <i-col span="4">费率</i-col>
                    <i-col span="4">{{business.base.borrowRate}}%</i-col>
                </row>
                <row>
                    <i-col span="4">出款日期</i-col>
                    <i-col span="4">{{business.output.date}}</i-col>
                    <i-col span="4">出款金额</i-col>
                    <i-col span="4">{{business.output.money}}</i-col>
                    <i-col span="4">出款人</i-col>
                    <i-col span="4">{{business.output.user}}</i-col>
                </row> -->

                <row :gutter="16">
                    <div class="table">
                        <div class="tr">
                            <div class="td">
                                <div class="td-box">业务编号</div>
                                <div class="td-box">{{business.base.businessId}} </div>
                            </div>
                            <div class="td">
                                <div class="td-box">客户名称</div>
                                <div class="td-box">{{business.base.customerName}} </div>
                            </div>
                            <div class="td">
                                <div class="td-box">借款金额</div>
                                <div class="td-box">{{business.base.borrowMoney?numeral(business.base.borrowMoney).format('0,0.00'):0}} </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td">
                                <div class="td-box">借款期限</div>
                                <div class="td-box">{{business.base.borrowLimit}}{{business.base.borrowLimitUnit==1?'个月':'天'}}</div>
                            </div>
                            <div class="td">
                                <div class="td-box">还款方式</div>
                                <div class="td-box">{{business.repaymentType}} </div>
                            </div>
                            <div class="td">
                                <div class="td-box">费率</div>
                                <div class="td-box">{{business.base.borrowRate}}% </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td">
                                <div class="td-box">出款日期</div>
                                <div class="td-box">{{business.output.date}}</div>
                            </div>
                            <div class="td">
                                <div class="td-box">出款金额</div>
                                <div class="td-box">{{business.output.money?numeral(business.output.money).format('0,0.00'):0}} </div>
                            </div>
                            <div class="td">
                                <div class="td-box">出款人</div>
                                <div class="td-box">{{business.output.user}} </div>
                            </div>
                        </div>
                    </div>
                </row>

            </card>

            <Card>
                <p slot="title">
                    结清试算信息
                </p>
                <row>
                    <i-col span="4">预计结清日期</i-col>
                    <i-col span="8">
                        <date-picker type="date" v-model="preSettleDate.date" :options="preSettleDate.disabledDate" @on-change="onPreSettleDateChange"></date-picker>
                        <i-button type="primary" @click="cal">开始计算</i-button>
                    </i-col>
                </row>
            </Card>

            <Card>
                <row :gutter="16">
                    <div class="table">
                        <div class="tr">
                            <div class="td">
                                <div class="td-box">本金</div>
                                <div class="td-box">{{business.info.principal?numeral(business.info.principal).format('0,0.00'):0 }}</div>
                            </div>
                            <div class="td">
                                <div class="td-box">利息</div>
                                <div class="td-box">{{business.info.interest?numeral(business.info.interest).format('0,0.00'):0 }}</div>
                            </div>
                            <div class="td">
                                <div class="td-box">服务费</div>
                                <div class="td-box">{{business.info.servicecharge?numeral(business.info.servicecharge).format('0,0.00'):0}}</div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td">
                                <div class="td-box">担保公司费用</div>
                                <div class="td-box">{{business.info.guaranteeFee?numeral(business.info.guaranteeFee).format('0,0.00'):0}}</div>
                            </div>
                            <div class="td">
                                <div class="td-box">平台费</div>
                                <div class="td-box">{{business.info.platformFee?numeral(business.info.platformFee).format('0,0.00'):0}}</div>
                            </div>
                            <div class="td">
                                <div class="td-box">期内滞纳金</div>
                                <div class="td-box">
                                        {{business.info.lateFee?numeral(business.info.lateFee).format('0,0.00'):0}}
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td">
                                <div class="td-box">期外滞纳金</div>
                                <div class="td-box">
                                        {{business.info.demurrage?numeral(business.info.demurrage).format('0,0.00'):0 }}
                                </div>
                            </div>
                            <div class="td">
                                <div class="td-box">提前还款违约金</div>
                                <div class="td-box">
                                        {{business.info.penalty?numeral(business.info.penalty).format('0,0.00'):0 }}
                                </div>
                            </div>
                            <div class="td">
                                <div class="td-box">往期少交费用（含滞纳金）</div>
                                <div class="td-box">{{business.info.lackFee?numeral(business.info.lackFee).format('0,0.00'):0 }}</div>
                            </div>
                        </div>
                    </div>
                </row>
            </Card>
            <Card>
                    <p slot="title">
                        往期少缴费用
                    </p>
                    <row :gutter="16">
                        <i-table border :columns="arrearageDetailTitle" :data="business.info.list"></i-table>
                    </row>
                </Card>
            <!-- <card>
                <span slot="title">结清试算信息</span>
                <row>
                    <i-col span="4">预计结清日期</i-col>
                    <i-col span="8">
                        <date-picker type="date" v-model="preSettleDate.date" :options="preSettleDate.disabledDate" @on-change="onPreSettleDateChange"></date-picker>
                        <i-button type="primary" @click="cal">开始计算</i-button>
                    </i-col>
                </row>
                <row>
                    <i-col span="4">本金</i-col>
                    <i-col span="4">{{business.info.principal}}</i-col>
                    <i-col span="4">利息</i-col>
                    <i-col span="4">{{business.info.interest}}</i-col>
                    <i-col span="4">服务费</i-col>
                    <i-col span="4">{{business.info.servicecharge}}</i-col>
                </row>
                <row>
                    <i-col span="4">担保公司费用</i-col>
                    <i-col span="4">{{business.info.guaranteeFee}}</i-col>
                    <i-col span="4">平台费</i-col>
                    <i-col span="4">{{business.info.platformFee}}</i-col>
                    <i-col span="4">期内滞纳金</i-col>
                    <i-col span="4">{{business.info.lateFee}}</i-col>
                </row>
                <row>
                    <i-col span="4">期外逾期费</i-col>
                    <i-col span="4">{{business.info.demurrage}}</i-col>
                    <i-col span="4">提前还款违约金</i-col>
                    <i-col span="4">{{business.info.penalty}}</i-col>
                    <i-col span="4">往期少交费用（含滞纳金）</i-col>
                    <i-col span="4">{{business.info.lackFee}}</i-col>
                </row>
            </card>
            <card>
                <span slot="title">往期少缴费用</span>
                <row>
                    <i-col span="4">期数</i-col>
                    <i-col span="4">利息</i-col>
                    <i-col span="4">平台费</i-col>
                    <i-col span="4">服务费</i-col>
                    <i-col span="4">滞纳金</i-col>
                </row>
                <row v-for="item in business.info.list">
                    <i-col span="4">{{item.period}}</i-col>
                    <i-col span="4">{{item.interest}}</i-col>
                    <i-col span="4">{{item.platFormFee}}</i-col>
                    <i-col span="4">{{item.servicecharge}}</i-col>
                    <i-col span="4">{{item.lateFee}}</i-col>
                </row>
            </card>
            <card>
                <span slot="title">其他费用输入项</span>
                <row>
                    <i-col span="6">上门费</i-col>
                    <i-col span="6">
                        <i-input style="width:50%" v-model="business.doorToDoorFee" type="number" number></i-input>
                    </i-col>
                    <i-col span="6">律师费</i-col>
                    <i-col span="6">
                        <i-input style="width:50%" v-model="business.lawyerFee" type="number" number></i-input>
                    </i-col>
                </row>
                <row>
                    <i-col span="6">诉讼费</i-col>
                    <i-col span="6">
                        <i-input style="width:50%" v-model="business.legalFee" type="number" number></i-input>
                    </i-col>
                    <i-col span="6">其他费用</i-col>
                    <i-col span="6">
                        <i-input style="width:50%" v-model="business.otherFee" type="number" number></i-input>
                    </i-col>
                </row>
                <row>
                    <i-col span="6">应收合计</i-col>
                    <i-col span="6">{{sumIncome()}}</i-col>
                    <i-col span="12"></i-col>
                </row>
                <row>
                    <i-col span="6">+结余</i-col>
                    <i-col span="6">{{business.info.balance||0}}</i-col>
                    <i-col span="6">+押金转还款金额</i-col>
                    <i-col span="6">{{business.deposit||0}}</i-col>
                </row>
                <row>
                    <i-col span="6">最终结清金额</i-col>
                    <i-col span="18">{{sum()}}</i-col>
                </row>
            </card> -->

            <Card>
                    <p slot="title">
                        其他费用输入项
                    </p>
                    <row>
                        <i-col span="6">上门费</i-col>
                        <i-col span="6"><i-input style="width:50%" v-model="business.doorToDoorFee" type="number" number/></i-col>
                        <i-col span="6">律师费</i-col>
                        <i-col span="6"><i-input style="width:50%" v-model="business.lawyerFee"  type="number" number/></i-col>
                    </row>
                    <row style="margin-top:1rem">
                        <i-col span="6">诉讼费</i-col>
                        <i-col span="6"><i-input style="width:50%" v-model="business.legalFee"  type="number" number/></i-col>
                        <i-col span="6">其他费用</i-col>
                        <i-col span="6"><i-input style="width:50%" v-model="business.otherFee"  type="number" number/></i-col>
                    </row>
                    <row style="margin-top:1rem">
                        <i-col span="6">应收合计</i-col>
                        <i-col span="6">{{sumIncome()?numeral(sumIncome()).format('0,0.00'):0}}</i-col>
                    </row>
                    <row style="margin-top:1rem">
                        <i-col span="6">+结余</i-col>
                        <i-col span="6">= &nbsp {{business.info.balance?numeral(business.info.balance).format('0,0.00'):0}}</i-col>
                        <i-col span="6">+押金转还款金额</i-col>
                        <i-col span="6">= &nbsp {{business.deposit?numeral(business.deposit).format('0,0.00'):0}}</i-col>
                    </row>
                    <row style="margin-top:1rem">
                        <i-col span="6">最终结清金额</i-col>
                        <i-col span="18">= &nbsp {{sum()?numeral(sum()).format('0,0.00'):0}}</i-col>
                    </row>
                </Card>
        </card>
    </div>
    <script src="/src/js/ExpenseSettle/houseLoan.js"></script>
</body>

</html>