*, :after, :before {
    box-sizing: border-box;
}

.ivu-steps-warp {
    width: 100%;
    margin:20px auto;
}

.ivu-steps {
    font-size: 0;
    max-width: 980px;
    line-height: 1.5;
    margin: auto;
    position: relative;
}

.events-warp {
    position: relative;
    margin: 0 60px;
    overflow: hidden;
}

.events {
    transition: transform 0.3s;
}

.ivu-steps-item {
    display: inline-block;
    position: relative;
    min-width: 250px;
}

.ivu-steps .ivu-steps-tail {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: 11px;
}

.events .ivu-steps-item:nth-child(4n) .ivu-steps-tail, .events .ivu-steps-item:last-child .ivu-steps-tail {
    display: none;
}

.ivu-steps .ivu-steps-tail>i {
    display: inline-block;
    width: 100%;
    height: 1px;
    vertical-align: top;
    background: #e9eaec;
    border-radius: 1px;
    position: relative;
}

.ivu-steps-item.ivu-steps-status-finish .ivu-steps-tail>i:after {
    width: 100%;
    background: #2d8cf0;
    transition: all .2s ease-in-out;
    opacity: 1;
}

.ivu-steps .ivu-steps-head {
    background: #fff;
}

.ivu-steps .ivu-steps-head,
.ivu-steps .ivu-steps-main {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.ivu-steps .ivu-steps-head-inner {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 24px;
    margin-right: 8px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 14px;
    transition: background-color .2s ease-in-out;
}

.ivu-steps-item.ivu-steps-status-process .ivu-steps-head-inner {
    border-color: #2d8cf0;
    background-color: #2d8cf0;
}

.ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner {
    background-color: #fff;
    border-color: #2d8cf0;
}

.ivu-steps-item.ivu-steps-status-process .ivu-steps-head-inner>.ivu-steps-icon,
.ivu-steps-item.ivu-steps-status-process .ivu-steps-head-inner span {
    color: #fff;
}


.ivu-steps .ivu-steps-main {
    margin-top: 2.5px;
    display: inline;
    overflow: hidden;
}

.ivu-steps .ivu-steps-title {
    display: inline-block;
    margin-bottom: 4px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #999;
    background: #fff;
}

.ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner>.ivu-steps-icon,
.ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner {
    color: #2d8cf0;
    background: url('./Images/finish.svg') no-repeat center / 18px;
    display: block;
    font-size: 0;
}

.ivu-steps-item.ivu-steps-status-process .ivu-steps-content,
.ivu-steps-item.ivu-steps-status-process .ivu-steps-title {
    color: #666;
}

.ivu-steps-item.ivu-steps-status-finish .ivu-steps-content,
.ivu-steps-item.ivu-steps-status-finish .ivu-steps-title {
    color: #999;
}

.ivu-steps-item.ivu-steps-status-wait .ivu-steps-head-inner>.ivu-steps-icon,
.ivu-steps-item.ivu-steps-status-wait .ivu-steps-head-inner span {
    color: #ccc;
}

.ivu-steps-horizontal .ivu-steps-content {
    padding-left: 35px;
}

.ivu-steps .ivu-steps-content {
    font-size: 12px;
    color: #999;
}

.cd-timeline-navigation .inactive {
    cursor: not-allowed;
}

.cd-timeline-navigation .prev {
    left: 0px;
    transform: translateY(-50%) rotate(180deg);
}

.cd-timeline-navigation .next {
    right: 0px;
}

.cd-timeline-navigation a {
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    transition: border-color 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}

.cd-timeline-navigation a::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    background: url('./Images/cd-arrow.svg') no-repeat 0 0;
}