<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>合规化还款</title>
    <!-- 默认主题样式 -->
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css"/>
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css"/>
    <!--<link rel="stylesheet" type="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>

    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!--iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--    <script src="//unpkg.com/vue/dist/vue.js"></script>
        <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->

    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>

    <!-- 流程组件的  -->
    <link rel="stylesheet" href="/Components/ProcessLine/ProcessLine.css">
    <script src="/Components/ProcessLine/ProcessLine.js"></script>

    <!--表格样式-->
    <link rel="stylesheet" href="/Components/Table/Table.css">

    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script type="text/javascript" src="/plugins/jquery-1.9.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>
    <script src="http://blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/plugins/fileUpload/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="/plugins/fileUpload/jquery.fileupload.js"></script>
    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>
	<script src="/properties/config.js"></script>
	<style>
		.boder{
			border:1px dashed red
		}
		
		.bank {
			    display: flex;
   				 flex-wrap: wrap;
		}
		
        .marginRight {
            margin-right: 25px;
        }

        .ivu-card-head {
            border-bottom: 1px solid #e9eaec;
            padding: 14px 16px;
            line-height: 1;
            background-color: rgba(204, 235, 248, 1);
            color: #3598DC
        }
        
        .layui-table th, .layui-table td.td {
			padding:0 !important;
		}
		.layui-table th, .layui-table td .receive-inner-div{
			line-height: 40px;
			border-bottom:1px solid #ccc;
			text-align:center;
		}
		.layui-table th, .layui-table td .receive-inner-div:last-child {
			border-bottom:none;
		}
	</style>
</head>
<body>
<div id="app" v-cloak>
	<Card>
		<row>
			<i-col span="5" offset="8">
				财务确认日期：
		    	<date-picker type="daterange" split-panels format="yyyy-MM-dd" placeholder="财务确认日期" 
		    		@on-change="queryConditionModel.confirmTimeStart=$event[0];queryConditionModel.confirmTimeEnd=$event[1]" clearable />
		    </i-col>
			<i-col span="3">
				分发状态：
				<i-select v-model="queryConditionModel.processStatus" clearable filterable style="width:100px">
      				<i-option :value="0">待分发</i-option>
      				<i-option :value="1">分发处理中</i-option>
      				<i-option :value="2">分发成功</i-option>
      				<i-option :value="3">分发失败</i-option>
  				</i-select>
			</i-col>
			<i-col span="3">
				还款方式：
				<i-select v-model="queryConditionModel.repaySource" clearable filterable style="width:100px">
      				<i-option :value="1">转账还款</i-option>
      				<i-option :value="2">第三方代扣</i-option>
      				<i-option :value="3">银行代扣</i-option>
      				<i-option :value="4">网关充值</i-option>
  				</i-select>
			</i-col>
			<i-col span="3">
				期数类型：
				<i-select v-model="queryConditionModel.settleType" clearable filterable style="width:100px">
      				<i-option :value="1">结清</i-option>
      				<i-option :value="2">展期确认</i-option>
      				<i-option :value="0">正常还款</i-option>
  				</i-select>
			</i-col>
			<i-col span="1">
				<i-button type="primary" @click="queryComplianceRepaymentData">查询</i-button>
			</i-col>
			<i-col span="1">
				<i-button type="primary" @click="exportComplianceRepaymentData"><Icon type="ios-download-outline"></Icon>导出</i-button>
			</i-col>
	    </row>
	    
		<row style="margin-top:1rem">
			<i-col span="4" offset="8">
				编号：
		    	<i-input v-model="queryConditionModel.origBusinessId" type="info" style="width:200px"/>
		    </i-col>
			<i-col span="3">
				业务类型：
				<i-select v-model="queryConditionModel.businessType" @on-change="onChangeBusinessType($event)" clearable filterable style="width:100px">
					<i-option v-for="item in businessTypeList" :value="item.value" :key="item.value">{{ item.name }}</i-option>
  				</i-select>
			</i-col>
			<i-col span="3">
				平台状态：
				<i-select v-model="queryConditionModel.platStatus" clearable filterable style="width:100px">
      				<i-option :value="1">已还款</i-option>
      				<i-option :value="2">逾期</i-option>
      				<i-option :value="3">未还款</i-option>
  				</i-select>
			</i-col>
			<i-col span="4">
				分公司：
				<i-select v-model="queryConditionModel.companyName" clearable filterable style="width:185px">
      				<i-option v-for="(item, index) in allBusinessCompanyList" :value="item.areaName" :key="item.areaId">{{ item.areaName }}</i-option>
  				</i-select>
			</i-col>
			<i-col span="2">
				<i-button type="primary" @click="queryDistributeFund">刷新资金分发状态</i-button>
			</i-col>
	    </row>
    </Card>
    
    <Card>
    	<row>
			<i-button type="primary" @click="userDistributeFund" style="margin-right:1rem">资金分发</i-button>
			<i-button type="primary" @click="openRechargeModal" style="margin-right:1rem">充值</i-button>
			<i-button type="primary" @click="openRechargeRecordModal" style="margin-right:1rem">查看充值记录</i-button>
			<i-button type="primary" @click="queryRechargeAccountBalance" :loading="queryRechargeAccountBalanceLoading" style="margin-right:1rem">查看账户余额</i-button>
		</row>
		<row style="margin-top:1rem">
			<i-col span='6'>
				{{ rechargeAccountType }}：代充值存管账号余额为：
				{{ rechargeAccountBalance?numeral(rechargeAccountBalance).format('0,0.00'):0 }}元
			</i-col>
			<i-col span='6'>已勾选待分发金额为：{{ selectAmount }} 元</i-col>
		</row>
	</Card>
	
	<Card>
    		<table id="complianceRepaymentData" lay-filter="complianceRepaymentData"></table>
    		<script type="text/html" id="toolbar">
                <a class="layui-btn layui-btn-xs" lay-event="info">详情</a>
            </script>
	</Card>
	
	<Modal v-model="rechargeModal" title="代充值账户充值" width="1500">
		<i-form ref="rechargeModalForm" :model="rechargeModalForm" label-position="right" label-width="150" :rules="rechargeModalFormRules">
			<form-item label="代充值账户：" prop="rechargeAccount">
				<row>
					<i-col>
						<i-select v-model="rechargeModalForm.rechargeAccountType" clearable filterable style="width:200px" 
									@on-change="rechargeModalForm.rechargeAccountType == '' ? '' : queryUserAviMoney()">
                            <i-option value="车贷">车贷代充值账户</i-option>
                            <i-option value="房贷">房贷代充值账户</i-option>
                            <i-option value="扶贫贷">扶贫贷代充值账户</i-option>
                            <i-option value="闪贷业务">闪贷业务代充值账户</i-option>
                            <i-option value="车全业务">车全业务代充值账户</i-option>
                            <i-option value="二手车业务">二手车业务代充值账户</i-option>
                            <i-option value="一点车贷">一点车贷代充值账户</i-option>
                            <i-option value="信用贷">信用贷代充值账户</i-option>
		  				</i-select>
		  				<span style="color: red">
		  					{{rechargeModalForm.rechargeAccountBalance && 
		  						rechargeModalForm.rechargeAccountType?numeral(rechargeModalForm.rechargeAccountBalance).format('0,0.00') + '元' : ''}}
		  				</span>
					</i-col>
				</row>
			</form-item>
			<form-item label="转账类型：" prop="transferType">
				<row>
					<i-col>
						<radio-group v-model="rechargeModalForm.transferType" >
				           	<radio label="1">
				            	<span>对公</span>
					        </radio>
			             	<radio label="2">
				            	<span>对私</span>
			       			</radio>
				        </radio-group>
					</i-col>
				</row>
			</form-item>
			<form-item label="充值金额（元）：" prop="rechargeAmount">
				<row>
					<i-col>
						<i-input v-model="rechargeModalForm.rechargeAmount" style="width: 200px"/> {{ArabicToChinese(rechargeModalForm.rechargeAmount)}}
					</i-col>
				</row>
			</form-item>
			<form-item label="充值来源账户：" prop="rechargeSourseAccount">
				<row>
					<i-col>
						<i-select v-model="rechargeModalForm.rechargeSourseAccount" clearable filterable style="width:200px" 
							@on-change="queryBankAccount(rechargeModalForm.rechargeSourseAccount)">
		      				<i-option v-for="(item, index) in bankAccountList" :value="item.financeName" :key="item.accountId">{{item.financeName}}</i-option>
		  				</i-select>
						<span style="color: red">{{ rechargeModalForm.bankAccount }}</span>
					</i-col>
				</row>
			</form-item>
			<form-item label="选择银行：" prop="bankCode">
				<row class="bank">
					<i-col span="6" v-for="item in bankCodeList" style="margin-top:1rem" v-model="rechargeModalForm.bankCode">
						<img :src="handleImgUri(item)" :class="rechargeModalForm.bankCode==item ? 'boder' : ''" @click="rechargeModalForm.bankCode=item">
					</i-col>
				</row>
			</form-item>
	   	</i-form>
		<row slot="footer" >
            <div class="layui-btn-group" style ="float: left">
                <button class="layui-btn" @click="rechargeModalCommit">提交</button>
                <button class="layui-btn layui-btn-danger" @click="closeModal">关闭</button>
            </div>
   		</row>
	</Modal>
	
	<Modal v-model="infoFlag" width="1600" @on-visible-change="openInfoTabModal">
		<Card>
            <div slot="title" >
                <span>业务编号:</span>
                <span class="marginRight">{{ infoBasicData.businessId }}</span>
                <span>标的编号:</span>
                <span class="marginRight">{{ infoBasicData.projectId }}</span>
                <span>客户姓名:</span>
                <span class="marginRight">{{ infoBasicData.customerName }}</span>
                <span>标的金额:</span>
                <span class="marginRight">{{infoBasicData.amount?numeral(infoBasicData.amount).format('0,0.00') + '元' : ''}}</span>
            </div>
            
	        <tabs value="fundDistributionRecord" :animated="true" @on-click="initFunction($event)">
				<tab-pane label="资金分发记录" name="fundDistributionRecord">
					<table class="layui-table">
				        <thead>
				            <tr>
				                <th>期数</th>
				                <th>实收日期</th>
				                <th>实收金额</th>
				                <th>资金分发日期</th>
				                <th>资金分发金额</th>
				                <th>资金分发费用项</th>
				                <th>费用项金额</th>
				                <th>处理结果</th>
				                <th>备注</th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr v-for='(item, index) in distributeFundRecordList' :key='index'>
				                <td style="text-align:center">{{ item.afterId }}</td>
				                <td style="text-align:center">{{ item.factRepayDateStr }}</td>
				                <td style="text-align:center">{{ item.factRepayAmount?numeral(item.factRepayAmount).format('0,0.00'):0 }}</td>
				                <td style="text-align:center">{{ item.createTimeStr }}</td>
				                <td style="text-align:center">{{ item.rechargeAmount?numeral(item.rechargeAmount).format('0,0.00'):0 }}</td>
				                <td>
				                    <div class="receive-inner-div" v-for='(subItem, subIndex) in item.details' :key='subIndex'>{{ subItem.feeName }}</div>
				                </td>
				                <td>
				                    <div class="receive-inner-div"  v-for='(subItem, subIndex) in item.details' :key='subIndex'>{{ subItem.feeValue?numeral(subItem.feeValue).format('0,0.00'):0 }}</div>
				                </td>
				                <td style="text-align:center">{{ item.processStatusStr }}</td>
				                <td style="text-align:center">{{ item.remark }}</td>
				            </tr>
				        </tbody>
				    </table>
				</tab-pane>
				
				<tab-pane label="平台实还" name="platformRealRepayment">
					<row style="margin-top:1rem">
						<p slot="title">
				            <h3>标的应还计划</h3>
				        </p>
				    </row>
					<i-table border :columns="platformRepaymentInfoColumns" :data="platformRepaymentInfoData" style="margin-top:1rem"></i-table>
					
					<row style="margin-top:1rem">
						<p slot="title">
				            <h3>标的实还计划</h3>
				        </p>
				    </row>
					<i-table border :columns="platformActualRepaymentInfoColumns" :data="platformActualRepaymentInfoData" style="margin-top:1rem"></i-table>
				</tab-pane>
				
				<tab-pane label="垫付记录" name="advancesRecord">
					<row style="margin-top:1rem">
						<p slot="title">
				            <h3>还垫付记录</h3>
				        </p>
				    </row>
					<row style="margin-top:1rem">
						<i-table border :columns="advancePaymentInfoColumns" :data="advancePaymentInfoData" style="margin-top:1rem"></i-table>
					</row>
					
					<row style="margin-top:1rem">
						<p slot="title">
				            <h3>担保公司垫付记录</h3>
				        </p>
				    </row>
					<row style="margin-top:1rem">
						<i-table border :columns="queryGuaranteePaymentColumns" :data="queryGuaranteePaymentData" style="margin-top:1rem"></i-table>
					</row>
				</tab-pane>
			</tabs>
        </Card>
	</Modal>
	
	<Modal v-model="rechargeRecordFlag" width="1600" title="充值记录">
		<row>
			<i-col span="6">
				选择代充值账户：
				<i-select v-model="queryRechargeRecordModel.rechargeAccountType" clearable filterable style="width: 200px">
                       <i-option value="车贷">车贷代充值账户</i-option>
                       <i-option value="房贷">房贷代充值账户</i-option>
                       <i-option value="扶贫贷">扶贫贷代充值账户</i-option>
                       <i-option value="闪贷业务">闪贷业务代充值账户</i-option>
                       <i-option value="车全业务">车全业务代充值账户</i-option>
                       <i-option value="二手车业务">二手车业务代充值账户</i-option>
                       <i-option value="一点车贷">一点车贷代充值账户</i-option>
                       <i-option value="信用贷">信用贷代充值账户</i-option>
				</i-select>
			</i-col>
			<i-col span="6">
				充值订单号：<i-input v-model="queryRechargeRecordModel.cmOrderNo" style="width: 200px"/>
			</i-col>
			<i-col span="6">
				充值来源账户：
				<i-select v-model="queryRechargeRecordModel.rechargeSourseAccount" clearable filterable style="width: 200px">
      				<i-option v-for="(item, index) in bankAccountList" :value="item.financeName" :key="item.accountId">{{item.financeName}}</i-option>
  				</i-select>
			</i-col>
			<i-col span="4">
				创建日期：
		    	<date-picker type="daterange" split-panels format="yyyy-MM-dd" placeholder="创建日期" 
		    		@on-change="queryRechargeRecordModel.createTimeStart=$event[0];queryRechargeRecordModel.createTimeEnd=$event[1]" clearable />
			</i-col>
			<i-col span="1">
				<i-button type="primary" @click="paging(1)">查询</i-button>
			</i-col>
			<i-col span="1">
				<i-button type="primary" @click="exportRechargeRecordData"><Icon type="ios-download-outline"></Icon>导出</i-button>
			</i-col>
		</row>
		<row slot="footer" >
            <div class="layui-btn-group" style ="float: right">
                <button class="layui-btn layui-btn-danger" @click="closeModal">关闭</button>
            </div>
   		</row>
   		<row style="margin-top:1rem">
   			<i-table border :columns="queryRechargeRecordColumns" :data="queryRechargeRecordData" ref="rechargeRecord"></i-table>
   		</row>
        <Footer style="text-align: center;width: 100%" >
            <Page :total="rechargeRecordTotal"  ref="pages" show-total @on-change="paging" ></Page>
        </Footer>
	</Modal>
	
	<Modal v-model="rechargeAccountBalanceFlag" width="1000" title="代充值账户余额">
   		<row style="margin-top:1rem">
   			<i-table border :columns="queryRechargeAccountBalanceColumns" :data="queryRechargeAccountBalanceData"></i-table>
   		</row>
	</Modal>
</div>
<script src="/src/js/compliance/index.js" ></script>
</body>
</html>