<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>手动同步</title>
    <script src="/properties/config.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css" />
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css" />
    <!--@import url("//unpkg.com/iview/dist/styles/iview.css");-->
    <!--<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />

    <!--   <script src="//unpkg.com/vue/dist/vue.js"></script>
       <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>
    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>
</head>

<body>
    <!--隐藏元素-->
    <!--<p id="staffType"  th:attr="value=${staffType}"  hidden />-->
    <!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
    <div id="app" v-cloak>
    	<div style="margin-top:10px; margin-left:10px">
		   	<i-lable>同步电催催收数据：</i-lable>
		   	<i-button :loading="syncCollectionLoading" @click="syncCollection">
		   		<i-span v-if="!syncCollectionLoading">同步</i-span>
		   		<i-span v-else>同步中...</i-span>
		   	</i-button>
    	</div>
    	<div style="margin-top:10px; margin-left:10px">
			<i-lable>同步指定电催催收数据：</i-lable>
			业务ID：
			<div class="layui-inline">
				<input v-model="oneCollectionBId" class="layui-input" name="id" id="oneCollectionBId">
			</div>
			还款计划期数：
			<div class="layui-inline">
				<input v-model="oneCollectionAfterId" class="layui-input" name="id" id="oneCollectionAfterId">
			</div>
			<i-button :loading="synOneCollectionLoading" @click="transferOneCollection">
				<i-span v-if="!synOneCollectionLoading">同步指定电催数据</i-span>
				<i-span v-else>同步中...</i-span>
			</i-button>
		</div>
		<div style="margin-top:10px; margin-left:10px">
			<i-lable>同步指定用户电催催收数据：</i-lable>
			用户ID（信贷）：
			<div class="layui-inline">
				<input v-model="oneColUserXDId" class="layui-input" name="id" id="oneColUserXDId">
			</div>
			<i-button :loading="synOneCollectionLoading" @click="transferOneUserCollection">
				<i-span v-if="!synOneCollectionLoading">同步用户指定电催数据</i-span>
				<i-span v-else>同步中...</i-span>
			</i-button>
		</div>
		<div style="margin-top:10px; margin-left:10px">
		   	<i-lable>同步上门催收数据：</i-lable>
		   	<i-button :loading="syncVisitCollectionLoading" @click="syncVisitCollection">
		   		<i-span v-if="!syncVisitCollectionLoading">同步</i-span>
		   		<i-span v-else>同步中...</i-span>
		   	</i-button>
    	</div>
    	<div style="margin-top:10px; margin-left:10px">
		   	<i-lable>同步指定还款计划催收数据：</i-lable>
            业务ID：
            <div class="layui-inline">
                <input v-model="onePListCollogBId" class="layui-input" name="id" id="onePListCollogBId">
            </div>
            还款计划期数：
            <div class="layui-inline">
                <input v-model="onePListCollogAfterId" class="layui-input" name="id" id="onePListCollogAfterId">
            </div>
		   	<i-button :loading="synOneListColLoading" @click="syncOneCollection">
				<i-span v-if="!synOneListColLoading">同步指定催收数据</i-span>
		   		<i-span v-else>同步中...</i-span>
		   	</i-button>
    	</div>
    	<div style="margin-top:10px; margin-left:10px">
		   	<i-lable>设置所有用户可访问业务对照关系：</i-lable>
		   	<i-button :loading="setUserPermissonsLoading" @click="setUserPermissons">
		   		<i-span v-if="!setUserPermissonsLoading">执行</i-span>
		   		<i-span v-else>执行中...</i-span>
		   	</i-button>
    	</div>
    	<div style="margin-top:10px; margin-left:10px">
		   	<i-lable>设置指定用户可访问业务对照关系：</i-lable>
		   	<i-button @click="setSingleUserPermissons">执行</i-button>
    	</div>
		<div style="margin-top:10px; margin-left:10px">
			<i-lable>根据用户Id设置指定用户可访问业务对照关系：</i-lable>
			用户Id/用户名(UC)：
			<div class="layui-inline">
				<input v-model="userId" class="layui-input" name="id" id="userId">
			</div>
			<i-button @click="setSingleUserPermissonsByUserId">执行</i-button>
		</div>

    	<div style="margin-top:10px; margin-left:10px">
		   	<i-lable>五级分类设置：</i-lable>
		   	<i-button :loading="fiveLevelClassifyLoading" @click="fiveLevelClassify">
		   		<i-span v-if="!fiveLevelClassifyLoading">执行</i-span>
		   		<i-span v-else>执行中...</i-span>
		   	</i-button>
    	</div>
		<div style="margin-top:10px; margin-left:10px">
			<i-lable>同步贷后跟踪记录数据：</i-lable>
			<i-button :loading="syncTrackLogLoading" @click="syncTrackLog">
				<i-span v-if="!syncTrackLogLoading">同步</i-span>
				<i-span v-else>同步中...</i-span>
			</i-button>
		</div>
			<div style="margin-top:10px; margin-left:10px">
			<i-lable>滞纳金计算：</i-lable>
			<i-button :loading="calLateFeeLoading" @click="calLateFee">
				<i-span v-if="!calLateFeeLoading">计算</i-span>
				<i-span v-else>计算中...</i-span>
			</i-button>
		</div>
		<div style="margin-top:10px; margin-left:10px">
			<i-lable>分配贷后跟进人员：</i-lable>
			<i-button :loading="setCollectionLoading" @click="setCollection">
				<i-span v-if="!setCollectionLoading">设置</i-span>
				<i-span v-else>设置中...</i-span>
			</i-button>
		</div>
		<div style="margin-top:10px; margin-left:10px">
			<i-lable>自动代扣：</i-lable>
			<i-button :loading="autoRepayLoading" @click="autoRepay">
				<i-span v-if="!autoRepayLoading">代扣</i-span>
				<i-span v-else>代扣中...</i-span>
			</i-button>
		</div>
	</div>

<!-- <div style="margin-top:10px; margin-left:10px">
    <i-lable>更新代充值处理状态</i-lable>
    <i-button :loading="updateAgencyRechargeHandleStatusLoading" @click="updateAgencyRecharge">
        <i-span v-if="!updateAgencyRechargeHandleStatusLoading">执行</i-span>
        <i-span v-else>执行中...</i-span>
    </i-button>
</div> -->
</div>
<script src="/src/js/System/admin.js"></script>
</body>

</html>