
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title >催收策略</title>
    <script src="/properties/config.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css"/>
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css"/>
    <!--@import url("//unpkg.com/iview/dist/styles/iview.css");-->
    <!--<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>

    <!--   <script src="//unpkg.com/vue/dist/vue.js"></script>
       <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>
    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>

</head>
<body>
<!--隐藏元素-->
<!--<p id="staffType"  th:attr="value=${staffType}"  hidden />-->
<!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
<div id="app" v-cloak>
    <tabs value="personSetter">




        <tab-pane label="定时器任务设置" name="timeSetter">
            <div class="demoTable">
                定时器名称：
                <div class="layui-inline">
                    <input v-model="jobName" class="layui-input" name="id" id="jobName">
                </div>
                <button class="layui-btn" data-type="reload" @click="toLoading">搜索</button>
                <button class="layui-btn" data-type="" @click="addNewTimer">新增</button>
            </div>
            <row style="padding: 10px">
                <i-col span="24">
                    <!-- 使用方法渲染模式 -->
                    <table id="listTable" lay-filter="listTable"></table>
                </i-col>
            </row>


            <Modal
                    v-model="timerSetModel"
                    title="定时任务设置"
                    @on-ok="confirmSelect"
                    @on-cancel="">
                <i-form ref="timerSetForm" :model="timerSetForm"  :label-width="150"  >

                    <form-item label="id：" prop="id">
                        <i-input v-model="timerSetForm.id" placeholder="Enter something..." style="width: 300px" id="timerId"></i-input>
                    </form-item>

                    <form-item label="定时器你名称：" prop="jobName">
                        <i-input v-model="timerSetForm.jobName" placeholder="Enter something..." style="width: 300px"></i-input>
                    </form-item>

                    <form-item label="时间类型："  prop="timeType">
                        <i-select v-model="timerSetForm.timeTypeStr"  clearable filterable  style="width: 80%">
                            <i-option v-for="item in timeTypeList" :value="item.name" :key="item.name">{{ item.name }}</i-option>
                        </i-select>
                    </form-item>

                    <form-item label="时间间隔：" prop="timeInterval">
                        <i-input v-model="timerSetForm.timeInterval" placeholder="Enter something..." style="width: 300px"></i-input>
                    </form-item>

                    <form-item label="是否有效：" prop="activate">
                        <radio-group v-model="timerSetForm.activateStr">
                            <radio label="有效" ></radio>
                            <radio label="无效"></radio>
                        </radio-group>
                    </form-item>

                    <form-item label="是否开启：" prop="flagLock">
                        <radio-group v-model="timerSetForm.flagLockStr">
                            <radio label="开"></radio>
                            <radio label="关"></radio>
                        </radio-group>
                    </form-item>



                </i-form>

            </Modal>


        </tab-pane>
    </tabs>
</div>

<script type="text/html" id="barTools">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>

    window.layinit(function (htConfig) {
        var _htConfig = htConfig;
        basePath = _htConfig.coreBasePath;
        var vm = new Vue({
            el: '#app',
            data: {
                timerSetModel:false,
                loading: false,
                jobName:'',
                timerSetForm:{
                    id:'',
                    jobName:'',
                    timeType:'',
                    timeTypeStr:'',
                    timeInterval:'',
                    activate:'',
                    activateStr:'',
                    flagLock:'',
                    flagLockStr:''
                },
                timeTypeList:[
                                {name:'按小时',key:'0',value:'HOUR'},
                                {name:'按分钟',key:'1',value:'MINUTE'},
                                {name:'按秒',key:'2',value:'SECOND'},
                                {name:'按天',key:'3',value:'DAY'},
                                {name:'无限制',key:'4',value:'NONE'},
                            ]

            },
            computed: {},
            methods: {

                init: function () {
                    var self = this;
                    //使用layerUI的表格组件
                    layui.use(['layer', 'table', 'ht_ajax', 'ht_auth', 'ht_config','jquery'], function () {
                        layer = layui.layer;
                        table = layui.table;
                        //执行渲染
                        table.render({
                            elem: '#listTable' //指定原始表格元素选择器（推荐id选择器）
                            , id: 'listTable'

                            , cols: [[
                                {
                                    field: 'id',
                                    title: 'id',
                                    align:'center'
                                },
                                {
                                    field: 'jobName',
                                    title: '定时器名称',
                                    align:'center'
                                }, {
                                    field: 'flagLockEnumStr',
                                    title: '开关',
                                    align:'center'
                                }, {
                                    field: 'timeIntervalTypeStr',
                                    title: '时间类型',
                                    align:'center'
                                }, {
                                    field: 'timeInterval',
                                    title: '时间间隔',
                                    align:'center'
                                }, {
                                    field: 'activeEnumStr',
                                    title: '是否有效',
                                    align:'center'
                                },
                                {
                                    fixed: 'right',
                                    title: '操作',
                                    width: 200,
                                    align: 'center',
                                    toolbar: '#barTools'
                                }

                            ]], //设置表头
                            url: basePath + 'timerSet/getTimetSetList',

                            page: true,
                            done: function (res, curr, count) {
                                //数据渲染完的回调。你可以借此做一些其它的操作
                                //如果是异步请求数据方式，res即为你接口返回的信息。
                                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                                self.loading = false;
                            }
                        });



                        //监听工具条
                        table.on('tool(listTable)', function (obj) {

                            if(obj.event === 'edit'){
                                $("#timerId input").attr("readonly","true");
                                console.log("------",obj.data)
                                self.timerSetModel = true;
                                self.timerSetForm.jobName = obj.data.jobName;
                                self.timerSetForm.timeType = obj.data.timeType;
                                self.timerSetForm.timeInterval = obj.data.timeInterval;
                                self.timerSetForm.timeTypeStr = obj.data.timeIntervalTypeStr;
                                self.timerSetForm.activate = obj.data.activate;
                                self.timerSetForm.activateStr = obj.data.activeEnumStr;
                                self.timerSetForm.flagLock = obj.data.flagLock;
                                self.timerSetForm.flagLockStr = obj.data.flagLockEnumStr;
                                self.timerSetForm.id = obj.data.id;
                            }
                            if(obj.event === 'del'){
                                layer.confirm('真的删除行么', function(index){
                                    var id = obj.data.id;
                                    self.deleteTimer(id);
                                    layer.close(index);
                                });
                            }


                        });

                    });

                },
                toLoading: function () {
                    var self = this;
                    if (table == null) {
                        return;
                    }
                    self.loading = true;
                    table.reload('listTable', {
                        where: {

                            jobName: self.jobName //定时器任务名称

                        }
                        , page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                },
                toLoadingTime: function () {
                    if (table == null) {
                        return;
                    }
                    var self = this;
                    self.loading = true;
                    table.reload('listTable');
                },
                confirmSelect:function () {
                    var self = this;
                    console.log(self.timerSetForm);

                    for(var i=0;i<self.timeTypeList.length;i++){
                        if(self.timerSetForm.timeTypeStr == self.timeTypeList[i].name){
                            self.timerSetForm.timeType = self.timeTypeList[i].key
                            break
                        }
                    }

                    self.timerSetForm.activate = self.timerSetForm.activateStr=="有效" ? 0 : 1;
                    self.timerSetForm.flagLock = self.timerSetForm.flagLockStr=="开"? 1 : 0;



                    var url = basePath + "timerSet/saveTimetSetList";
                    $.ajax({
                        type: "POST",
                        url: url,
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(self.timerSetForm),
                        async: false,
                        dataType: "json",
                        success: function (data) {
                            console.log("fanhuicanshu ===========",data);
                            if (data.code == "1") {
                                self.timerSetModel = false;
                                self.$Modal.success({
                                    title: '',
                                    content: '操作成功'
                                });
                            }else {
                                self.$Modal.error({content: '操作失败，消息：' + data.msg});
                            }
                            self.toLoadingTime();
                        },
                        error:function (data) {
                            self.$Modal.error({content: '操作失败，消息：' + data});
                            self.toLoadingTime();
                        }
                    });
                },
                addNewTimer:function () {
                    var self = this;
                    self.timerSetModel = true;
                    self.timerSetForm.jobName = [];
                    self.timerSetForm.timeType = [];
                    self.timerSetForm.timeInterval = [];
                    self.timerSetForm.activate = [];
                    self.timerSetForm.flagLock = [];
                    self.timerSetForm.id = [];
                },
                deleteTimer:function (id) {
                    var self = this;
                    var url = basePath + "timerSet/deleteTimer?id="+id;
                    $.ajax({
                        type: "GET",
                        url: url,
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        dataType: "json",
                        success: function (data) {
                            if (data.code == "1") {
                                self.timerSetModel = false;
                                self.$Modal.success({
                                    title: '',
                                    content: '操作成功'
                                });
                            }else {
                                self.$Modal.error({content: '操作失败，消息：' + data.msg});
                            }
                            self.toLoadingTime();
                        },
                        error:function (data) {
                            self.$Modal.error({content: '操作失败，消息：' + data});
                            self.toLoadingTime();
                        }
                    });
                }
            },
            mounted: function () {
                this.init();

            }

        })
    });
</script>


</body>
</html>