
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title >催收策略</title>
    <script src="/properties/config.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css"/>
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css"/>
    <!--@import url("//unpkg.com/iview/dist/styles/iview.css");-->
    <!--<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>

    <!--   <script src="//unpkg.com/vue/dist/vue.js"></script>
       <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>
    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>

</head>
<body>
<!--隐藏元素-->
<!--<p id="staffType"  th:attr="value=${staffType}"  hidden />-->
<!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
<div id="app" v-cloak>
    <tabs value="personSetter">
        <tab-pane label="催收人员设置" name="personSetter">

            <!--查询表单内容-->
            <row :gutter="16">
                <i-col span="3">
                    <i-button v-if="authValid('assignSet')" type="success" style="margin-left:15px" @click="assignSet"  ht-auth="assignSet">分配设置</i-button>
                </i-col>
                <i-col  span="16">
                <i-form ref="searchForm"  :model="searchForm"    label-position="right" :label-width="100" inline>

                        <form-item label="区域：" prop="areaId">
                            <i-select v-model="searchForm.areaId" clearable  filterable >
                                <i-option v-for="item in areaList" :value="item.areaId" :key="item.areaId" >{{ item.areaName }}</i-option>
                            </i-select>
                        </form-item>


                        <form-item label="分公司：" prop="companyId">
                            <i-select v-model="searchForm.companyId" clearable filterable >
                                <i-option v-for="item in companyList" :value="item.areaId" :key="item.areaId">{{ item.areaName }}</i-option>
                            </i-select>
                        </form-item>



                        <form-item label="人员：" prop="userName">
                            <i-input v-model="searchForm.userName" placeholder="多个搜索用“/”隔开" ></i-input>
                        </form-item>

                </i-form>
                </i-col>
                <i-col span="5">
                    <i-button  v-if="authValid('search')" type="info" :loading="loading" icon="ios-search" @click="toLoading" style="margin-right:10px" ht-auth="personQuery">
                        <span v-if="!loading">查询</span>
                        <span v-else>查询中...</span>
                    </i-button>
                </i-col>

            </row>

            <!-- 表单Grid，使用layerUI的表格组件 开始 -->
            <row style="padding: 10px">
                <i-col span="24">
                    <!-- 使用方法渲染模式 -->
                    <table id="listTable" lay-filter="listTable"></table>
                    <div style="display:none" id="barTools">
                        <!--layui-btn layui-btn-xs-->
                        <i-button v-if="authValid('singleSet')" style="width:80px" type="success" lay-event="userSet" ht-auth="singleSet" >设置</i-button>
                    </div>
                </i-col>
            </row>
            <!-- 表单Grid，使用layerUI的表格组件 结束 -->

            <Modal
                    v-model="editSingleCompanyCollectionUserSettingModal"
                    title="设置"
                    @on-ok="saveSingleCompanyCollectionUserSetting"
                    @on-cancel="toLoading">
                <i-form ref="editCompanyCollectionUser.editCompanyCollectionForm" :model="editCompanyCollectionUser.editCompanyCollectionForm"  :label-width="80">
                    <form-item label="清算1：" prop="collectionGroup1Users">
                        <i-select v-model="editCompanyCollectionUser.editCompanyCollectionForm.collectionGroup1Users" multiple clearable filterable >
                            <i-option v-for="item in editCompanyCollectionUser.collectionGroup1AllUsers" :value="item.userId" :key="item.userId">{{ item.userName }}</i-option>
                        </i-select>
                    </form-item>

                    <form-item label="清算2："  prop="collectionGroup2Users">
                        <i-select v-model="editCompanyCollectionUser.editCompanyCollectionForm.collectionGroup2Users" multiple clearable filterable >
                            <i-option v-for="item in editCompanyCollectionUser.collectionGroup2AllUsers" :value="item.userId" :key="item.userId">{{ item.userName }}</i-option>
                        </i-select>
                    </form-item>

                </i-form>
            </Modal>

            <!--
                    时间设置标签页

            -->

            <Modal
                    v-model="editSingleCompanyCollectionTimeSettingModal"
                    title="设置"
                    @on-ok="saveTimeSet"
                    @on-cancel="toLoadingTime">
                <i-form ref="editCompanyCollectionTime.editCompanyCollectionForm" :model="editCompanyCollectionTime.editCompanyCollectionForm"  :label-width="80" :rules="ruleValidate">
                    <form-item label="逾期天数：" prop="overDueDays">
                        <i-input v-model="editCompanyCollectionTime.editCompanyCollectionForm.overDueDays" maxlength="10" style="width: 200px"></i-input>
                    </form-item>

                    <form-item label="开始时间："  prop="startTime" >

                        <date-picker type="date" :options="options3" placeholder="Select date" style="width: 200px" v-model="editCompanyCollectionTime.editCompanyCollectionForm.startTime"></date-picker>

                    </form-item>

                    <form-item label="备注："  prop="collectionNote">
                        <i-input v-model="editCompanyCollectionTime.editCompanyCollectionForm.note" type="textarea" :rows="4" placeholder="Enter something..."></i-input>
                    </form-item>

                    <form-item label="序号："  prop="colTimeId" style="display: none">
                        <i-input v-model="editCompanyCollectionTime.editCompanyCollectionForm.colTimeId" ></i-input>
                    </form-item>
                </i-form>
            </Modal>

            <!--
                分配设置
            -->
            <Modal
                    v-model="assignSetModal"
                    title="设置"
                    @on-ok="saveBatchPerson"
                    @on-cancel="toLoading">
                <i-form ref="editCompanyCollectionAssignSet.editCompanyCollectionForm" :model="editCompanyCollectionAssignSet.editCompanyCollectionForm"  :label-width="80"  >
                    <form-item label="区域：" prop="areaName">
                        <i-select v-model="editCompanyCollectionAssignSet.editCompanyCollectionForm.areaName"  multiple clearable filterable style="width: 80%">
                            <i-option v-for="item in editCompanyCollectionAssignSet.areaList" :value="item.areaId" :key="item.areaId">{{ item.areaName }}</i-option>
                        </i-select>
                        <i-span @click="selectArea">选择</i-span>
                    </form-item>

                    <form-item label="分公司："  prop="companyName">
                        <i-select v-model="editCompanyCollectionAssignSet.editCompanyCollectionForm.companyId"  multiple clearable filterable style="width: 80%" >
                            <i-option v-for="item in editCompanyCollectionAssignSet.companyId" :value="item.areaId" :key="item.areaId">{{ item.areaName }}</i-option>
                        </i-select>
                    </form-item>

                    <form-item label="清算1：" prop="collectionGroup1Users">
                        <i-select v-model="editCompanyCollectionAssignSet.editCompanyCollectionForm.collectionGroup1Users" multiple clearable filterable  style="width: 80%">
                            <i-option v-for="item in editCompanyCollectionAssignSet.collectionGroup1AllUsers" :value="item.userId" :key="item.userId">{{ item.userName }}</i-option>
                        </i-select>
                    </form-item>

                    <form-item label="清算2："  prop="collectionGroup2Users">
                        <i-select v-model="editCompanyCollectionAssignSet.editCompanyCollectionForm.collectionGroup2Users" multiple clearable filterable style="width: 80%">
                            <i-option v-for="item in editCompanyCollectionAssignSet.collectionGroup2AllUsers" :value="item.userId" :key="item.userId">{{ item.userName }}</i-option>
                        </i-select>
                    </form-item>

                </i-form>
            </Modal>

            <!--
            区域城市选择模块
            -->
            <Modal
                    v-model="selectAreaAndCity"
                    title="选择分公司"
                    @on-ok="confirmSelect"
                    @on-cancel="">
                <div class="layui-row layui-col-space20">
                    <div class="layui-col-md4">
                        <tree :data="areaAndCity.allAreas"  @on-check-change="showCitys" @on-select-change="selectChild" show-checkbox  ref="tree" ></tree>
                    </div>
                    <div class="layui-col-md4">
                        <checkbox-group v-model="areaAndCity.currentSelectedCitys" @on-change="getAllSelectedCitys">
                            <checkbox v-for="item in areaAndCity.allCitys" :label="item.areaId"  @on-change="">{{item.areaName}}</checkbox>
                        </checkbox-group>
                        <!--<checkbox-group v-model="checkAllGroup" @on-change="checkAllGroupChange">-->
                            <!--<checkbox label="香蕉"></checkbox>-->
                            <!--<checkbox label="苹果"></checkbox>-->
                            <!--<checkbox label="西瓜"></checkbox>-->
                        <!--</checkbox-group>-->
                    </div>
                </div>

            </Modal>

        </tab-pane>




        <tab-pane label="催收时间设置" name="timeSetter">
            <row style="padding: 10px">
                <i-col span="24">
                    <!-- 使用方法渲染模式 -->
                    <table id="timeListTable" lay-filter="timeListTable"></table>
                    <div style="display:none" id="timeListBarTools">
                        <!--layui-btn layui-btn-xs-->
                        <i-button v-if="authValid('singleSet')" style="width:80px" type="success" lay-event="timeSet" ht-auth="timeSingleSet" >设置</i-button>
                    </div>
                </i-col>
            </row>

        </tab-pane>
    </tabs>


</div>






<script>

    window.layinit(function (htConfig) {
        var _htConfig = htConfig;
        basePath = _htConfig.coreBasePath;
        var vm = new Vue({
            el: '#app',
            data: {
                options3:{
                    disabledDate (date) {
                        return date && date.valueOf() < Date.now() - 86400000;
                    }
                },
                searchForm:
                    {
                        areaId: '',
                        companyId: '',
                        userName: '',

                    },
                loading: false,
                areaList: [],
                companyList: [],
                selectedRowInfo: [],
                editSingleCompanyCollectionUserSettingModal: false,
                editSingleCompanyCollectionTimeSettingModal: false,
                assignSetModal:false,
                selectAreaAndCity:false,
                editCompanyCollectionUser:
                   {
                       editCompanyCollectionForm:
                           {
                               collectionGroup1Users: [],
                               collectionGroup2Users: [],
                               companyId: [],
                               areaId:''
                           },
                       collectionGroup1AllUsers: [],
                       collectionGroup2AllUsers: []
                   },
                editCompanyCollectionTime:
                   {
                       editCompanyCollectionForm:
                           {
                               overDueDays:'',
                               startTime:'',
                               note:'',
                               colTimeId:''
                           }
                   },
                editCompanyCollectionAssignSet:
                    {
                        editCompanyCollectionForm:
                            {
                                areaName:[],
                                companyId:[],
                                collectionGroup1Users:[],
                                collectionGroup2Users:[]
                            },
                        collectionGroup1AllUsers: [],
                        collectionGroup2AllUsers: [],
                        areaList: [],
                        companyId: []
                    },
                areaAndCity:
                    {
                        allAreas:[{
                            title: '鸿特信息咨询有限公司',
                            loading: false,
                            children: []
                        }],
                        allCitys:[],
                        allSelectedAreas:[],
                        allSelectedCitys:[],
                        selectedCitys:[],
                        currentSelectedCitys:[],
                        allSelectedCityGroup:[],
                        currentCitys1:[],
                        currentCitys2:[],
                        currentCitys3:[],
                        currentCitys4:[],
                        currentCitys5:[],
                        currentCitys6:[],
                        currentCitys7:[],
                        currentAreaId:""
                    },
                index:'',
                ruleValidate:validateOpt
            },
            computed: {},
            methods: {

                init: function () {
                    var self = this;
                    self.getCompanyAreaList();
                    self.getCompanyList();
                    //使用layerUI的表格组件
                    layui.use(['layer', 'table', 'ht_ajax', 'ht_auth', 'ht_config'], function () {
                        layer = layui.layer;
                        table = layui.table;
                        //执行渲染
                        table.render({
                            elem: '#listTable' //指定原始表格元素选择器（推荐id选择器）
                            , id: 'listTable'

                            , cols: [[
                                {
                                    field: 'companyId',
                                    title: '分公司Id',
                                    align:'center',
                                },

                                {
                                    field: 'areaName',
                                    title: '区域',
                                    align:'center'
                                }, {
                                    field: 'companyName',
                                    title: '分公司',
                                    align:'center'
                                }, {
                                    field: 'collect1Person',
                                    title: '清算一',
                                    align:'center'
                                }, {
                                    field: 'collect2Person',
                                    title: '清算二',
                                    align:'center'
                                }, {
                                    fixed: 'right',
                                    title: '操作',
                                    width: 100,
                                    align: 'center',
                                    toolbar: '#barTools'
                                }

                            ]], //设置表头
                            url: basePath + 'collectionStrategy/getCollectionUserSettingList',

                            page: true,
                            done: function (res, curr, count) {
                                //数据渲染完的回调。你可以借此做一些其它的操作
                                //如果是异步请求数据方式，res即为你接口返回的信息。
                                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                                self.loading = false;
                            }
                        });

                        ///////////////////////////////////////////////////////////////////////////
                        //   时间设置页面参数
                        ///////////////////////////////////////////////////////////////////////////


                        table.render({
                            elem: '#timeListTable' //指定原始表格元素选择器（推荐id选择器）
                            , id: 'timeListTable'

                            , cols: [[
                                {
                                    field: 'colTimeId',
                                    title: '序号',
                                    align:'center',
                                },

                                {
                                    field: 'colType',
                                    title: '移交类型',
                                    align:'center'
                                }, {
                                    field: 'overDueDays',
                                    title: '逾期天数',
                                    align:'center'
                                }, {
                                    field: 'startTime',
                                    title: '开始执行时间',
                                    align:'center',

                                }, {
                                    fixed: 'right',
                                    title: '操作',
                                    width: 100,
                                    align: 'center',
                                    toolbar: '#timeListBarTools'
                                }

                            ]], //设置表头
                            url: basePath + 'collectionStrategy/getCollectionTimeSettingList',

                            page: true,
                            done: function (res, curr, count) {
                                //数据渲染完的回调。你可以借此做一些其它的操作
                                //如果是异步请求数据方式，res即为你接口返回的信息。
                                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                                self.loading = false;
                            }
                        });



                        //监听工具条
                        table.on('tool(listTable)', function (obj) {
                            self.selectedRowInfo = obj.data;
                            if (obj.event === 'edit') {
                                showSingleCompanyCollectionUserSetting(companyCode)

                            }
                            if(obj.event === 'userSet'){
                                self.editSingleCompanyCollectionUserSettingModal = true;
                                self.editCompanyCollectionUser.editCompanyCollectionForm.collectionGroup1Users=[];
                                self.editCompanyCollectionUser.editCompanyCollectionForm.collectionGroup2Users=[];
                                var url = basePath + "collectionStrategy/company/getClearingPersons";
                                axios.get(url)
                                    .then(function (result) {
                                        if (result.data.code == "1") {
                                            self.editCompanyCollectionUser.collectionGroup1AllUsers = result.data.data.sysUser;
                                            self.editCompanyCollectionUser.collectionGroup2AllUsers = result.data.data.sysUser;
                                            self.editCompanyCollectionUser.editCompanyCollectionForm.areaId = obj.data.areaId;
                                            self.editCompanyCollectionUser.editCompanyCollectionForm.companyId[0] = obj.data.companyId;

                                        }
                                    })
                            }
                        });

                        ////////////////////////////////////////////////////////////////////////////////////

                        ///////////////////////////////////////////////////////////////////////////////////

                        //监听工具条
                        table.on('tool(timeListTable)', function (obj) {
                            self.selectedRowInfo = obj.data;
                            if (obj.event === 'timeSet') {
                                self.editSingleCompanyCollectionTimeSettingModal = true;
                                self.editCompanyCollectionTime.editCompanyCollectionForm.colTimeId = obj.data.colTimeId;
                            }
                        });

                    });

                },
                toLoading: function () {
                    if (table == null) {
                        return;
                    }
                    var self = this;
                    self.loading = true;
                    table.reload('listTable', {
                        where: {

                            areaId: self.searchForm.areaId,  //区域ID
                            companyId: self.searchForm.companyId, //分公司ID
                            userName: self.searchForm.userName,  //业务类型
                        }
                        , page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                },
                toLoadingTime: function () {
                    if (table == null) {
                        return;
                    }
                    var self = this;
                    self.loading = true;
                    table.reload('timeListTable');
                },
                getCompanyAreaList: function () {
                    var self = this;
                    var url = basePath + "collectionStrategy/company/getCompanyAreaList?id=1";
                    axios.get(url)
                        .then(function (result) {
                            if (result.data.code == "1") {
                                self.areaList = result.data.data.area;
                            }
                        })
                },
                getCompanyList:function () {
                    var self = this;
                    var url = basePath + "collectionStrategy/company/getCompanyAreaList?id=2";
                    axios.get(url)
                        .then(function (result) {
                            if (result.data.code == "1") {
                                self.companyList = result.data.data.area;
                            }
                        })
                },
                getCollectionGroup1AllUsers: function () {
                    if (this.editCompanyCollectionUser.collectionGroup1AllUsers.length > 0) {
                        return;
                    }

                    var url = basePath + "users/getUsers";
                    axios.get(url)
                        .then(function (result) {
                            if (result.data.code == "1") {
                                self.collectionGroup1AllUsers = result.data.data;
                            }
                        })

                },
                getCollectionGroup2AllUsers: function () {
                    if (this.editCompanyCollectionUser.collectionGroup2AllUsers.length > 0) {
                        return;
                    }
                    var url = basePath + "users/getUsers";

                    axios.get(url)
                        .then(function (result) {
                            if (result.data.code == "1") {
                                self.collectionGroup2AllUsers = result.data.data;
                            }
                        })
                },
                saveSingleCompanyCollectionUserSetting:function()
                {
                    var self=this;
                    var url = basePath + "collectionStrategy/saveSingleCompanyCollectionUserSetting";
                    $.ajax({
                        type: "POST",
                        url: url,
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(self.editCompanyCollectionUser.editCompanyCollectionForm),
                        async: false,
                        dataType: "json",
                        success: function (data) {
                            self.toLoading();
                        }

                    });
                },
                saveTimeSet:function () {
                    var self=this;
                    var url = basePath + "collectionStrategy/saveTimeSet";
                    $.ajax({
                        type: "POST",
                        url: url,
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(self.editCompanyCollectionTime.editCompanyCollectionForm),
                        async: false,
                        dataType: "json",
                        success: function (data) {
                            self.toLoadingTime();
                        }

                    });
                },
                showSingleCompanyCollectionUserSetting:function(companyId)
                {
                    this.editCompanyCollectionUser.editCompanyCollectionForm.companyId=companyId;
                    this.getCollectionGroup1AllUsers();
                    this.getCollectionGroup2AllUsers();
                    var url = basePath + "collectionStrategy/getSingleCompanyCollectionUserSetting";

                    axios.get(url)
                        .then(function (result) {
                            if (result.data.code == "1") {
                                self.collectionGroup2AllUsers = result.data.data;
                            }
                        })
                    this.editSingleCompanyCollectionUserSettingModal=true;

                },
                assignSet:function () {
                    var self = this;
                    self.assignSetModal = true;
                    var url = basePath + "collectionStrategy/company/getClearingPersons";
                    axios.get(url)
                        .then(function (result) {
                            if (result.data.code == "1") {
                                self.editCompanyCollectionAssignSet.collectionGroup1AllUsers = result.data.data.sysUser;
                                self.editCompanyCollectionAssignSet.collectionGroup2AllUsers = result.data.data.sysUser;
                                self.editCompanyCollectionAssignSet.areaList = result.data.data.areaList;
                                self.editCompanyCollectionAssignSet.companyId = result.data.data.companyList;
                            }
                        })
                },
                selectArea:function () {
                    var self = this;
                    self.selectAreaAndCity = true;
                    self.getArea();
                },
                saveBatchPerson:function () {
                    var self = this;
                    var self = this;
                    var url = basePath + "collectionStrategy/saveSingleCompanyCollectionUserSetting";
                    $.ajax({
                        type: "POST",
                        url: url,
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(self.editCompanyCollectionAssignSet.editCompanyCollectionForm),
                        async: false,
                        dataType: "json",
                        success: function (data) {
                            self.toLoading();
                        }

                    });
                },
                getArea:function () {
                    var self = this;
                    var url = basePath + "collectionStrategy/getAreaList";
                    $.ajax({
                        type: "GET",
                        url: url,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            self.areaAndCity.allAreas[0].children = data.data
                        }

                    });
                },
                getCompany: function (areaPid) {
                    var self = this;
                    var url = basePath + "collectionStrategy/getCompanyList?areaPid="+areaPid;
                    $.ajax({
                        type: "GET",
                        url: url,
                        contentType: "application/json; charset=utf-8",
//                        async: true,
                        dataType: "json",
                        success: function (data) {
                            self.areaAndCity.allCitys = data.data;
                        }

                    });
                },
                showCitys:function (data) {

                    var self = this;



                    var index = (function () {
                        if (event.target.className === "ivu-checkbox-input") return $(event.target).parents('li').find('ul').index($(event.target).parents('ul')[0]);
                    })();
                    //保存已选中的区域,清除取消勾选的区域
                    var selectedData = self.$refs.tree.getCheckedNodes();

                    self.areaAndCity.allSelectedAreas = [];
                    for (var i = 0; i < selectedData.length ; i++) {
                        self.areaAndCity.allSelectedAreas.push(selectedData[i].areaId);
                    }
                    this.getCompany(this.areaAndCity.allAreas[0].children[index].areaId);
                    self.index = index;

                    if(selectedData.length > 0){
                        for(var i=0;i < selectedData.length;i++){
                            var areaId = selectedData[i].areaId;
                            //判断当前树节点是否被选中
                            if(self.areaAndCity.allAreas[0].children[index].areaId == areaId){//当前点击的节点id在已被选中的树节点id中，则为已选中
                                //已被选中
                                if(index == 0){
                                    self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys1;
                                }else if(index == 1){
                                    self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys2;
                                }else if(index == 2){
                                    self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys3;
                                }else if(index == 3){
                                    self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys4;
                                }else if(index == 4){
                                    self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys5;
                                }else if(index == 5){
                                    self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys6;
                                }else if(index == 6){
                                    self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys7;
                                }
                            }else {
                                if(index == 0){
                                    self.areaAndCity.currentSelectedCitys = [];
                                    self.areaAndCity.currentCitys1 = [];
                                }else if(index == 1){
                                    self.areaAndCity.currentSelectedCitys = [];
                                    self.areaAndCity.currentCitys2 = [];
                                }else if(index == 2){
                                    self.areaAndCity.currentSelectedCitys = [];
                                    self.areaAndCity.currentCitys3 = [];
                                }else if(index == 3){
                                    self.areaAndCity.currentSelectedCitys = [];
                                    self.areaAndCity.currentCitys4 = [];
                                }else if(index == 4){
                                    self.areaAndCity.currentSelectedCitys = [];
                                    self.areaAndCity.currentCitys5 = [];
                                }else if(index == 5){
                                    self.areaAndCity.currentSelectedCitys = [];
                                    self.areaAndCity.currentCitys6 = [];
                                }else if(index == 6){
                                    self.areaAndCity.currentSelectedCitys = [];
                                    self.areaAndCity.currentCitys7 = [];
                                }
                            }
                        }
                    }else {
                        self.areaAndCity.currentSelectedCitys = [];
                        self.areaAndCity.currentCitys1 = [];
                        self.areaAndCity.currentCitys2 = [];
                        self.areaAndCity.currentCitys3 = [];
                        self.areaAndCity.currentCitys4 = [];
                        self.areaAndCity.currentCitys5 = [];
                        self.areaAndCity.currentCitys6 = [];
                        self.areaAndCity.currentCitys7 = [];
                    }

                },
                getAllSelectedCitys:function (data) {
                    var self = this;
                    var index = self.index;


                    if(data.length > 0){
                        self.areaAndCity.allAreas[0].children[index].checked = true;
                        var exit = self.areaAndCity.allSelectedAreas.indexOf(self.areaAndCity.allAreas[0].children[index].areaId) != -1;
                        if(!exit){
                            self.areaAndCity.allSelectedAreas.push(self.areaAndCity.allAreas[0].children[index].areaId);
                        }

                    }else {
                        self.areaAndCity.allAreas[0].children[index].checked = false;
                    }



                    if(index == 0){
                        self.areaAndCity.currentCitys1 = [];
                        self.areaAndCity.currentCitys1 = data;

                    }else if(index == 1){
                        self.areaAndCity.currentCitys2 = [];
                        self.areaAndCity.currentCitys2 = data;
                    }else if(index == 2){
                        self.areaAndCity.currentCitys3 = [];
                        self.areaAndCity.currentCitys3 = data;
                    }else if(index == 3){
                        self.areaAndCity.currentCitys4 = [];
                        self.areaAndCity.currentCitys4 = data;
                    }else if(index == 4){
                        self.areaAndCity.currentCitys5 = [];
                        self.areaAndCity.currentCitys5 = data;
                    }else if(index == 5){
                        self.areaAndCity.currentCitys6 = [];
                        self.areaAndCity.currentCitys6 = data;
                    }else if(index == 6){
                        self.areaAndCity.currentCitys7 = [];
                        self.areaAndCity.currentCitys7 = data;
                    }


                },
                confirmSelect:function () {
                    var self = this;
                    self.editCompanyCollectionAssignSet.editCompanyCollectionForm.areaName = self.areaAndCity.allSelectedAreas;
                    for(var i=0;i<self.areaAndCity.currentCitys1.length;i++){
                        self.editCompanyCollectionAssignSet.editCompanyCollectionForm.companyId.push(self.areaAndCity.currentCitys1[i]);
                    }
                    for(var i=0;i<self.areaAndCity.currentCitys2.length;i++){
                        self.editCompanyCollectionAssignSet.editCompanyCollectionForm.companyId.push(self.areaAndCity.currentCitys2[i]);
                    }
                    for(var i=0;i<self.areaAndCity.currentCitys3.length;i++){
                        self.editCompanyCollectionAssignSet.editCompanyCollectionForm.companyId.push(self.areaAndCity.currentCitys3[i]);
                    }
                    for(var i=0;i<self.areaAndCity.currentCitys4.length;i++){
                        self.editCompanyCollectionAssignSet.editCompanyCollectionForm.companyId.push(self.areaAndCity.currentCitys4[i]);
                    }
                    for(var i=0;i<self.areaAndCity.currentCitys5.length;i++){
                        self.editCompanyCollectionAssignSet.editCompanyCollectionForm.companyId.push(self.areaAndCity.currentCitys5[i]);
                    }
                    for(var i=0;i<self.areaAndCity.currentCitys6.length;i++){
                        self.editCompanyCollectionAssignSet.editCompanyCollectionForm.companyId.push(self.areaAndCity.currentCitys6[i]);
                    }
                    for(var i=0;i<self.areaAndCity.currentCitys7.length;i++){
                        self.editCompanyCollectionAssignSet.editCompanyCollectionForm.companyId.push(self.areaAndCity.currentCitys7[i]);
                    }

                },
                selectChild:function (data) {
                    var self = this;
                    var indexqj = self.index;
                    var num = self.areaAndCity.allAreas[0].children.indexOf(data[0]);

                    if(data.length>0){
                        this.getCompany(data[0].areaId);

                        self.index = num;
                        if(num == 0){
                            self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys1;
                        }else if(num == 1){
                            self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys2;
                        }else if(num == 2){
                            self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys3;
                        }else if(num == 3){
                            self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys4;
                        }else if(num == 4){
                            self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys5;
                        }else if(num == 5){
                            self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys6;
                        }else if(num == 6){
                            self.areaAndCity.currentSelectedCitys = self.areaAndCity.currentCitys7;
                        }
                    }


                },
                test:function () {
                    var self = this;
                    self.selectAreaAndCity = true;
                }


            },
            mounted: function () {
                this.init();

            }

        })
    });

    //表单验证配置参数
    var validateOpt = {
        overDueDays: [
            {required: true, message: '请输入逾期天数', trigger: 'blur'}
        ],
        startTime: [
            {required: true, message: '请选开始时间', trigger: 'blur'}
        ]
    };
</script>
</body>
</html>