
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <title >催收策略</title>
    <script src="/properties/config.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css"/>
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css"/>
    <!--@import url("//unpkg.com/iview/dist/styles/iview.css");-->
    <!--<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all"/>

    <!--   <script src="//unpkg.com/vue/dist/vue.js"></script>
       <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>
    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>

</head>
<body>
<!--隐藏元素-->
<!--<p id="staffType"  th:attr="value=${staffType}"  hidden />-->
<!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
<div id="app" v-cloak>
    <tabs value="personSetter">
        <tab-pane label="催收人员设置" name="personSetter">

            <!--查询表单内容-->
            <row :gutter="16">
                <i-col span="3">
                    <i-button type="success" style="margin-left:15px">分配设置</i-button>
                </i-col>
                <i-col  span="16">
                <i-form ref="searchForm"  :model="searchForm"    label-position="right" :label-width="100" inline>

                        <form-item label="区域：" prop="areaId">
                            <i-select v-model="searchForm.areaId" clearable  filterable >
                                <i-option v-for="item in areaList" :value="item.areaId" :key="item.areaId">{{ item.areaName }}</i-option>
                            </i-select>
                        </form-item>


                        <form-item label="分公司：" prop="companyId">
                            <i-select v-model="searchForm.companyId" clearable filterable >
                                <i-option v-for="item in companyList" :value="item.areaId" :key="item.areaId">{{ item.areaName }}</i-option>
                            </i-select>
                        </form-item>



                        <form-item label="人员：" prop="userName">
                            <i-input v-model="searchForm.userName" ></i-input>
                        </form-item>

                </i-form>
                </i-col>
                <i-col span="5">
                    <i-button type="info" :loading="loading" icon="ios-search" @click="toLoading" style="margin-right:10px">
                        <span v-if="!loading">查询</span>
                        <span v-else>查询中...</span>
                    </i-button>
                    <i-button type="success">更新设置</i-button>
                </i-col>

            </row>

            <!-- 表单Grid，使用layerUI的表格组件 开始 -->
            <row style="padding: 10px">
                <i-col span="24">
                    <!-- 使用方法渲染模式 -->
                    <table id="listTable" lay-filter="listTable"></table>
                    <div style="display:none" id="barTools">
                        <!--layui-btn layui-btn-xs-->
                        <i-button style="width:80px" type="success">设置</i-button>
                    </div>
                </i-col>
            </row>
            <!-- 表单Grid，使用layerUI的表格组件 结束 -->

            <Modal
                    v-model="editSingleCompanyCollectionUserSettingModal"
                    title="设置"
                    @on-ok="saveSingleCompanyCollectionUserSetting"
                    @on-cancel="saveSingleCompanyCollectionUserSetting">
                <i-form ref="editCompanyCollectionUser.editCompanyCollectionForm" :model="editCompanyCollectionUser.editCompanyCollectionForm"  :label-width="80">
                    <form-item label="清算1：" prop="collectionGroup1Users">
                        <i-select v-model="editCompanyCollectionUser.editCompanyCollectionForm.UsercollectionGroup1Users" multiple  filterable >
                            <i-option v-for="item in editCompanyCollectionUser.collectionGroup1AllUsers" :value="item.userId" :key="item.userId">{{ item.userName }}</i-option>
                        </i-select>
                    </form-item>

                    <form-item label="清算2："  prop="collectionGroup2Users">
                        <i-select v-model="editCompanyCollectionUser.editCompanyCollectionForm.collectionGroup2Users" clearable filterable >
                            <i-option v-for="item in editCompanyCollectionUser.collectionGroup2AllUsers" :value="item.userId" :key="item.userId">{{ item.userName }}</i-option>
                        </i-select>
                    </form-item>

                </i-form>
            </Modal>

        </tab-pane>




        <tab-pane label="催收时间设置" name="timeSetter">

        </tab-pane>
    </tabs>







    <!--<Modal-->
            <!--v-model="editSingleCompanyCollectionUserSettingModal"-->
            <!--title="催收人员分配"-->
            <!--@on-ok="saveBatchCollectionUserSetting"-->
            <!--@on-cancel="cancelBatchCompanyCollectionUserSetting">-->
        <!--<i-form ref="editCompanyCollectionUser.editCompanyCollectionForm" :model="editCompanyCollectionUser.editCompanyCollectionForm"  :label-width="80">-->
            <!--<form-item label="清算1：" prop="collection1Persons">-->
                <!--<i-select v-model="collectionGroup1Users" multiple  filterable >-->
                    <!--<i-option v-for="item in collectionGroup1Users" :value="item.userId" :key="item.userId">{{ item.userName }}</i-option>-->
                <!--</i-select>-->
            <!--</form-item>-->


            <!--<form-item label="清算2：" prop="collection2Persons">-->
                <!--<i-select v-model="collectionGroup2Users" clearable filterable >-->
                    <!--<i-option v-for="item in collectionGroup2Users" :value="item.userId" :key="item.userId">{{ item.userName }}</i-option>-->
                <!--</i-select>-->
            <!--</form-item>-->

        <!--</i-form>-->
    <!--</Modal>-->




</div>

<script>

    window.layinit(function (htConfig) {
        var _htConfig = htConfig;
        basePath = _htConfig.coreBasePath;
        var vm = new Vue({
            el: '#app',
            data: {
                searchForm:
                    {
                        areaId: '',
                        companyId: '',
                        userName: '',

                    },
                loading: false,
                areaList: [],
                companyList: [],
                selectedRowInfo: [],
                editSingleCompanyCollectionUserSettingModal: false,
                editCompanyCollectionUser:
                   {
                       editCompanyCollectionForm:
                           {
                               collectionGroup1Users: [],
                               collectionGroup2Users: [],
                               companyId: ''
                           },
                       collectionGroup1AllUsers: [],
                       collectionGroup2AllUsers: []
                   }



            },
            computed: {},
            methods: {

                init: function () {
                    var self = this;
                    self.getCompanyAreaList();
                    //使用layerUI的表格组件
                    layui.use(['layer', 'table', 'ht_ajax', 'ht_auth', 'ht_config'], function () {
                        layer = layui.layer;
                        table = layui.table;
                        //执行渲染
                        table.render({
                            elem: '#listTable' //指定原始表格元素选择器（推荐id选择器）
                            , id: 'listTable'

                            , cols: [[
                                {
                                    field: 'companyId',
                                    title: '分公司Id',
                                    align:'center',
                                },

                                {
                                    field: 'areaName',
                                    title: '区域',
                                    align:'center'
                                }, {
                                    field: 'companyName',
                                    title: '分公司',
                                    align:'center'
                                }, {
                                    field: 'collect1Person',
                                    title: '清算一',
                                    align:'center'
                                }, {
                                    field: 'collect2Person',
                                    title: '清算二',
                                    align:'center'
                                }, {
                                    fixed: 'right',
                                    title: '操作',
                                    width: 100,
                                    align: 'center',
                                    toolbar: '#barTools'
                                }

                            ]], //设置表头
                            url: basePath + 'collectionStrategy/getCollectionUserSettingList',

                            page: true,
                            done: function (res, curr, count) {
                                //数据渲染完的回调。你可以借此做一些其它的操作
                                //如果是异步请求数据方式，res即为你接口返回的信息。
                                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                                self.loading = false;
                            }
                        });
                        //监听工具条
                        table.on('tool(listTable)', function (obj) {
                            self.selectedRowInfo = obj.data;
                            if (obj.event === 'edit') {
                                showSingleCompanyCollectionUserSetting(companyCode)

                            }
                        });

                    });

                },
                toLoading: function () {
                    if (table == null) {
                        return;
                    }
                    var self = this;
                    self.loading = true;
                    table.reload('listTable', {
                        where: {

                            areaId: self.searchForm.areaId,  //区域ID
                            companyId: self.searchForm.companyId, //分公司ID
                            userName: self.searchForm.userName,  //业务类型
                        }
                        , page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                },
                getCompanyAreaList: function () {
                    var self = this;
                    var url = basePath + "company/getCompanyAreaList";
                    axios.get(url)
                        .then(function (result) {
                            if (result.data.code == "1") {
                                self.areaList = result.data.data;
                            }
                        })
                },
                getCollectionGroup1AllUsers: function () {
                    if (this.editCompanyCollectionUser.collectionGroup1AllUsers.length > 0) {
                        return;
                    }

                    var url = basePath + "users/getUsers";
                    axios.get(url)
                        .then(function (result) {
                            if (result.data.code == "1") {
                                self.collectionGroup1AllUsers = result.data.data;
                            }
                        })

                },
                getCollectionGroup2AllUsers: function () {
                    if (this.editCompanyCollectionUser.collectionGroup2AllUsers.length > 0) {
                        return;
                    }
                    var url = basePath + "users/getUsers";

                    axios.get(url)
                        .then(function (result) {
                            if (result.data.code == "1") {
                                self.collectionGroup2AllUsers = result.data.data;
                            }
                        })
                },
                saveSingleCompanyCollectionUserSetting:function()
                {
                    var self=this;
                    var url = basePath + "collectionStrategy/saveSingleCompanyCollectionUserSetting";
                    axios.post(url,self.editCompanyCollectionUser.editCompanyCollectionForm)
                        .then(function (result) {
                            if (result.data.code == "1") {
                                self.$Modal.success({
                                    content: "保存成功"
                                })
                            }
                        })
                },
                showSingleCompanyCollectionUserSetting:function(companyId)
                {
                    this.editCompanyCollectionUser.editCompanyCollectionForm.companyId=companyId;
                    this.getCollectionGroup1AllUsers();
                    this.getCollectionGroup2AllUsers();
                    var url = basePath + "collectionStrategy/getSingleCompanyCollectionUserSetting";

                    axios.get(url)
                        .then(function (result) {
                            if (result.data.code == "1") {
                                self.collectionGroup2AllUsers = result.data.data;
                            }
                        })
                    this.editSingleCompanyCollectionUserSettingModal=true;

                }

            },
            mounted: function () {
                this.init();
            }

        })
    });
</script>
</body>
</html>