<!DOCTYPE html>
<!--suppress ALL -->
<html lang="zh-cn">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>通知公告</title>
    <script src="/properties/config.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/css/themes/default.css" />
    <!-- iview样式 -->
    <link rel="stylesheet" type="text/css" href="/plugins/iview/css/iview.css" />
    <!--@import url("//unpkg.com/iview/dist/styles/iview.css");-->
    <!--<link rel="stylesheet" type="text/css" href="//unpkg.com/iview/dist/styles/iview.css"/>-->
    <!-- 引入layui样式 -->
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all" />

    <!--   <script src="//unpkg.com/vue/dist/vue.js"></script>
       <script src="//unpkg.com/iview/dist/iview.min.js"></script>-->
    <!-- 引入vue -->
    <script type="text/javascript" src="/plugins/vue/vue.min.js"></script>
    <!-- iview js -->
    <script type="text/javascript" src="/plugins/iview/js/iview.js"></script>
    <!--引入layui.js-->
    <script src="/plugins/layui/layui.js"></script>
    <!--引入axios.js 用于ajax调用-->
    <script src="/plugins/axios/axios.min.js"></script>
    <!-- 引入jQuery，必须在appToken.js 之前引入 -->
    <script src="/build/js/jquery-3.3.1.min.js"></script>
    <!-- 设置全局请求头:app、Authorization -->
    <script src="/build/js/appToken.js"></script>
    <!--引入公共的一些方法-->
    <script src="/src/js/comm.js"></script>
</head>

<body>
    <!--隐藏元素-->
    <!--<p id="staffType"  th:attr="value=${staffType}"  hidden />-->
    <!--使用v-cloak技术，在vue渲染完毕前隐藏页面，渲染完成后显示-->
    <div id="app" v-cloak>
        <card dis-hover :bordered="false">
            <span slot="title">通知公告</span>
            <row>
                <i-col span="24" style="text-align:right">
                    <i-form ref="schForm" :model="schForm" label-position="right" autocomplete="off" label-width="100" inline>
                        <form-item label="标题">
                            <i-input :value.sync="schForm.title" v-model="schForm.title"></i-input>
                        </form-item>
                        <form-item label="发布时间">
                            <Date-picker type="daterange" placeholder="时间范围" :value.sync="schForm.date" v-model="schForm.date"  ></Date-picker>
                        </form-item>
                        <i-button @click="search">查询</i-button>
                    </i-form>
                </i-col>
            </row>
            <row>
                <i-col>
                    <i-button @click="openEditorModal('add')">新增</i-button>
                </i-col>
            </row>

            <Row>
                <i-col span="24">
                    <table id="notice" lay-filter="notice"></table>
                    <script type="text/html" id="toolbar">
                        <!-- <a class="layui-btn layui-btn-xs" lay-event="check">查阅记录</a> -->
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
                    </script>
                </i-col>
            </Row>
        </card>

        <Modal :title="editModal.title" v-model="editModal.show" width="90%">
            <i-form ref="editForm" :model="editForm" :rules="ruleValidate" label-position="right" autocomplete="off" label-width="100"
                inline>
                <row>
                    <i-col span="24">
                        <form-item label="标题" prop="title">
                            <i-input :value.sync="editForm.title" v-model="editForm.title"></i-input>
                        </form-item>
                    </i-col>
                </row>
                <row>
                    <i-col span="8">
                        <form-item label="公告类型" prop="type">
                            <i-select :model.sync="editForm.type" v-model="editForm.type">
                                <i-option value="0">选读</i-option>
                                <i-option value="1">必读</i-option>
                            </i-select>
                        </form-item>
                    </i-col>
                    <i-col span="8">
                        <form-item label="时长" prop="readTime" :class="readTimeRequired">
                            <i-select :model.sync="editForm.readTime" v-model="editForm.readTime">
                                <i-option value="10">10秒</i-option>
                                <i-option value="15">15秒</i-option>
                                <i-option value="20">20秒</i-option>
                                <i-option value="30">30秒</i-option>
                                <i-option value="45">45秒</i-option>
                                <i-option value="60">60秒</i-option>
                            </i-select>
                        </form-item>
                    </i-col>
                </row>
                <row>
                    <i-col span="16">
                        <form-item label="公告范围" prop="orgCode">
                            <i-select :model.sync="editForm.orgCode" v-model="editForm.orgCode" style="width:10rem" multiple filterable>
                                <i-option value="鸿特信息">鸿特信息</i-option>
                                <i-option v-for="item in deptIds" :value="item.value">{{item.label}}</i-option>
                            </i-select>
                        </form-item>
                    </i-col>
                    <i-col span="8">
                        <form-item label="发布渠道" prop="publishChannel">
                            <i-select :model.sync="editForm.publishChannel" v-model="editForm.publishChannel">
                                <i-option value="PC端">PC端</i-option>
                                <i-option value="移动端">移动端</i-option>
                            </i-select>
                        </form-item>
                    </i-col>
                </row>
                <!-- <row>
                    <i-col span="8">
                        <form-item label="公告发布时间" prop="publishDate">
                            <date-picker type="date" :value.sync="editForm.publishDate" v-model="editForm.publishDate" @on-change="onDateChange"></date-picker>
                        </form-item>
                    </i-col>
                </row> -->
                <row>
                    <i-col span="24">
                        <form-item label="内容" prop="content" style="width:100%">
                            <i-input type="textarea" :rows="4" placeholder="请输入..." :value.sync="editForm.content" v-model="editForm.content"></i-input>
                        </form-item>
                    </i-col>
                </row>
            </i-form>

            <row>
                <card>
                    <p slot="title" style="height:2rem;line-height:2rem">
                        <span>附件信息</span>
                        <i-button style="float:right" size="small" @click="addUploadItem">新增附件</i-button>
                    </p>
                    <row v-for="item in editForm.attachment">
                        <i-col span="4">附件{{item.id}}</i-col>
                        <i-col span="8">
                            <!--  :max-size="upload.maxSize" -->
                            <Upload :action="upload.url" :headers="upload.headers" :data="{businessId:'通知公告',uploadItemId:item.id}" :before-upload="beforeUpload"
                                :on-success="onUploadSuccess" :on-error="onUploadError" :on-format-error="onFormatError" :on-exceeded-size="onExceededSize">
                                <i-button type="ghost" icon="ios-cloud-upload-outline">上传附件</i-button>
                            </Upload>
                        </i-col>
                        <i-col span="4">重命名文件名</i-col>
                        <i-col span="4">
                            <i-input :value.sync="item.noticeFileNewName" v-model="item.noticeFileNewName"></i-input>
                        </i-col>
                        <i-col span="4" style="text-align:center">
                            <i-button type="ghost" @click="delUploadItem(item.id)">删除</i-button>
                        </i-col>
                    </row>
                </card>
            </row>
            <row slot="footer">
                <i-button @click="onSaveNotice">保存</i-button>
                <i-button @click="closeEditModal">撤销</i-button>
                <i-button @click="openReviewModal">公告预览</i-button>
            </row>
        </Modal>


        <Modal v-model="previewModal.show" width="90%">
            <Card>
                <p solt="title">
                    <h2 style="text-align:center">{{previewModal.notice.noticeTitle}}</h2>
                </p>
                <p style="margin:1rem 0;text-align:right">
                    <span style="margin-right: 10px">作者:{{previewModal.notice.createUserId}}</span>
                    <span>发布时间:{{previewModal.notice.publishTime}}</span>
                </p>
                <div v-html="previewModal.notice.noticeContent"></div>
                <p style="margin:1rem 0;">
                    <span>相关附件:</span>
                    <p v-for="i in previewModal.notice.fileList">
                        <a :href="('http://xiaodaioa.oss-cn-beijing.aliyuncs.com'+i.fileUrl)" target="_blank">{{i.fileName}}</a>
                    </p>
                    <p v-if="previewModal.notice.fileList.length==0">无</p>
                </p>
            </Card>
        </Modal>
    </div>
    <script src="/src/js/Notice/index.js"></script>
    <script>
    </script>
</body>

</html>