<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.SysBankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.SysBank">
        <id column="bank_code" property="bankCode" />
        <result column="bank_name" property="bankName" />
        <result column="enterprise_support" property="enterpriseSupport" />
        <result column="personal_support" property="personalSupport" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bank_code AS bankCode, bank_name AS bankName, enterprise_support AS enterpriseSupport, personal_support AS personalSupport, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser
    </sql>




    <select id="selectBankLimitList" resultType="com.hongte.alms.base.vo.module.BankLimitVO">

      
 
		select bank.bank_name as bankName,bLimit.once_limit as onceLimit,bLimit.day_limit as dayLimit,p.platform_name as platformName from tb_sys_bank bank
		
		left join tb_sys_bank_limit bLimit on
		
		bank.bank_code=bLimit.bank_code
		
		left join tb_withholding_platform p on p.platform_id=bLimit.platform_id



        <where>
               1=1
            <if test="bankName !=null and bankName !=''">
                and (bank.bank_code  LIKE '%${bankCode}%' )
            </if>
            <if test="platfromId !=null and platfromId !=''">
                and p.platform_id = #{platfromId}
            </if>


             where bLimit.`status`='1'
        </where>
      
    


    </select>
</mapper>
