<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.SysParameterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.SysParameter">
        <id column="param_id" property="paramId" />
        <result column="param_name" property="paramName" />
        <result column="param_type" property="paramType" />
        <result column="param_type_name" property="paramTypeName" />
        <result column="param_value" property="paramValue" />
        <result column="param_value2" property="paramValue2" />
        <result column="param_value3" property="paramValue3" />
        <result column="param_value4" property="paramValue4" />
        <result column="param_value5" property="paramValue5" />
        <result column="parent_paramId" property="parentParamId" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="row_Index" property="rowIndex" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        param_id AS paramId, param_name AS paramName, param_type AS paramType, param_type_name AS paramTypeName, param_value AS paramValue, param_value2 AS paramValue2, param_value3 AS paramValue3, param_value4 AS paramValue4, param_value5 AS paramValue5, parent_paramId AS parentParamId, remark, status, row_Index AS rowIndex, create_user AS createUser, create_time AS createTime, update_user AS updateUser, update_time AS updateTime
    </sql>

</mapper>
