<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.mapper.CollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.entity.Collection">
        <id column="business_id" property="businessId" />
        <result column="after_id" property="afterId" />
        <result column="status" property="status" />
        <result column="collection_user" property="collectionUser" />
        <result column="assign_remark" property="assignRemark" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="hand_to_remark" property="handToRemark" />
        <result column="process_id" property="processId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id AS businessId, after_id AS afterId, status, collection_user AS collectionUser, assign_remark AS assignRemark, create_user AS createUser, create_time AS createTime, update_user AS updateUser, update_time AS updateTime, hand_to_remark AS handToRemark, process_id AS processId
    </sql>

</mapper>
