<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.collection.mapper.CollectionTrackLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.collection.entity.CollectionTrackLog">
        <id column="track_log_id" property="trackLogId" />
        <result column="rbp_id" property="rbpId" />
        <result column="recorder_user" property="recorderUser" />
        <result column="record_date" property="recordDate" />
        <result column="track_status_id" property="trackStatusId" />
        <result column="track_status_name" property="trackStatusName" />
        <result column="is_send" property="isSend" />
        <result column="send_status" property="sendStatus" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="success_project_id" property="successProjectId" />
        <result column="fail_project_id" property="failProjectId" />
        <result column="is_resend" property="isResend" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        track_log_id AS trackLogId, rbp_id AS rbpId, recorder_user AS recorderUser, record_date AS recordDate, track_status_id AS trackStatusId, track_status_name AS trackStatusName, is_send AS isSend, send_status AS sendStatus, content, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser,success_project_id AS successProjectId,fail_project_id AS failProjectId,is_resend AS isResend
    </sql>

    <!-- 带有表名的查询结果 -->
    <sql id="Base_Column_List_tabName">
        log.track_log_id AS trackLogId, log.rbp_id AS rbpId, log.recorder_user AS recorderUser, log.record_date AS recordDate, log.track_status_id AS trackStatusId, log.track_status_name AS trackStatusName, log.is_send AS isSend, log.send_status AS sendStatus, log.content, log.create_time AS createTime, log.create_user AS createUser, log.update_time AS updateTime, log.update_user AS updateUser,log.success_project_id AS successProjectId,log.fail_project_id AS failProjectId,is_resend AS isResend
    </sql>


    <select id="selectCollectionTrackLogByRbpId" resultType="com.hongte.alms.base.collection.vo.CollectionTrackLogVo">

        select
        <include refid="Base_Column_List_tabName"/>
        ,pList.period as periods

        FROM tb_collection_track_log as log
        LEFT JOIN tb_repayment_biz_plan_list as pList
        ON log.rbp_id = pList.plan_list_id
        WHERE log.rbp_id = #{rbpId}
        ORDER BY log.record_date DESC,log.record_date DESC
    </select>

    <select id="selectProjectIdByRbpId" resultType="String">

        SELECT
            t2.project_id  AS projectId
        FROM
            tb_repayment_biz_plan_list t1
        JOIN tb_tuandai_project_info t2 ON t1.business_id = t2.business_id
        WHERE
            t1.plan_list_id = #{rbpId}
    </select>


</mapper>
