<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.collection.mapper.CollectionStatusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.collection.entity.CollectionStatus">
        <id column="business_id" property="businessId" />
        <result column="crp_id" property="crpId" />
        <result column="collection_status" property="collectionStatus" />
        <result column="phone_staff" property="phoneStaff" />
        <result column="visit_staff" property="visitStaff" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="describe" property="describe" />
        <result column="set_way" property="setWay" />
        <result column="crp_type" property="crpType" />
        <result column="original_business_id" property="originalBusinessId" />
        <result column="after_id" property="afterId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        business_id AS businessId, crp_id AS crpId, collection_status AS collectionStatus, phone_staff AS phoneStaff, visit_staff AS visitStaff, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser, describe, set_way AS setWay, crp_type AS crpType, original_business_id AS originalBusinessId, after_id AS afterId
    </sql>


    <sql id="Table_Column_List">
      colSstatus.business_id AS businessId, colSstatus.crp_id AS crpId, colSstatus.collection_status AS collectionStatus, colSstatus.phone_staff AS phoneStaff, colSstatus.visit_staff AS visitStaff, colSstatus.create_time AS createTime, colSstatus.create_user AS createUser, colSstatus.update_time AS updateTime, colSstatus.update_user AS updateUser, colSstatus.`describe` AS `describe` , colSstatus.set_way AS setWay, colSstatus.crp_type AS crpType
    </sql>

    <sql id="selectPerson_SQL">
        SELECT COUNT(1) as counts,
        <include refid="Table_Column_List"></include>

        FROM  tb_collection_status colSstatus
        WHERE 1=1
        <if test="staffType == 'phoneStaff'">
             AND phone_staff IN
            <foreach collection="staffs" index="index" item="staff"
                     separator="," open="(" close=")">
                #{staff}
            </foreach>
        </if>
        <if test="staffType == 'visitStaff'">
            AND visit_staff IN
            <foreach collection="staffs" index="index" item="staff"
                     separator="," open="(" close=")">
                #{staff}
            </foreach>
        </if>

        AND collection_status= #{colStatus}
        AND crp_type = #{crpType}
        GROUP BY phone_staff
        ORDER BY counts ASC

    </sql>

    <!-- status.* -->
    <select id="selectLimitPerson" resultType="com.hongte.alms.base.collection.entity.CollectionStatus">

        <include refid="selectPerson_SQL"></include>

        LIMIT 1

    </select>

    <select id="selectAllPersons" resultType="com.hongte.alms.base.collection.dto.CollectionStatusCountDto">
        <include refid="selectPerson_SQL"></include>
    </select>

	<select id="getRecentlyCollectionStatus"
		resultType="com.hongte.alms.base.collection.entity.CollectionStatus">
		select 
		    <include refid="Table_Column_List"></include>
		from tb_collection_status colSstatus  join

	

( select a.* from tb_repayment_biz_plan_list a where a.period &lt; (

select t.period from tb_repayment_biz_plan_list t where t.plan_list_id=#{pListId}
)

and a.orig_business_id=#{originalBusinessId}  ) a  on a.plan_list_id=colSstatus.crp_id   and colSstatus.phone_staff is not null order by colSstatus.create_time  desc limit 1

	</select>


</mapper>

