<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.collection.mapper.CollectionLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.collection.entity.CollectionLog">
        <id column="id" property="id" />
        <result column="business_id" property="businessId" />
        <result column="crp_id" property="crpId" />
        <result column="after_status" property="afterStatus" />
        <result column="after_status" property="afterStatus" />
        <result column="collection_user" property="collectionUser" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="describe" property="describe" />
        <result column="set_way" property="setWay" />
        <result column="before_status" property="beforeStatus" />
        <result column="set_type_status" property="setTypeStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      id, business_id AS businessId, crp_id AS crpId, after_status AS afterStatus, collection_user AS collectionUser, create_time AS createTime, create_user AS createUser, update_time AS updateTime, update_user AS updateUser, describe, set_way AS setWay, before_status AS beforeStatus, set_type_status AS setTypeStatus
    </sql>

</mapper>



