<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongte.alms.base.collection.mapper.CollectionPersonSetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hongte.alms.base.collection.entity.CollectionPersonSet">
        <id column="col_person_id" property="colPersonId" />
        <result column="area_code" property="areaCode" />
        <result column="company_code" property="companyCode" />
        <result column="create_time" property="createTime" />
        <result column="creat_user" property="creatUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        col_person_id AS colPersonId, area_code AS areaCode, company_code AS companyCode, create_time AS createTime, creat_user AS creatUser, update_time AS updateTime, update_user AS updateUser
    </sql>

    <select id="getCollectionPersonSettingList" resultType="com.hongte.alms.base.vo.module.CollectionStrategyPersonSettingVo" parameterType="com.hongte.alms.base.vo.module.CollectionStrategyPersonSettingReq">
        select
        colset.col_person_id as id,
        colset.area_code as areaId,
        colset.company_code as companyId,
        colset.business_type as businessType,
        (select bcom.area_name from tb_basic_company bcom where bcom.area_id = colset.area_code) as areaName,
        (select bcom.area_name from tb_basic_company bcom where bcom.area_id = colset.company_code) as companyName,
        (
        CASE
        WHEN (select btype.business_type_name from  tb_basic_business_type btype where btype.business_type_id = colset.business_type) IS NULL THEN
        '全部'
        ELSE
        (select btype.business_type_name from  tb_basic_business_type btype where btype.business_type_id = colset.business_type)
        END
        ) AS businessTypeName,
        detail.group1Users as collect1Person,
        detail.group2Users as collect2Person,
        detail.group1UserIds as col1Pids,
        detail.group2UserIds as col2Pids

        from tb_collection_person_set  colset
        join  tb_basic_company  areaCom on colset.area_code = areaCom.area_id
        join  tb_basic_company com on colset.company_code = com.area_id
        join (SELECT
        col_person_id,
        max(
        CASE team
        WHEN 1 THEN
        users
        ELSE
        ''
        END
        ) group1Users,
        max(
        CASE team
        WHEN 1 THEN
        userIds
        ELSE
        ''
        END
        ) group1UserIds,
        max(
        CASE team
        WHEN 2 THEN
        users
        ELSE
        ''
        END
        ) group2Users,
        max(
        CASE team
        WHEN 2 THEN
        userIds
        ELSE
        ''
        END
        ) group2UserIds
        FROM
        (
        SELECT
        tb_collection_person_set_detail.col_person_id,
        tb_collection_person_set_detail.team,
        group_concat(
        tb_sys_user.user_name
        ORDER BY
        tb_sys_user.user_name
        ) AS users,
        group_concat(
        tb_sys_user.user_id
        ORDER BY
        tb_sys_user.user_id
        ) AS userIds
        FROM
        tb_collection_person_set_detail
        INNER JOIN tb_sys_user ON tb_collection_person_set_detail.user_id = tb_sys_user.user_id
        GROUP BY
        tb_collection_person_set_detail.col_person_id,
        tb_collection_person_set_detail.team
        ) AS a
        GROUP BY
        a.col_person_id) as detail  on detail.col_person_id = colset.col_person_id
        -- where  areaCom.area_name = '西南片区' and com.area_name='昆明分公司'  and (detail.group1Users like '%张%'  or detail.group2Users like '%a%' )



        <where>
            <if test="areaId !=null and areaId !=''">
                and  colset.area_code =#{areaId}
            </if>
            <if test="companyId !=null and companyId !='' ">
                and  colset.company_code = #{companyId}
            </if>
            <if test="userName !=null and userName !='' ">
                and (detail.group1Users like '%${userName}%'  or detail.group2Users like '%${userName}%' )
            </if>
        </where>


    </select>



</mapper>
